.climatCatalogue {
    @extend .container;
    display: flex;
    flex-direction: column;
	align-items: center;

    &:not(.climatCatalogue_main) {
        @extend .b-texture;
        @extend .b-texture_sand;
    }

    &__all {
        @extend .button;
        @extend .button_gray;
        width: 100%;
        margin: 0 rem(10);
        margin-bottom: rem(29);

        @include below($mobile) {
            width: 100%;
            margin: 0;
            margin-bottom: rem(26);
        }
    }

	&__filter-clear {
		position: relative;
		display: none;
		color: #808890;
		font-family: $helvetica;
		font-size: rem(14);
		font-weight: 300;
		line-height: rem(16);
		text-decoration: none;

		&::before {
			position: absolute;
			content: '';
			bottom: rem(0);
			left: 0;
			width: 100%;
			border-bottom: rem(1) dashed #808890;
			transition: all .3s;
		}

		&:hover {
			&::before {
				bottom: rem(-2)
			}
		}
	}

    &__sort-select {
		position: relative;
        width: rem(244);
        height: rem(40);
        border-radius: rem(30);
        border: rem(1) solid #808890;
        background-color: #ffffff;

		overflow: hidden;

		&::after {
			position: absolute;
			content: '';
			width: rem(12);
			height: rem(6);
			top: 50%;
			right: rem(17);
			transform: translateY(-50%);
			background-image: url('/img/gui/arrow.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}

		select {
			@extend .input;
			width: rem(244);
	        height: rem(40);
	        padding: rem(8) rem(16);
			border-radius: rem(30);
			outline: none;
			border: none;
			overflow: hidden;
			background-color: $white;
			-webkit-appearance: none;
			 -moz-appearance: none;
			 appearance: none;
		}

        @include above($mobile) {
            display: none;
        }
    }

    &__heading {
        width: 100%;
        position: relative;
		margin: 0;
        margin-bottom: rem(12);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(40);
        text-align: center;
        text-decoration: none;

        @include above($mobile) {
            display: none;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

		margin-bottom: rem(48);
        width: 100%;

        @include below($mobile) {
            flex-direction: column;

            &::before {
                display: none;
            }
        }



        aside {
            display: flex;
            flex-direction: column;

            .linkBlock {
                width: rem(280);
                height: rem(217);

				@include below($tablet) {
					width: rem(236);
					height: rem(320);
				}

                @include below($mobile) {
                    width: 100%;
                    height: rem(217);
                }

                &:not(:last-of-type) {
                    margin-bottom: rem(32);

					@include below($tablet) {
						margin-bottom: rem(16);
					}

                    @include below($mobile) {
                        margin-bottom: rem(24);
                    }
                }

                &:first-of-type {
                    margin-top: auto;

					@include below($tablet) {
						margin-top: rem(16);
					}

                    @include below($mobile) {
                        margin-top: rem(40);
                    }
                }
            }
        }
    }

	&__link {
		@extend .button;
	}

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: calc(100% - 280px);
        margin-right: rem(-10);
        margin-left: rem(-10);
        margin-bottom: rem(-32);
        align-content: flex-start;

        @include below($tablet) {
            width: calc(100% - 232px);
            margin-right: rem(-10);
            margin-left: rem(-10);
            margin-bottom: rem(-16);
        }

        @include below($mobile) {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        .climatCard {
            width: calc(33.3% - 20px);
            margin: 0 rem(10);
            margin-bottom: rem(32);

            @include below($tablet) {
                width: calc(50% - 20px);
                margin: 0 rem(10);
                margin-bottom: rem(16);
            }

            @include below($mobile) {
                width: 100%;
                margin: 0;
                margin-bottom: rem(12);
            }

            &_horisontal {
                width: calc(100% - 20px);
            }
        }
    }

    &__filter-open {
        position: absolute;
        top: 50%;
        right: rem(-16);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 40px;
        padding: rem(12) rem(20);
        padding-left: rem(10);
        background-color: #b9bec3;
        border-radius: rem(50) 0 0 rem(50);
        text-decoration: none;
		transform: translateY(-50%);

        img {
            width: 100%;
            height: 100%;
        }

        @include above($mobile) {
            display: none;
        }

        @include below($mobile-small) {
            right: rem(-8);
        }
    }

    &__filter-overtitle {
        margin: 0;
        margin-bottom: rem(21);
        padding-left: rem(16);
        color: #485058;
        font-family: $playfair;
        font-size: rem(22);
        font-weight: 400;
        line-height: rem(26);
        text-align: center;

        @include above($mobile) {
            display: none;
        }
    }

    &__filter-close {
        position: absolute;
        top: rem(16);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(50);
        height: rem(40);
        border-radius: 0 rem(50) rem(50) 0;
        background-color: #ffffff;
        padding: rem(12) rem(24);
        padding-right: rem(18);

        img {
            width: rem(16);
            height: rem(8);
            transform: rotate(90deg);
        }

        @include above($mobile) {
            display: none;
        }
    }

    &__filter-apply {
        @extend .button;
        width: calc(50% - 4px);
        height: rem(36);
        color: #ffffff;
        font-family: $helvetica;
        font-size: rem(14);
    }

    &__filter-resetall {
        @extend .button;
        width: calc(50% - 4px);
        height: rem(36);

        color: #dc1414;
        font-family: $helvetica;
        font-size: rem(14);
        border-radius: rem(5);
        border: rem(2) solid #dc1414;
        background-color: #ffffff;
		box-shadow: none;
    }

    &__filter-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: rem(16);

        @include above($mobile) {
            display: none;
        }
    }

    &__filter {

        width: rem(280);
        padding: rem(32) rem(18);
        border-radius: 4px;
        background-color: #ffffff;
        padding-bottom: rem(45);

        &-content {
            display: flex;
            flex-direction: column;
            background-color: $white;
            height: 100%;

            @include below($mobile) {
                padding: rem(40) rem(16);
                padding-bottom: rem(16);
                border-radius: rem(4);
                height: calc(100% - 160px);
            }
        }

		@include below($tablet) {
			width: rem(236);
			padding: rem(32) rem(8);
			padding-bottom: rem(32);

            .irs-handle {
                width: rem(25);
                height: rem(25);
                border: rem(8) solid #f4f6f8;
                top: rem(44);
            }

            .irs-bar,
            .irs-line {
                height: rem(9);
            }

            .irs-from,
            .irs-to,
            .irs-single,
            .irs-max,
            .irs-min {
                font-size: rem(22);
                line-height: rem(22);
            }
		}

        @include below($mobile) {
            display: flex;
            flex-direction: column;
			position: fixed;
            width: 100vw;
            height: 100vh;
            padding: rem(20) rem(8);
		    top: 0;
		    right: -100vw;
            z-index: 99999;
            transition: right .3s;
            background-color: #b9bec3;


            &.opened {
                right: 0;

                .climatCatalogue__filter-content {
                    overflow-y: scroll;
                    -webkit-overflow-scrolling: touch;
                }
            }
        }

        &-title {
            position: relative;
            margin: 0;
            margin-bottom: rem(16);
			padding-right: rem(20);

            color: #485058;
            font-family: $playfair;
            font-size: rem(20);
            font-weight: 400;
            line-height: rem(24);
            cursor: pointer;

            &::after {
                position: absolute;
                content: '';
                width: rem(16);
                height: rem(8);
                right: 0;
                top: rem(10);
                background-image: url('/img/arrow-down.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &-more {
            margin-top: rem(32);
            color: #babec2;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(24);
            text-decoration: none;

            span {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: rem(-1);
                    left: 0;
                    width: 100%;
                    border-bottom: rem(1) dashed #babec2;
                    transition: bottom .3s;
                }
            }

            &:hover {
                span {
                    &::after {
                        bottom: rem(-4);
                    }
                }
            }
        }

        &-reset {
            position: relative;
            padding-left: rem(24);
            margin-top: rem(32);
            color: #babec2;
            font-family: $helvetica;
            font-size: rem(16);
            line-height: rem(24);
            text-decoration: none;
            cursor: pointer;

            @include below($mobile) {
                display: none;
            }

			span {
				position: relative;

				&::before {
					position: absolute;
					content: '';
					bottom: rem(-2);
					left: 0;
					width: 100%;
					border-bottom: rem(1) dashed #babec2;
					transition: all .3s;
				}
			}

			&:hover {
				span {
					&::before {
						bottom: rem(-4);
					}
				}
			}

            &::after {
                position: absolute;
                content: '';
                width: rem(12);
                height: rem(12);
                left: 0;
                top: 50%;
                background-image: url('/img/gui/Close.svg');
                background-size: cover;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            &:not(.opened) {
                & > *:not(.climatCatalogue__filter-title) {
                    display: none;
                }

                .climatCatalogue__filter-title {
                    margin-bottom: 0;
                }
            }

            &.opened {
                .climatCatalogue__filter-title {
                    &::after {
                        transform: rotate(180deg);
                    }
                }

				.climatCatalogue__filter-clear {
					display: inline;
				}
            }

            &:not(:last-of-type) {
                margin-bottom: rem(32);
            }

            .checkbox,
            .radio {
                justify-content: flex-start;

                &:not(:last-of-type) {
                    margin-bottom: rem(8);

					@include below($tablet) {
						margin-bottom: rem(16);
					}
                }
            }
        }
    }

    &__sort {
        display: flex;
		align-items: center;
        justify-content: space-between;
        width: calc(100% - 300px);
        margin-bottom: rem(29);

        @include below($mobile) {
            display: none;
        }

        p,
        a {
            margin: 0;
            color: #808890;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
        }

        @include below($tablet) {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        &-item {
            display: flex;
		    align-items: flex-start;
            cursor: pointer;

            p {
				position: relative;
                margin: 0;
                color: #808890;
                font-family: $helvetica;
                font-size: rem(16);
                font-weight: 300;
				line-height: 1;
				transition: color .3s;

				&::before {
					position: absolute;
					content: '';
					left: 0;
					bottom: rem(-2);
					width: 100%;
					height: rem(1);
					border-bottom: rem(1) dashed #808890;
					transition: all .3s;
				}
            }

			&:hover {
				p {
					&::before {
						bottom: rem(-4);
					}
				}
			}

			&.active {
				p {
					color: #dc1414;

					&::before {
						border-color: #dc1414;
					}
				}
			}

            input {
                display: none;
            }

            &_multiple {
                p {
                    position: relative;
                    padding-right: rem(26);

                    &::after {
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 50%;
                        width: rem(18);
                        height: rem(10);
                        background-image: url('/img/gui/arrow.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        transform: translateY(-50%);
                    }

					&::before {
						width: calc(100% - 26px);
					}
                }

                input:checked ~ p:after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    &__orientation {
        display: flex;
        width: rem(54);
        height: rem(24);
        box-shadow: inset 0 1px 0 #808890;
        border-radius: rem(5);
        background-color: #babec2;

        label {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 50%;
            height: 100%;

            input {
                display: none;
            }

            span {

            }

            svg {
                position: relative;
                z-index: 3;

                g {
                    stroke: #F4F6F8;
                }
            }
        }

        input:checked ~ span:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 28px;
            height: 24px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #dfe1e3;
            border-radius: 5px;
            background-color: #f9fafb;

        }

        input:checked ~ svg g {
            stroke: #808890;
        }
    }

    &__result {
        display: flex;
		align-items: center;
        width: rem(280);
        padding-left: rem(18);
        margin: 0;
        margin-bottom: rem(29);

        color: #485058;
        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;

		@include below($tablet) {
			display: none;
        }
    }

    &_main {

		.second-title {
			@include below($mobile) {
				margin-bottom: rem(32);
			}
		}

		.climatCatalogue__filter {
			@include above($mobile) {
				padding-top: 0;
			}
		}

        .climatCatalogue__content {
            @extend .b-texture;
            @extend .b-texture_sand;

            &::before {
                top: rem(46);
                height: calc(100% - 92px);
            }
        }

		.climatCard {
            @include below($tablet) {
                width: calc(100% - 20px);
                flex-direction: row;
                padding: 0;
            }

			@include below($mobile) {
				width: 100%;
			}

            &__heading {
                @include below($tablet) {
                    width: rem(151);
                    flex-shrink: 0;
                    margin-right: rem(16);
                }

				@include below($mobile) {
					width: rem(148);
                    margin-right: rem(8);
				}
            }

            &__controls {
                @include below($tablet) {
					display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding-left: rem(20);
                }
            }

            &__comparison,
            &__favourites {
                @include below($tablet) {
                    font-size: rem(12);
                    line-height: rem(12);
                }
            }

            &__comparison {
                @include below($tablet) {
                    margin-bottom: rem(26);
                }

                @include below($mobile) {
                    margin-bottom: rem(16);
                }
            }

            &__info {
                @include below($tablet) {
                    padding: rem(32) rem(16);
                    padding-left: 0;
                    padding-bottom: rem(20);
                }

                @include below($mobile) {
                    padding-bottom: rem(32);
                }
            }

            &__name {
                @include below($tablet) {
                    font-size: rem(16);
                    line-height: 1;
                    margin-bottom: rem(2);
                }
            }

            &__model {
                @include below($tablet) {
                    font-size: rem(12);
                    line-height: 1;
                    margin-bottom: rem(10);
					letter-spacing: 0.5;
                }
            }

            &__ratimg {
                @include below($tablet) {
                    padding-left: 40%;
					margin-bottom: rem(24);
                }

				@include below($mobile) {
                    padding-left: 0;
                }

                p {
                    @include below($tablet) {
                        font-size: rem(12);
                        line-height: rem(12);
                    }
                }

                &::before {
                    @include below($tablet) {
                        width: 40%;
                    }
                }
            }

            &__params {
                @include below($tablet) {
                    flex-direction: column;
                    margin-bottom: rem(16);
                }

                p {
                    @include below($tablet) {
                        display: none;
                    }
                }

                dl {
                    @include below($tablet) {
                        display: flex;
                    }
                }
            }

            &__pay {
                @include below($tablet) {
                    flex-wrap: nowrap;
                }
            }

            &__old-price {
                @include below($tablet) {
                    width: auto;
                    margin-right: rem(8);
                    margin-bottom: 0;
                }

				@include below($mobile) {
					margin-right: 0;
                    margin-bottom: rem(22);
                }

                span {

                    &:first-of-type {
                        @include below($tablet) {
                            font-size: rem(10);
                            line-height: rem(16);
                        }

						@include below($mobile) {
							font-size: rem(12);
                            line-height: rem(16);
		                }
                    }

                    &:last-of-type {
                        @include below($tablet) {
                            font-size: rem(10);
                            line-height: rem(16);
							margin-left: rem(4);
                        }

						@include below($mobile) {
							font-size: rem(12);
                            line-height: rem(16);
		                }
                    }
                }
            }

            &__price {
                @include below($tablet) {
                    order: -1;
                    font-size: rem(18);
                    line-height: rem(16);
                    margin-right: rem(9);
                }

				@include below($mobile) {
					font-size: rem(26);
					line-height: rem(32);
				}
            }

            &__button {
                @include below($tablet) {
                    height: rem(40);
                    font-size: rem(12);
                }
            }

			@include below($mobile) {
				width: 100%;
			}
		}
    }

    &_detail {
        .titles {
            padding-top: rem(48);
        }
    }
}
