.climatSlider {
    @extend .container;

    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: rem(480);
        padding: rem(69) rem(100);
        padding-right: 45%;
        background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: right bottom;

		@include below($tablet) {
			width: calc(100% + 32px);
			height: rem(400);
			margin-left: rem(-16);
			margin-right: rem(-16);
			padding: rem(48) rem(16);
			padding-bottom: rem(64);
			padding-right: 43%;
		}

		@include below($mobile) {
			width: calc(100% + 32px);
			height: rem(380);
			margin-left: rem(-16);
			margin-right: rem(-16);
			padding: rem(60) rem(8);
            padding-bottom: rem(52);

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
		}

		@include below($mobile-small) {
			width: calc(100% + 16px);
			margin-left: rem(-8);
			margin-right: rem(-8);
		}



        &-overtitle {
            margin: 0;
            margin-bottom: rem(5);
            color: #ffffff;
            font-family: $futura;
            font-size: rem(16);
            font-weight: 400;
            letter-spacing: rem(4);
            text-transform: uppercase;

			@include below($tablet) {
				font-size: rem(14);
				letter-spacing: rem(3.5);
				margin-bottom: rem(8);
			}

            @include below($mobile) {
                position: relative;
                z-index: 2;
                font-size: rem(10);
                line-height: 1;
                text-align: center;
				letter-spacing: rem(2.5);
    		}
        }

        &-title {
            margin: 0;
            margin-bottom: rem(13);
            color: #ffffff;
            font-family: $playfair;
            font-size: rem(48);
            font-weight: 400;
            line-height: rem(56);

			@include below($tablet) {
				font-size: rem(36);
				line-height: rem(48);
				margin-bottom: rem(20);
			}

            @include below($mobile) {
                position: relative;
                z-index: 2;
                font-size: rem(26);
                line-height: rem(36);
				margin-bottom: rem(24);
                text-align: center;
    		}

            span {
                font-size: rem(64);

				@include below($tablet) {
					font-size: rem(48);
				}

                @include below($mobile) {
                    font-size: rem(30);
        		}
            }
        }

        &-subtitle {
            margin: 0;
            margin-bottom: rem(48);
            color: #ffffff;
            font-family: $futura;
            font-size: rem(26);
            font-weight: 400;
            line-height: rem(32);
			hyphens: none;

			@include below($tablet) {
				font-size: rem(20);
				line-height: rem(24);
			}

            @include below($mobile) {
                position: relative;
                z-index: 2;
                text-align: center;
            }
        }

        .button  {
            @include below($mobile) {
                position: relative;
                z-index: 2;
                text-align: center;
                flex-shrink: 0;
                margin: 0 auto;
            }
        }
    }
}
