.climatOrdering {
	padding-top: rem(64);
    padding-bottom: rem(64);
	margin-bottom: rem(80);
	border-bottom: rem(1) solid #babec2;

    @extend .container;
    @include below($mobile) {
        padding-top: rem(40);
        padding-bottom: rem(64);
    }

    &__title {
        margin: 0;
        margin-bottom: rem(40);

        font-family: $playfair;
        font-size: rem(32);
        font-weight: 400;
        color: #50555f;

        @include below($mobile) {
            padding-bottom: rem(18);
            margin-bottom: rem(40);

            font-size: rem(22);
            text-align: center;

            border-bottom: 1px solid #c8c8c8;
        }
    }

    &__subtitle {
        margin: 0;
        margin-bottom: rem(30);

        font-family: $playfair;
        font-size: rem(20);
        font-weight: 400;
        color: #50555a;

        @include below($mobile) {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(53);

            font-size: 0;
        }
    }

    &__cont-step {
        @include below($mobile) {
            font-family: $playfair;
            font-size: rem(36);
            font-weight: 400;
            color: #50555a;
            text-align: center;
        }
    }

    &__step-desc {
        @include below($mobile) {
            font-family: $playfair;
            font-size: rem(22);
            font-weight: 400;
            color: #50555a;
            text-align: center;
        }
    }

    &__label {
        display: flex;
        align-items: center;

        cursor: pointer;
    }

    &__checkbox,
    &__radio {
        display: none;
    }

    &__radio-custom,
    &__checkbox-custom {
        position: relative;

        width: rem(32);
        height: rem(32);
        margin-right: rem(20);

        border: rem(1) solid #50555f;
        border-radius: rem(3);
		background-color: $white;
    }

    &__checkbox-custom,
    &__radio-custom,
    &__input-name {
        display: inline-block;

        vertical-align: middle;

        transition: border .2s;
    }

    &__checkbox:checked + .climatOrdering__checkbox-custom::before,
    &__radio:checked + .climatOrdering__radio-custom::before {
        content: '';

        position: absolute;
        top: rem(7);
        left: rem(7);

        display: block;
        width: rem(16);
        height: rem(16);

        border-radius: rem(2);
        background: $red_crismon;
        background-color: #dc1414;
        box-shadow: inset 0 -1px 0 #a01414;
    }

    &__radio-custom,
    &__radio:checked + .climatOrdering__radio-custom::before {
        border-radius: 50%;
    }

    &__radio-name {
        margin: 0;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 700;
        color: #50555f;

        @include below($tablet) {
            flex-shrink: 99999;
        }
    }

    &__shipping-value {
        .climatOrdering__desc {
            padding-left: rem(51);

			@include below($tablet) {
	            line-height: rem(24);
	        }
        }

        .climatOrdering__price {
            @include below($tablet) {
                order: 2;
				text-align: right;
            }
            @include below($mobile) {
                width: 100%;
                padding-left: rem(51);
                margin: 0;
				text-align: left;
                color: #a7aaad;
            }
        }

        .climatOrdering__label {
            @include below($tablet) {
                order: 1;
                margin-bottom: rem(15);
            }
            @include below($mobile) {
                width: 100%;
                margin: 0;
                margin-bottom: rem(15);
            }
        }

        .climatOrdering__data {
            @include below($tablet) {
                order: 3;
            }
            @include below($mobile) {
                display: none;
            }
        }

        .climatOrdering__desc {
            @include below($mobile) {
                display: none;
            }
        }

        &.active {

			@include below($mobile) {
                padding-bottom: rem(40);
            }

            .climatOrdering__radio-name,
            .climatOrdering__price {
                color: #dc1414;
            }

            .climatOrdering__label {
                @include below($mobile) {
                    display: flex;
					order: -6;
                }
            }

            .climatOrdering__data-city,
            .climatOrdering__data-date {
                @include below($mobile) {
                    margin: 0;
                }
            }

            .climatOrdering__data {
                @include below($mobile) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    padding: 0;

                    &:not(:last-of-type) {
                        margin-bottom: rem(20);
                    }
                }

                p {
                    @include below($mobile) {
                        margin-bottom: rem(5);
                    }
                }

                .climatOrdering__data-wrap {
                    @include below($mobile) {
                        width: 100%;
                    }
                }
            }

            .climatOrdering__desc {
                @include below($mobile) {
                    display: flex;
                    padding-left: 0;
                }
            }

            .climatOrdering__price {
                @include below($mobile) {
                    padding-bottom: rem(20);
					padding-left: rem(51);
					text-align: left;
                    margin-bottom: rem(20);
					order: -1;
                    border-bottom: rem(1) solid #c8c8c8;

                }
            }
        }
    }

	&__paying-value {
		.climatOrdering__desc {
			margin-top: 0;
			padding-top: rem(7);
			align-self: flex-start;
			line-height: rem(24);
		}
	}

    &__shipping-value,
    &__paying-value {
        display: flex;
        flex-direction: column;
        padding: rem(25) rem(20);

        border-radius: 8px;
        background-color: #f8f8f8;

        @include below($mobile) {
            padding: rem(20);
        }

        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }
    }

	&__shipping-content {
		.climatOrdering__data:nth-of-type(4) {
			@include below($mobile) {
	           order: 7;
	        }
		}
	}

    &__shipping-content,
    &__paying-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

		@include below($tablet) {
            align-items: flex-start;
        }
    }

    &__paying-value {
        &.active {
            .climatOrdering__radio-name {
                color: #dc1414;
            }
        }
    }

    &__price {
        width: rem(115);
        margin: 0;
        margin-left: auto;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 700;
        color: #50555f;
        text-transform: uppercase;
    }

    &__data {
        display: flex;
        align-items: center;

        p {
            margin: 0;

            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 300;
            color: #50555f;
			hyphens: none;
        }

		&:nth-of-type(1) {
			@include below($mobile) {
				order: 5;
			}
		}

		&:nth-of-type(2) {
			@include below($mobile) {
				order: 1;
			}
		}

		&:nth-of-type(3) {
			@include below($mobile) {
				order: 6;
			}
		}

		&:nth-of-type(4) {
			@include below($mobile) {
				order: 2;
			}
		}

		&:nth-of-type(5) {
			@include below($mobile) {
				order: 7;
			}
		}

		&:nth-of-type(6) {
			@include below($mobile) {
				order: 3;
			}
		}

		&:nth-of-type(7) {
			@include below($mobile) {
				order: 8;
			}
		}

		&:nth-of-type(8) {
			@include below($mobile) {
				order: 4;
			}
		}

		&:nth-of-type(9) {
			@include below($mobile) {
				order: 9;
			}
		}

		&:nth-of-type(10) {
			@include below($mobile) {
				order: 10;
			}
		}
    }

    &__data-wrap {
        position: relative;

        height: rem(40);
        overflow: hidden;

        border: rem(1) solid #c8c8c8;
        border-radius: rem(5);
        background-color: #fff;
    }

    &__data-wrap {
        select,
        input {
            width: 100%;
            height: 100%;
            padding-right: rem(30);
            padding-left: rem(20);

            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 300;
            color: #50555f;

            border: none;
            outline: none;

            -webkit-appearance: none;
               -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                   -moz-appearance: textfield;
            }
        }
    }

    &__select {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            top: 50%;
            right: rem(15);

            width: rem(12);
            height: rem(6);

            background-image: url('/img/gui/select-arrow.png');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
        }
    }

    &__date {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            top: 50%;
            right: rem(10);

            width: rem(20);
            height: rem(21);

            background-image: url('/img/gui/date.png');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
        }
    }

    &__time {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            top: 50%;
            right: rem(10);

            width: rem(20);
            height: rem(20);

            background-image: url('/img/gui/time.png');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
        }
    }

    &__pickup {
        .climatOrdering__select {
            width: rem(430);
        }

        .climatOrdering__data {
            @include below($tablet) {
                width: 100%;
                padding-left: rem(51);
            }

            p {
                margin-right: rem(17);
            }

            .climatOrdering__data-wrap {
                @include below($tablet) {
                    flex-grow: 3;
                }
            }
        }

        .climatOrdering__label {
            margin-right: rem(19);

            @include below($tablet) {
                width: 70%;
                margin: 0;
				margin-bottom: rem(10);
            }
            @include below($mobile) {
				width: 100%;
                margin-bottom: rem(10);
            }
        }
    }

    &__transportation {
        .climatOrdering__select {
            width: rem(240);
        }

        .climatOrdering__data {
            @include below($tablet) {
                padding-left: rem(51);
            }

            p {
                margin-right: rem(22);
            }
        }

        .climatOrdering__label {
            margin-right: rem(226);

            @include below($tablet) {
                margin-right: 0;
            }
        }
    }

    &__hand {
        @include below($tablet) {
            justify-content: space-between;
        }
        .climatOrdering__price {
            margin-bottom: rem(10);

			@include below($tablet) {
                text-align: right;
            }

			@include below($mobile) {
				padding-left: rem(51);
                text-align: left;
            }
        }

        .climatOrdering__label {
            margin-right: rem(14);
            margin-bottom: rem(10);

            @include below($tablet) {
                width: 70%;
            }
            @include below($mobile) {
                width: 100%;
                margin-right: 0;
            }
        }

        .climatOrdering__data-city {
            margin-right: rem(45);
            margin-bottom: rem(10);

            @include below($tablet) {
                justify-content: space-between;
                width: rem(300);
                margin-right: 0;
                margin-left: rem(51);
            }

            .climatOrdering__data-wrap {
                width: rem(240);

                @include below($tablet) {
                    width: rem(210);
                }
            }

            p {
                margin-right: rem(19);

                @include below($tablet) {
                    margin-right: rem(10);
                }
            }
        }

        .climatOrdering__data-district {
            margin-bottom: rem(10);

            @include below($tablet) {
                width: rem(285);
                margin-right: 0;
                margin-left: 0;
            }

            .climatOrdering__data-wrap {
                width: rem(240);

                @include below($tablet) {
                    width: rem(210);
                }
            }

            p {
                margin-right: rem(21);
            }
        }

        .climatOrdering__data-date {
            padding-left: rem(51);
            margin-right: rem(45);

            @include below($tablet) {
                justify-content: space-between;
                width: rem(300);
                padding-left: 0;
                margin-right: 0;
                margin-left: rem(51);
            }

            .climatOrdering__data-wrap {
                width: rem(240);

                @include below($tablet) {
                    flex-shrink: 0;
                    width: rem(210);
                }
            }

            p {
                margin-right: rem(34);

                @include below($tablet) {
                    margin-right: rem(10);

                    font-size: 0;
                }

                span {
                    @include below($tablet) {
                        font-size: rem(18);
                    }
                    @include below($tablet) {
                        &:first-of-type {
                            margin-right: rem(5);
                        }
                    }
                }
            }
        }

        .climatOrdering__data-time {
            @include below($tablet) {
                width: rem(285);
                margin-right: 0;
                margin-left: 0;
            }

            .climatOrdering__data-wrap {
                width: rem(152);

                @include below($tablet) {
                    width: rem(210);
                }
            }

            p {
                margin-right: rem(19);
            }
        }
    }

    &__desc {
        width: 100%;
        margin: 0;
        margin-top: rem(10);

        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;
        color: #a7aaad;
    }

    &__step {
        @include below($mobile) {
            &:not(.active) {
                display: none;
            }
        }
    }

    &__step-first {
        margin-bottom: rem(70);

        @include below($mobile) {
            margin: 0;
        }
    }

    &__step-third {
        margin-bottom: rem(70);

        .climatOrdering__paying-content {
            flex-wrap: nowrap;

            @include below($mobile) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .climatOrdering__radio-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: rem(7);

            img {
                margin-top: rem(10);
            }
        }

        .climatOrdering__label {
            align-items: flex-start;
            flex-shrink: 0;
            width: rem(270);
            margin-right: rem(45);

            @include below($mobile) {
                width: 100%;
                margin-right: 0;
                margin-bottom: rem(15);
            }
        }

        .climatOrdering__desc {
            @include below($mobile) {
                display: none;
				margin-bottom: rem(15);
            }
        }

        .climatOrdering__more {
			position: relative;
            display: none;
            padding-left: rem(51);
			margin: 0;

            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            color: #828282;
			text-decoration: none;

			&::after {
				position: absolute;
				content: '';
				width: calc(100% - 51px);
				left: rem(51);
				bottom: rem(-1);
				border-bottom: rem(1) dashed #828282;
			}


            @include below($mobile) {
                display: block;
            }
        }
    }

    &__step-second {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(90);

		@include below($mobile) {
			margin-bottom: 0;
		}

        .climatOrdering__step-nav {
            @include below($mobile) {
                display: none;
            }
        }

        .climatOrdering__contacts-login {
            .climatOrdering__data {
                display: flex;
                justify-content: space-between;

                &:not(:last-of-type) {
                    margin-bottom: rem(10);
                }
            }
        }

        .climatOrdering__contacts-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
			justify-content: space-between;



            .climatOrdering__data {
                display: flex;
                justify-content: space-between;
                width: rem(305);

                @include below($mobile) {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                }

                &:not(:last-of-type) {
                    margin-bottom: rem(10);

					@include below($mobile) {
                        margin-bottom: rem(20);
                    }
                }

                p {
                    @include below($mobile) {
                        margin-bottom: rem(5);
                    }
                }

                .climatOrdering__region {
                    width: rem(224);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__town {
                    width: rem(224);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__street {
                    width: rem(224);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__house {
                    width: rem(175);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__apartment {
                    width: rem(175);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__index {
                    width: rem(175);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__sername {
                    width: rem(204);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__name {
                    width: rem(204);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__tel {
                    width: rem(204);

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                .climatOrdering__email {
                    width: rem(204);

                    @include below($mobile) {
                        width: 100%;
                    }
                }
            }
        }

		.climatOrdering__subtitle {
			@include below($mobile) {
                margin-bottom: 50;
            }
		}

        .climatOrdering__contacts-login {
            @include below($tablet) {
                margin-bottom: rem(60);
            }
            @include below($mobile) {
                margin-bottom: 0;
            }

            .climatOrdering__data {
                width: 100%;

                @include below($tablet) {
                    width: rem(230);
                    margin: 0;
                    margin-right: rem(20);
                }

				@include below($mobile) {
					width: 100%;
				}



                &:last-of-type {
                    margin-bottom: rem(30);

                    @include below($tablet) {
                        margin: 0;
                    }

					@include below($mobile) {
	                    order: 13;
	                }
                }

                &:first-of-type {
                    @include below($tablet) {
                        margin: 0;
                        margin-right: rem(20);
                    }
                    @include below($mobile) {
                        width: 100%;
                        margin: 0;
                        margin-bottom: rem(20);
                    }
                }
            }

            .climatOrdering__data-wrap {
                width: rem(275);

				@include below($mobile) {
                    width: 100%;
                }
            }

            .climatOrdering__desc {
                @include below($tablet) {
                    order: -1;
                    margin: 0;
                    margin-bottom: rem(15);
					line-height: rem(24);
                }
            }
        }
    }

    &__contacts-unlog {
        display: none;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: rem(30);

        border-top: rem(1) solid #c8c8c8;

        @include below($tablet) {
            flex-direction: column;
        }

        @include below($mobile) {
            border-top: none;
			padding-top: 0;
        }
    }

    &__contacts-data {
        display: flex;
        flex-direction: column;
        width: rem(650);

        @include below($tablet) {
            width: 100%;
        }
        @include below($mobile) {
            height: auto;
        }
    }

    &__contacts-title {
        width: 100%;
        padding: rem(13);
        margin: 0;
        margin-bottom: rem(30);

        font-family: $futura;
        font-size: rem(22);
        font-weight: 300;
        color: #fff;
        text-align: center;
        text-transform: uppercase;

        background-color: #a7aaad;

		@include below($tablet) {
            margin-bottom: rem(20);
        }

        @include below($mobile) {
            display: none;
        }
    }

    &__contacts-text {
        position: relative;

        padding: rem(15) 0;
        margin: 0;

        font-family: $futura;
        font-size: rem(22);
        font-weight: 300;
        color: #50555f;
        letter-spacing: 1.27px;
        text-transform: uppercase;

        @include below($tablet) {
            display: none;
        }

        &::after {
            content: '';

            position: absolute;
            top: calc(100% + 30px);
            left: 50%;

            width: rem(1);
            height: rem(240);

            background-color: #c8c8c8;
            transform: translateX(-50%);
        }
    }

    &__contacts-login {
        display: flex;
        flex-direction: column;
        width: rem(360);

        @include below($tablet) {
            order: -1;
            width: 100%;
        }

        .climatOrdering__data {
            @include below($tablet) {
                width: rem(240);
            }
            @include below($mobile) {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                margin-right: 0;

                &:not(:last-of-type) {
                    margin-bottom: rem(25);
                }
            }

            p {
                @include below($tablet) {
                    display: none;
                }
                @include below($mobile) {
                    display: block;
                    margin-bottom: rem(5);
                }
            }
        }

        .climatOrdering__data-wrap {
            @include below($tablet) {
                height: rem(50);
            }
        }

        .climatOrdering__contacts-wrap {
            @include below($tablet) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .climatOrdering__desc {
			margin-top: 0;

            @include below($mobile) {
                display: none;
            }
        }

        .climatOrdering__button-login {
            @include below($mobile) {
                display: none;
            }
        }
    }

    &__button-login {
        width: 100%;
        margin-bottom: rem(20);

        @extend .button;
        @include below($tablet) {
            width: rem(200);
            height: rem(50);
        }
        @include below($mobile) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(25);

		@include below($mobile) {
            margin-bottom: 0;

			.orderingItem {
				&:last-of-type {
					border-bottom: none;
				}
			}
        }
    }

    &__payment {
        display: flex;
        justify-content: space-between;

        @include below($tablet) {
            flex-direction: column;
        }
    }

    &__ordering-info {
        display: flex;
        flex-direction: column;
        width: rem(517);

        @include below($tablet) {
            order: 2;
            width: 100%;
        }

        textarea {
            height: rem(145);
            padding: rem(10) rem(18);
            margin-bottom: rem(40);
            resize: none;

            font-family: $helvetica;
            font-size: rem(16);
            color: #a7aaad;

            border: rem(1) solid #c8c8c8;
            border-radius: rem(5);
            outline: none;

            @include below($tablet) {
                margin-bottom: rem(164);
            }
            @include below($mobile) {
                margin-bottom: rem(110);
            }

            &::placeholder {
                font-family: $helvetica;
                font-size: rem(16);
                color: #a7aaad;
            }
        }

        dl {
            display: flex;
            margin: 0;
			align-items: baseline;

            @include below($mobile) {
                flex-direction: column;
            }

            dt {
                flex-shrink: 0;

                padding-left: rem(20);
                margin: 0;
                margin-right: rem(15);

                font-family: $helvetica;
                font-size: rem(12);
                color: #50555f;

                @include below($tablet) {
                    padding-left: 0;
					line-height: rem(24);

                    font-size: rem(16);
                }
            }

            dd {
                margin: 0;

                font-family: $helvetica;
                font-size: rem(12);
                color: #a7aaad;


                @include below($tablet) {
					line-height: rem(24);
                    font-size: rem(16);
                }
            }
        }
    }

    &__total {
        position: relative;

        width: rem(515);

        @include below($tablet) {
            width: 100%;
        }

        @include below($mobile) {
			width: calc(100% + 32px);
			margin-left: rem(-16);
			margin-right: rem(-16);
            background-color: #f5f5f5;
			margin-bottom: rem(20);
			padding-top: rem(21);
        }

        @include below($mobile-small) {
			width: calc(100% + 16px);
			margin-left: rem(-8);
			margin-right: rem(-8);
        }


        dl {
            display: flex;
            padding: 0;
            margin: 0;
			align-items: flex-end;

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }

            &:last-of-type {
                margin-top: rem(30);
                margin-bottom: rem(30);

                dt,
                dd {
                    font-family: $helvetica;
                    font-size: rem(18);
                    font-weight: 700;
					line-height: normal;
					color: #50555f;

                    @include below($tablet) {
                        font-size: rem(22);
                        color: #50555f;
                    }
                    @include below($mobile) {
                        font-size: rem(20);
                        color: #50555f;
                    }
                }
            }

            dt {
                flex-grow: 1;
                padding: 0;
                margin: 0;
                margin-right: rem(35);

                font-family: $helvetica;
                font-size: rem(16);
                color: #a7aaad;
                text-align: right;

                @include below($tablet) {
                    font-size: rem(22);
                }
                @include below($mobile) {
                    width: 60%;
                    margin-right: rem(15);

                    font-size: rem(20);
                    color: #a7aaad;
                    text-align: right;
                }
            }

            dd {
                width: rem(85);
                padding: 0;
                margin: 0;

                font-family: $helvetica;
                font-size: rem(16);
                color: #a7aaad;

                @include below($tablet) {
                    width: rem(100);

                    font-size: rem(22);
                }
                @include below($mobile) {
                    width: calc(40% - 15px);

                    font-size: rem(20);
                    color: #a7aaad;
                    text-align: left;
                }
            }
        }
    }

    &__pay {
        width: 100%;
        height: rem(83);

        font-family: $helvetica;
        font-size: rem(36);
        color: #fff;

        @extend .button;
        @include below($tablet) {
            position: absolute;
            top: rem(350);
        }
        @include below($mobile) {
            top: auto;
			bottom: rem(-260);
			left: rem(16);
			width: calc(100% - 32px);

            height: rem(70);

            font-size: rem(30);
        }
        @include below($mobile-small) {
            width: calc(100% - 16px);
			left: rem(-8);
        }
    }

    &__contacts-log {
        display: none;
        justify-content: space-between;

        @include below($tablet) {
            flex-wrap: wrap;
        }

        .climatOrdering__personal-data {
            @include below($tablet) {
                margin-bottom: rem(30);
            }
        }

        .climatOrdering__data {
            justify-content: space-between;
        }

        .climatOrdering__adress-data,
        .climatOrdering__personal-data,
        .climatOrdering__region-data {
            .climatOrdering__data {
                &:not(:last-of-type) {
                    margin-bottom: rem(10);
                }
            }
        }

        .climatOrdering__personal-data,
        .climatOrdering__region-data {
            .climatOrdering__data-wrap {
                width: rem(240);
            }
        }

        .climatOrdering__adress-data {
            .climatOrdering__data-wrap {
                width: rem(168);
            }

            .climatOrdering__data {
                width: rem(310);
            }
        }

        .climatOrdering__personal-data {
            .climatOrdering__data {
                width: rem(345);
            }
        }

        .climatOrdering__region-data {
            .climatOrdering__data {
                width: rem(330);
            }
        }
    }

    &__contacts-ur {
        display: none;
        flex-direction: column;

        .climatOrdering__ur-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(30);

            @include below($tablet) {
                flex-wrap: wrap;
            }

            .climatOrdering__personal-data {
                @include below($tablet) {
                    margin-bottom: rem(30);
                }
            }

            .climatOrdering__data {
                justify-content: space-between;
            }

            .climatOrdering__adress-data,
            .climatOrdering__personal-data,
            .climatOrdering__region-data {
                .climatOrdering__data {
                    &:not(:last-of-type) {
                        margin-bottom: rem(10);
                    }
                }
            }

            .climatOrdering__personal-data,
            .climatOrdering__region-data {
                .climatOrdering__data-wrap {
                    width: rem(240);
                }
            }

            .climatOrdering__adress-data {
                .climatOrdering__data-wrap {
                    width: rem(168);
                }

                .climatOrdering__data {
                    width: rem(310);
                }
            }

            .climatOrdering__personal-data {
                .climatOrdering__data {
                    width: rem(345);
                }
            }

            .climatOrdering__region-data {
                .climatOrdering__data {
                    width: rem(330);
                }
            }
        }

        .climatOrdering__ur-data {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: rem(775);
            padding-top: rem(30);

            border-top: rem(1) solid #c8c8c8;

            @include below($tablet) {
                flex-direction: column;
            }

            @include below($mobile) {
                margin-top: rem(42);
				width: 100%;
            }

            .climatOrdering__data-wrap {
                width: rem(240);

				@include below($mobile) {
					width: 100%;
	            }
            }

            .climatOrdering__data {
                justify-content: space-between;
                width: rem(350);
                margin-bottom: rem(10);

				@include below($mobile) {
					width: 100%;
					   align-items: flex-start;
	                flex-direction: column;

					p {
						margin-bottom: rem(5);
					}
	            }
            }
        }
    }

    &__contacts-content.active {
        display: flex;

        @include below($mobile) {
            display: none;
        }
    }

    &__mobile-autorize {
        display: none;
        flex-direction: column;

        @include below($mobile) {
            display: flex;
			align-items: center;
        }
    }

    &__mobile-text {
        margin: 0;
        margin-bottom: rem(30);

        font-family: $helvetica;
        font-size: rem(20);
        color: #6b6b6b;

        span {
            color: #df0d00;
        }
    }

    &__mobile-login,
    &__mobile-register {
        height: rem(70);
        margin-bottom: rem(20);

        @extend .button;
    }

    &__mobile-prev {
        height: rem(70);

        @extend .button;
        @extend .button_gray;
    }

    &__step-nav {
        display: none;
        justify-content: space-around;
        margin-top: rem(70);

        @include below($mobile) {
            display: flex;
			margin-top: rem(50);
        }

        &.visible {
            @include below($mobile) {
                display: flex;
            }
        }
    }

    &__prev {
        @extend .button;
        @extend .button_gray;
    }

    &__next {
        @extend .button;
    }

    &__next,
    &__prev {
        width: rem(130);
        height: rem(70);
    }

    &__step-fourth {
        .climatOrdering__next {
            display: none;
        }

        .climatOrdering__prev {
            width: 100%;
        }

        .climatOrdering__step-nav {
            margin-top: rem(20);
        }
    }
}
