.climatBasket {
    padding-top: rem(64);
    padding-bottom: rem(80);

    @extend .container;


    &__title {
        margin: 0;
        margin-right: auto;
		margin-bottom: rem(30);

        font-family: $playfair;
        font-size: rem(32);
        font-weight: 400;
        line-height: 1;
        color: #50555f;

        @include below($tablet) {
            font-size: rem(24);
        }
        @include below($mobile) {
            width: 100%;

            font-size: rem(22);
            text-align: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(40);

        @include below($mobile) {
            margin-bottom: 0;
        }

        .orderingItem {
            @include below($mobile) {
                &:last-of-type {
                    margin-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }

    &__want {
        margin-right: rem(65);

        font-family: $playfair;
        font-size: rem(16);
        font-weight: 300;
        color: #dc1414;

        @include below($tablet) {
            margin: 0;
        }
        @include below($mobile) {
            display: none;
        }
    }

    &__bottom-content {
        display: flex;
        flex-direction: column;
        width: rem(445);
        margin-left: auto;

        @include below($mobile) {
            width: 100%;
        }

        dl {
            display: inline-flex;
            align-items: baseline;
            width: 100%;
            padding: 0;
            margin: 0;

            @include below($mobile) {
                padding-top: rem(20);
                padding-bottom: rem(24);
                background-color: #f5f5f5;
                width: calc(100% + 32px);
                margin-left: rem(-16);
                margin-right: rem(-16);
                padding-left: rem(16);
                padding-right: rem(16);
            }

            @include below($mobile-small) {
                width: calc(100% + 16px);
                margin-left: rem(-8);
                margin-right: rem(-8);
                padding-left: rem(8);
                padding-right: rem(8);
            }

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }

            &:last-of-type {
                margin-bottom: rem(20);

                dt,
                dd {
                    color: #50555f;
                }
            }

            dt {
                width: calc(100% - 110px);
                padding: 0;
                margin: 0;
                margin-right: rem(35);

                font-family: $helvetica;
                font-size: rem(16);
                color: #a7aaad;
                text-align: left;
                line-height: normal;
            }

            dd {
                width: rem(75);
                padding: 0;
                margin: 0;

                font-family: $helvetica;
                font-size: rem(16);
                color: #a7aaad;
                text-align: left;
                line-height: normal;
            }
        }
    }

    &__desc {
        width: 100%;
        margin: 0;
        margin-bottom: rem(10);

        font-family: $helvetica;
        font-size: rem(12);
        color: #a7aaad;
        text-align: left;

        @include below($mobile) {
            width: 65%;
        }

        @include below($mobile-small) {
            width: 70%;
        }
    }

    &__checkout {
        width: 100%;
        height: rem(50);
        margin-bottom: rem(16);

        @extend .button;
    }

    &__help {
        width: 100%;
        height: rem(50);

        @extend .button;
        @extend .button_gray;
    }
}
