.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_light {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem 0;
}

.body {
  margin: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: .625rem;
}

.title {
  color: #50555a;
  text-align: center;
  font-size: 3.625rem;
}

.title_center {
  text-align: center;
}

.subtitle {
  color: #fff;
  font-size: 2rem;
}

.second-title {
  text-align: center;
  color: #50555f;
  font-size: 2rem;
  position: relative;
}

.second-title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 10rem;
  height: .0625rem;
  margin: 0 auto;
  background-color: #a7aaad;
}

.main-offer {
  background: url(/img/main-offer-background.jpg) center no-repeat/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-bottom: 80px;
}

.main-offer_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer__title {
  color: #fff;
}

.main-offer__button {
  margin-bottom: 1.25rem;
}

.button {
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: .125rem solid #a7aaad;
  border-radius: .3125rem;
  outline: none;
  height: 3.125rem;
  width: 17.5rem;
}

.button_red {
  background-color: #dc1414;
  color: #fff;
  -webkit-box-shadow: 0 0.0625rem 0 #a01414;
          box-shadow: 0 0.0625rem 0 #a01414;
  border: .125rem solid transparent;
}

.button_gray {
  background-color: #a7aaad;
  color: #fff;
}

.cities {
  width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .cities {
    width: 90%;
  }
}

@media screen and (max-width: 565px) {
  .cities {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cities__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.cities__item {
  max-width: 240px;
  margin-bottom: 30px;
}

