.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_light {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

.header__top {
  padding: 65px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  margin: 0;
  border-color: #e4e6e8;
  border-width: .5px;
}

.header__bottom {
  padding: 22px 0 25px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__directions {
  margin: -2px 0 0 44px;
  position: relative;
}

.header__directions:before {
  content: '';
  position: absolute;
  top: -14px;
  left: -24px;
  width: .0625rem;
  height: 2.8125rem;
  background-color: #a7aaad;
}

.header__menu {
  -ms-flex-preferred-size: 52.7%;
      flex-basis: 52.7%;
  margin-left: auto;
}

.header__feedbacks {
  -ms-flex-preferred-size: 52.7%;
      flex-basis: 52.7%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__callback {
  color: #dc1414;
  font-family: "Helvetica Neue";
  font-size: 16px;
  text-decoration: underline;
}

@font-face {
  font-family: 'PTRoubleSans';
  src: url(/fonts/subset-PTRoubleSans.woff2?46422c3b0440bd3a5f2e4721a8774a4e) format("woff2"), url(/fonts/subset-PTRoubleSans.woff?1fab8867e8145308457d51350d058609) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/Futura-PT-Light.woff2?22c4281a6a6c6b65a7e27e138fb65de5) format("woff2"), url(/fonts/Futura-PT-Light.woff?872dcf7504a1f5f350b02e88b22dca95) format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url(/fonts/Futura-PT-Book.woff2?3dd3051d0df535fe3072043c78702f31) format("woff2"), url(/fonts/Futura-PT-Book.woff?ab922384780be86ee4e926c88f5fcdf8) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(/fonts/subset-PlayfairDisplay-Italic.woff2?71c664220a26faf80b55d6d3e548a116) format("woff2"), url(/fonts/subset-PlayfairDisplay-Italic.woff?94305faec0f0c10a020b53df336dd09e) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(/fonts/subset-PlayfairDisplay-Regular.woff2?af7dc73c2f433e7b211b9bb8cc5dfa2b) format("woff2"), url(/fonts/subset-PlayfairDisplay-Regular.woff?6a805acaa2615fe107d6a76cf32811b5) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/subset-HelveticaNeue-Bold.woff?ca12a719cd344dd391d9f51e7bbd9b33) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/subset-HelveticaNeue-Medium.woff?2a615283a212836fd6c33bf32bc87ebf) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/subset-HelveticaNeue-Regular.woff?510e1c045e61e20233f9ecf23d031703) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/subset-HelveticaNeue-Light.woff?e914a2dd1cd1d3c3944e0ad0e950046d) format("woff");
  font-weight: 300;
  font-style: normal;
}

.body {
  margin: 0;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.no-scroll {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 73.75rem;
  margin: 0 auto;
}

@media screen and (max-width: 79.9375rem) {
  .container {
    width: auto;
    margin: 0 1.25rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .container {
    margin: 0 0.625rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: .625rem;
}

.title,
.form-request-open__title,
.form-request-open__title-mobile {
  color: #50555a;
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 43px;
  font-weight: 400;
  margin: 0;
  position: relative;
  line-height: 53px;
}

.title:after,
.form-request-open__title:after,
.form-request-open__title-mobile:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  width: 10rem;
  height: .0625rem;
  margin: 0 auto;
  background-color: #a7aaad;
}

.title_card,
.form-request-open__title,
.form-request-open__title-mobile {
  font-family: "Futura PT", sans-serif;
  font-size: 1.625rem;
  line-height: 1.9375rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}

.title_card::after,
.form-request-open__title::after,
.form-request-open__title-mobile::after {
  display: none;
}

.subtitle {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 22px;
  color: #50555a;
  margin: 0;
  text-align: center;
}

.intro {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 22px;
  color: #50555a;
  margin: 0;
  text-align: center;
  line-height: 32px;
}

.overtitle {
  color: #a5aaaf;
  font-family: "Futura PT - Light";
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
}

.second-title {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #50555a;
  margin: 0;
  position: relative;
}

.second-title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -23px;
  left: 0;
  width: 10rem;
  height: .0625rem;
  margin: 0 auto;
  background-color: #a7aaad;
}

.arrow_down {
  /*transform: rotate(45deg);*/
}

.dropdown {
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 16px;
  cursor: pointer;
}

.dropdown__item {
  display: none;
}

.dropdown__item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__arrow {
  margin-top: 2px;
  margin-right: 10px;
}

.phone {
  color: #6b6b6b;
  font-family: "Helvetica Neue";
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__icon {
  margin-right: 10px;
}

.whatsapp {
  color: #6b6b6b;
  font-family: "Helvetica Neue";
  font-size: 16px;
  text-decoration: none;
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .25rem;
  border-radius: 1.875rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#a8a8a8));
  background-image: linear-gradient(180deg, #787878 0%, #a8a8a8 100%);
}

.switcher__button {
  text-decoration: none;
  padding: .625rem 3.4375rem;
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 300;
  color: #fff;
  border: 0;
  border-radius: 1.875rem;
  cursor: pointer;
  outline: 0;
  background: 0 0;
}

.switcher__button:not(:last-of-type) {
  margin-right: .25rem;
}

.switcher__button:hover {
  background-color: #a7aaad;
  -webkit-box-shadow: inset 0 -0.0625rem 0 #50555a;
          box-shadow: inset 0 -0.0625rem 0 #50555a;
}

.switcher__button_active {
  color: #6b6b6b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: inset 0 -0.0625rem 0 #50555a;
          box-shadow: inset 0 -0.0625rem 0 #50555a;
}

.text,
.footer__copyright-text,
.footer__developer-text,
.footer__developer-link,
.form-request-open__subtitle,
.form-request-open__input + .error,
.form-request-open__status-send,
.form-request-open__rules,
.form-request-open__rules .link,
.personal-data_tooltipster p,
.personal-data_tooltipster li {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #50555a;
}

.text_size_big,
.form-request-open__status-send {
  font-size: 1.375rem;
  line-height: 2rem;
}

@media screen and (max-width: 45rem) {
  .text_size_big,
  .form-request-open__status-send {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.text_size_medium,
.form-request-open__input + .error {
  font-size: 1rem;
  line-height: 1.375rem;
}

.text_size_small,
.footer__copyright-text,
.footer__developer-text,
.footer__developer-link,
.form-request-open__rules,
.form-request-open__rules .link,
.personal-data_tooltipster p,
.personal-data_tooltipster li {
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.text_cursive {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.25rem;
}

@media screen and (max-width: 79.9375rem) {
  .text_cursive {
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }
}

.main-offer {
  background: url(/img/main-offer-background.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 97px 0 80px 0;
}

.main-offer_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer__overtitle {
  text-align: left;
  color: #ffffff;
  font-family: "Futura PT - Medium";
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-offer__title {
  color: #ffffff;
  text-align: left;
  font-size: 58px;
  margin-bottom: 19px;
  max-width: 650px;
}

.main-offer__title_center {
  text-align: center;
  max-width: 780px;
}

.main-offer__title:after {
  content: none;
}

.main-offer__subtitle {
  margin-bottom: 40px;
  text-align: left;
  color: #ffffff;
}

.main-offer__button {
  margin-bottom: 1.25rem;
}

.main-offer__form {
  max-width: 380px;
}

.main-offer__input {
  margin-bottom: 20px;
}

.main-offer__girl {
  position: absolute;
  right: 195px;
  bottom: 73px;
}

.button,
.form-request-open__submit {
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size: 20px;
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: .125rem solid #a7aaad;
  border-radius: .3125rem;
  outline: none;
  height: 46px;
  width: 17.5rem;
}

.button_red,
.form-request-open__submit {
  background-color: #dc1414;
  color: #fff;
  -webkit-box-shadow: 0 0.0625rem 0 #a01414;
          box-shadow: 0 0.0625rem 0 #a01414;
  border: .125rem solid transparent;
}

.button_gray {
  background-color: #a7aaad;
  color: #fff;
}

.cities {
  width: 780px;
  padding: 78px 0 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .cities {
    width: 90%;
  }
}

@media screen and (max-width: 565px) {
  .cities {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cities__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 63px;
}

.cities__item {
  max-width: 236px;
  margin-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  text-decoration: none;
  will-change: transform;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 0 0 25px 0;
}

.card:hover {
  will-change: transform;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__title {
  text-transform: uppercase;
  font-family: 'Futura PT - Light';
  font-size: 26px;
  text-align: center;
  color: #50555a;
  margin: 28px 0 0 0;
}

.card__subtitle {
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  padding: 0 15px;
  margin: 0;
}

.card__line {
  width: 80px;
  border: 1px solid #d0d2d4;
  margin: 14px 0  0 0;
}

.card__price {
  color: #dc1414;
  line-height: 28px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  margin: 23px 0 0 0;
}

.card__img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin: 0;
}

.card__plate {
  font-family: "Futura PT - Light";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 16px 19px 15px 19px;
  font-size: 18px;
  color: #50555a;
}

@media screen and (max-width: 700px) {
  .card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.25rem 1.5625rem 1.25rem 1.25rem;
    position: relative;
  }

  .card:hover {
    -webkit-transform: none;
            transform: none;
  }

  .card__img {
    display: none;
  }

  .card__title {
    margin: 0;
  }

  .card__price {
    margin: 0;
  }

  .card__title:after {
    content: " ";
    position: absolute;
    right: 34px;
    top: 48px;
    background: url(/img/arrow.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .card__line {
    display: none;
  }
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 106px;
}

.directions__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 74px;
}

.directions__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media screen and (max-width: 700px) {
  .directions__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 16px;
  cursor: pointer;
}

.menu__item {
  color: #50555a;
  text-decoration: none;
  position: relative;
}

.menu__item:hover {
  color: #dc1414;
}

.menu__item:hover:after {
  content: ' ';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dc1414;
  opacity: 0.5;
}

.menu__item_dropdown:before {
  content: url("/img/hamburger.svg");
  color: inherit;
  font-size: 13px;
  margin-right: 4px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__agreement {
  color: #e3e6e9;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 300;
}

.input,
.form-request-open__input {
  border-radius: 5px;
  border: 1px solid #d0d2d4;
  background-color: #ffffff;
  padding: 15px 30px 15px 20px;
  outline: none;
}

.catalog-cards {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-cards__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__title {
  margin-bottom: 80px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__subtitle {
  margin-bottom: 60px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
}

@media screen and (max-width: 700px) {
  .catalog-cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.portfolio {
  padding: 100px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.portfolio__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.portfolio__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.portfolio__switcher {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 60px 0;
}

.portfolio__item {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  margin-bottom: 30px;
}

.services {
  padding: 100px 0 0 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.services__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.services__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.services__card {
  margin: 0 .625rem 2rem .625rem;
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
}

.promos {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promos__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.promos__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 60px 0;
}

.manufacturers__title {
  margin: 0 0 80px 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.manufacturers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 0 0 100px 0;
}

.calc-promo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 31.6875rem;
  height: 21.9375rem;
  background-image: url(/img/calculator.jpg);
  background-repeat: no-repeat;
  z-index: 0;
}

.calc-promo__title {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: start;
  margin-bottom: 50px;
  z-index: 1;
}

.calc-promo__title:after {
  right: initial;
}

.calc-promo__intro {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: start;
  z-index: 1;
}

.calc-promo__footer {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  z-index: 1;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.person__photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: .0625rem solid transparent;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.16), 0 0 0.5rem rgba(0, 0, 0, 0.08), 0.0625rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.16), 0 0 0.5rem rgba(0, 0, 0, 0.08), 0.0625rem 0 rgba(0, 0, 0, 0.1);
}

.person__name {
  color: #475059;
  font-family: "Helvetica Neue";
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 160px 0;
}

.reviews__item {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.review__body {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 40px 0;
}

.review__person {
  margin: -60px 0 0 0;
}

.review__line {
  width: 120px;
  border-bottom: 1px solid #b9bec3;
}

.review__date {
  text-align: center;
  color: #b9bec3;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
}

.review__text {
  color: #475059;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.review__counters {
  width: 85px;
  color: #80878e;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__media {
  height: 13.125rem;
  margin-top: -3px;
  z-index: -1;
}

.review__img {
  width: 100%;
  height: 100%;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__img {
  margin-right: 5px;
}

.footer {
  padding-top: 3.625rem;
  background-color: #414447;
}

@media screen and (max-width: 45rem) {
  .footer {
    padding-top: 3.125rem;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 79.9375rem) {
  .footer__inner {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 45rem) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 79.9375rem) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(78% - 50px);
  }
}

@media screen and (max-width: 60rem) {
  .footer__content {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 45rem) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

@media screen and (max-width: 79.9375rem) {
  .footer__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 60%;
    margin-bottom: 0;
    margin-bottom: 3.4375rem;
    margin-left: auto;
  }

  .footer__header .footer__item {
    width: auto;
    max-width: 40%;
    margin-right: 2.1875rem;
  }

  .footer__header .footer__item:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__header .footer__item:nth-of-type(2) {
    margin-bottom: 3.4375rem;
  }
}

@media screen and (max-width: 79.9375rem) and (max-width: 45rem) {
  .footer__header .footer__item:nth-of-type(2) {
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 79.9375rem) {
  .footer__header .footer__item:nth-of-type(5n) {
    margin-right: 2.1875rem;
  }
}

@media screen and (max-width: 60rem) {
  .footer__header {
    margin-right: auto;
  }

  .footer__header .footer__item {
    width: auto;
    max-width: 40%;
    margin-right: 1.5625rem;
    margin-bottom: 0.625rem;
  }

  .footer__header .footer__item:nth-of-type(4) {
    margin-right: auto;
  }
}

@media screen and (max-width: 45rem) {
  .footer__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }

  .footer__header .footer__item {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }

  .footer__header .footer__item .footer__title {
    position: relative;
    padding-right: 25px;
  }

  .footer__header .footer__item .footer__title::after {
    content: '';
    position: absolute;
    top: 0.375rem;
    right: 0.625rem;
    width: 0.75rem;
    height: 0.375rem;
    background: url("%=static=%assets/footer/footer-arrow.png") 50% 50% no-repeat;
    background-size: contain;
    -webkit-transition: all .3s;
    transition: all .3s;
    will-change: transform;
  }
}

.footer__header .footer__item:last-of-type {
  width: auto;
  margin-right: 3.5625rem;
  margin-left: auto;
}

@media screen and (max-width: 79.9375rem) {
  .footer__header .footer__item:last-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 45rem) {
  .footer__header .footer__item:last-of-type {
    width: 100%;
  }
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 79.9375rem) {
  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 27%;
  }

  .footer__footer .footer__item {
    width: 100%;
    margin-bottom: 1.0625rem;
  }
}

@media screen and (max-width: 45rem) {
  .footer__footer {
    width: 100%;
  }
}

.footer__footer .footer__title {
  margin: 0;
}

.footer__footer .footer__item:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  margin-right: 2rem;
  margin-left: auto;
}

@media screen and (max-width: 79.9375rem) {
  .footer__footer .footer__item:last-of-type {
    position: relative;
    left: -2.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 7.8125rem;
    margin-top: 1.5625rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 45rem) {
  .footer__footer .footer__item:last-of-type {
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    margin: 0;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-right: 3.125rem;
}

@media screen and (max-width: 79.9375rem) {
  .footer__contacts {
    margin-right: 0;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 60rem) {
  .footer__contacts {
    margin-left: 0;
  }
}

@media screen and (max-width: 45rem) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 2.8125rem;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 21%;
  padding: 0;
  padding-right: 1.25rem;
}

@media screen and (max-width: 79.9375rem) {
  .footer__item {
    padding: 0;
  }
}

@media screen and (max-width: 45rem) {
  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625rem;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3125rem;
  margin-bottom: 1.5625rem;
  width: 150px;
  height: 39px;
}

@media screen and (max-width: 45rem) {
  .footer__logo {
    width: 9.375rem;
  }
}

@media screen and (max-width: 45rem) {
  .footer__logo {
    display: none;
  }
}

.footer__logo_mobile {
  display: none;
}

@media screen and (max-width: 45rem) {
  .footer__logo_mobile {
    display: block;
    width: auto;
  }
}

.footer__copyright {
  padding: 1.6875rem 0;
  background-color: #303336;
}

@media screen and (max-width: 45rem) {
  .footer__copyright {
    padding: 2.5rem 0;
  }
}

.footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 45rem) {
  .footer__developer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 0;
    margin-bottom: 1.875rem;
    text-align: center;
  }
}

.footer__copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 45rem) {
  .footer__copyright-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__title {
  max-width: 100%;
  padding-bottom: 0.3125rem;
  margin: 0;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  font-family: "Futura PT", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-bottom: 0.125rem solid #aaaaaa;
}

@media screen and (min-width: 80rem) {
  .footer__title {
    -webkit-transition: color .3s;
    transition: color .3s;
  }

  .footer__title:hover {
    color: #a7aaad;
  }

  .footer__title:active {
    color: #787d82;
  }
}

@media screen and (max-width: 79.9375rem) {
  .footer__title {
    padding: 0;
    padding-bottom: 0.3125rem;
    margin-bottom: 0.625rem;
    color: #ffffff;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 45rem) {
  .footer__title {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid #aaa;
  }
}

.footer__social {
  width: 1.75rem;
  height: 1.75rem;
  background-size: contain;
}

.footer__social:not(:last-of-type) {
  margin-right: 0.75rem;
}

@media screen and (max-width: 79.9375rem) {
  .footer__social {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1.5625rem;
  }
}

@media screen and (max-width: 45rem) {
  .footer__social {
    left: 0;
    margin: 0;
    margin: 2.5rem 0;
    margin-top: 1.4375rem;
  }
}

.footer__social:not(:last-of-type) {
  margin-right: 12px;
}

@media screen and (max-width: 79.9375rem) {
  .footer__social:not(:last-of-type) {
    margin-right: 1.5625rem;
  }

  .footer__social:not(:last-of-type):nth-of-type(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 45rem) {
  .footer__social:not(:last-of-type) {
    margin-right: 0;
  }
}

.footer__social_vk {
  background-image: url("/img/vk.svg");
}

@media screen and (min-width: 80rem) {
  .footer__social_vk:hover {
    background-image: url("/img/vk_hover.svg");
  }
}

.footer__social_ok {
  background-image: url("/img/ok.svg");
}

@media screen and (min-width: 80rem) {
  .footer__social_ok:hover {
    background-image: url("/img/ok_hover.svg");
  }
}

.footer__social_fb {
  background-image: url("/img/fb.svg");
}

@media screen and (min-width: 80rem) {
  .footer__social_fb:hover {
    background-image: url("/img/fb_hover.svg");
  }
}

.footer__social_insta {
  background-image: url("/img/insta.svg");
}

@media screen and (min-width: 80rem) {
  .footer__social_insta:hover {
    background-image: url("/img/insta_hover.svg");
  }
}

.footer__copyright-text {
  margin: 0;
  color: #e5e5e5;
}

@media screen and (max-width: 45rem) {
  .footer__copyright-text {
    font-size: 1.125rem;
    text-align: center;
  }
}

.footer__link {
  max-width: 8.4375rem;
  margin: 0;
  margin-bottom: 0.625rem;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #f8f8f8;
  text-decoration: none;
}

@media screen and (min-width: 80rem) {
  .footer__link {
    -webkit-transition: color .3s;
    transition: color .3s;
  }

  .footer__link:hover {
    color: #a7aaad;
  }

  .footer__link:active {
    color: #787d82;
  }
}

@media screen and (max-width: 79.9375rem) {
  .footer__link {
    margin-bottom: 0.9375rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 45rem) {
  .footer__link {
    display: none;
    width: 100%;
    max-width: none;
    text-align: left;
  }
}

.footer__link:last-of-type {
  margin-bottom: 0;
}

.footer__item-visible {
  display: block;
}

.footer__contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11.25rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-content {
    width: 14.125rem;
    text-align: center;
  }
}

.footer__contacts-link {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.29;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-link {
    margin-left: 0;
  }
}

.footer__contacts-number {
  width: 0.6875rem;
  height: 1.1875rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-number {
    width: 1rem;
    height: 1.75rem;
  }
}

.footer__contacts-mail {
  width: 0.8125rem;
  height: 0.6875rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-mail {
    width: 1.125rem;
    height: 0.875rem;
  }
}

.footer__contacts-path {
  width: 0.8125rem;
  height: 1.125rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-path {
    width: 1.0625rem;
    height: 1.4375rem;
  }
}

.footer__contacts-number,
.footer__contacts-mail,
.footer__contacts-path {
  position: relative;
  top: 0.3125rem;
}

.footer__contacts-mail {
  top: 0rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-mail {
    top: 0.125rem;
  }
}

.footer__contacts-path {
  top: 0rem;
  fill: #ffffff;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-path {
    top: 0.125rem;
  }
}

.footer__contacts-text {
  padding-left: 0.9375rem;
  margin-left: 0.5rem;
  font-size: 0.625rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.29;
  color: #ffffff;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-text {
    font-size: 0.75rem;
  }
}

.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts-item:not(:last-of-type) {
    margin-bottom: 1.875rem;
  }

  .footer__contacts-item:last-of-type .footer__contacts-text {
    margin-left: 0;
  }
}

.footer__contacts-item:not(:last-of-type) {
  margin-bottom: 1.875rem;
}

.footer__contacts-item:first-of-type {
  margin-bottom: 2.1875rem;
}

.footer__contacts-item:first-of-type .footer__contacts-link {
  font-size: 1.0625rem;
  line-height: .75;
}

@media screen and (max-width: 44.9375rem) {
  .footer__contacts-item:first-of-type .footer__contacts-link {
    font-size: 1.25rem;
  }
}

.footer__contacts-item:last-of-type .footer__contacts-text {
  padding: 0;
  font-size: 1rem;
}

.footer__developer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 44.9375rem) {
  .footer__developer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.footer__developer-text {
  margin: 0;
  color: #e5e5e5;
}

@media screen and (max-width: 44.9375rem) {
  .footer__developer-text {
    width: 14.6875rem;
  }
}

.footer__developer-link {
  margin: 0;
  font-weight: 700;
  color: #e5e5e5;
  text-align: left;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 44.9375rem) {
  .footer__developer-link {
    font-size: 1.125rem;
    text-align: left;
  }
}

.footer__developer-link:hover {
  color: #dc1414;
}

.footer_light {
  position: relative;
  padding: 20px 0;
}

@media screen and (max-width: 44.9375rem) {
  .footer_light {
    padding-top: 2.5rem;
    padding-bottom: 3.125rem;
  }
}

.footer_light .footer__contacts-content,
.footer_light .footer__header,
.footer_light .footer__footer .footer__item:not(:last-of-type),
.footer_light .footer__developer {
  display: none;
}

.footer_light .footer__inner,
.footer_light .footer__logo {
  margin: 0;
}

.footer_light .footer__copyright-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_light .footer__copyright {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
}

@media screen and (max-width: 79.9375rem) {
  .footer_light .footer__copyright {
    width: 100%;
  }
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__copyright {
    -webkit-transform: none;
            transform: none;
    bottom: 3.125rem;
    height: auto;
    left: 0;
    top: auto;
  }
}

@media screen and (max-width: 79.9375rem) {
  .footer_light .footer__copyright .container {
    width: calc(100% - 20px);
  }
}

.footer_light .footer__footer {
  height: 100%;
}

@media screen and (max-width: 79.9375rem) {
  .footer_light .footer__footer {
    width: 100%;
  }
}

.footer_light .footer__footer .footer__item:last-of-type {
  margin-right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (max-width: 79.9375rem) {
  .footer_light .footer__footer .footer__item:last-of-type {
    position: static;
    width: auto;
    margin: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__footer .footer__item:last-of-type {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 90px;
  }
}

.footer_light .footer__social {
  width: 1.75rem;
  height: 1.75rem;
  margin-bottom: 0;
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__social {
    width: 3.125rem;
    height: 3.125rem;
    margin-top: 0;
  }
}

.footer_light .footer__social:not(:last-of-type) {
  margin-right: 0.75rem;
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__social:not(:last-of-type) {
    margin-right: 1.6875rem;
  }
}

.footer_light .footer__social:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 79.9375rem) {
  .footer_light .footer__content {
    width: 100%;
  }
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__logo {
    display: block;
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .footer_light .footer__contacts {
    margin-bottom: 0;
  }
}

.form-request-open {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 4.0625rem;
  background-image: url("/img/background-footer-form.jpg");
  background-size: cover;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12), inset 0 -0.0625rem 0.0625rem #d1dadf;
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12), inset 0 -0.0625rem 0.0625rem #d1dadf;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open {
    background-image: url("/img/background-footer-form_tablet.jpg");
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .form-request-open::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open {
    padding-top: 4.375rem;
    padding-bottom: 3.125rem;
  }
}

.form-request-open__content {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-request-open__title,
.form-request-open__title-mobile {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__title,
  .form-request-open__title-mobile {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__title,
  .form-request-open__title-mobile {
    display: none;
  }
}

.form-request-open__title span,
.form-request-open__title-mobile span {
  color: #dc1414;
}

.form-request-open__title-mobile {
  display: none;
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__title-mobile {
    display: block;
    font-size: 1.625rem;
  }
}

.form-request-open__subtitle {
  margin: 0;
  margin-bottom: 3.125rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__subtitle {
    width: 70%;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__subtitle {
    width: 100%;
  }
}

.form-request-open__text-accent {
  color: #dc1414;
}

.form-request-open__input {
  position: relative;
  margin-right: 1.25rem;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__input {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__input {
    height: 3.75rem;
  }
}

.form-request-open__input.error {
  border-color: #dc1414;
}

.form-request-open__input + .error {
  padding-left: 1.25rem;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__input + .error {
    display: none !important;
  }
}

.form-request-open__input-name {
  width: 23.75rem;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__input-name {
    width: 100%;
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__input-name {
    width: 100%;
  }
}

.form-request-open__input-phone {
  width: 17.5rem;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__input-phone {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__input-phone {
    width: 100%;
  }
}

.form-request-open__input-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__input-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

.form-request-open__submit {
  height: 3.125rem;
  padding-top: 0.625rem;
  padding-right: 2.8125rem;
  padding-bottom: 0.625rem;
  padding-left: 2.8125rem;
  text-align: center;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__submit {
    width: 22.1875rem;
    height: 3.75rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__submit {
    width: 100%;
  }
}

.form-request-open__status-send {
  display: none;
  width: 18.4375rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  text-align: center;
}

.form-request-open__rules {
  text-align: center;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__rules {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__rules {
    width: 90%;
  }
}

.form-request-open__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 79.9375rem) {
  .form-request-open__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 50%;
  }
}

@media screen and (max-width: 60rem) {
  .form-request-open__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 70%;
  }
}

@media screen and (max-width: 44.9375rem) {
  .form-request-open__form {
    width: 100%;
  }
}

.personal-data {
  display: none;
}

.personal-data_tooltipster p {
  max-width: 34.6875rem;
  margin: 0;
}

.personal-data_tooltipster p:not(:last-of-type) {
  margin-bottom: 0.625rem;
}

.personal-data_tooltipster ul {
  padding: 0;
  margin: 0;
  margin-bottom: 0.625rem;
}

.personal-data_tooltipster li {
  list-style-type: none;
}

