.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_light {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

.header__top {
  padding: 65px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  margin: 0;
  border-color: #e4e6e8;
  border-width: .5px;
}

.header__bottom {
  padding: 22px 0 25px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__directions {
  margin: -2px 0 0 44px;
  position: relative;
}

.header__directions:before {
  content: '';
  position: absolute;
  top: -14px;
  left: -24px;
  width: .0625rem;
  height: 2.8125rem;
  background-color: #a7aaad;
}

.header__menu {
  -ms-flex-preferred-size: 52.7%;
      flex-basis: 52.7%;
  margin-left: auto;
}

.header__feedbacks {
  -ms-flex-preferred-size: 52.7%;
      flex-basis: 52.7%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__callback {
  color: #dc1414;
  font-family: "Helvetica Neue";
  font-size: 16px;
  text-decoration: underline;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(/fonts/PlayfairDisplay-Regular.woff?77df03ee706763d67b3880b743a175e3) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/HelveticaNeueCyr-Light.woff?e914a2dd1cd1d3c3944e0ad0e950046d) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT - Light';
  src: url(/fonts/FuturaPT-Light.woff?92aa0d7878fe4d8d55dab98aae0796e5) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT - Medium';
  src: url(/fonts/FuturaPT-Medium.woff?995c64e152e8dc077222766889194951) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT - Book';
  src: url(/fonts/FuturaPT-Book.woff?c431096955795da262fc32297d7bfa8f) format("woff");
  font-weight: 300;
  font-style: normal;
}

.body {
  margin: 0;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 95%;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: .625rem;
}

.title {
  color: #50555a;
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 43px;
  font-weight: 400;
  margin: 0;
  position: relative;
  line-height: 53px;
}

.title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  width: 10rem;
  height: .0625rem;
  margin: 0 auto;
  background-color: #a7aaad;
}

.subtitle {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 22px;
  color: #50555a;
  margin: 0;
  text-align: center;
}

.intro {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 22px;
  color: #50555a;
  margin: 0;
  text-align: center;
  line-height: 32px;
}

.overtitle {
  color: #a5aaaf;
  font-family: "Futura PT - Light";
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
}

.second-title {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #50555a;
  margin: 0;
  position: relative;
}

.second-title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -23px;
  left: 0;
  width: 10rem;
  height: .0625rem;
  margin: 0 auto;
  background-color: #a7aaad;
}

.arrow_down {
  /*transform: rotate(45deg);*/
}

.dropdown {
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 16px;
  cursor: pointer;
}

.dropdown__item {
  display: none;
}

.dropdown__item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__arrow {
  margin-top: 2px;
  margin-right: 10px;
}

.phone {
  color: #6b6b6b;
  font-family: "Helvetica Neue";
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__icon {
  margin-right: 10px;
}

.whatsapp {
  color: #6b6b6b;
  font-family: "Helvetica Neue";
  font-size: 16px;
  text-decoration: none;
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .25rem;
  border-radius: 1.875rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#a8a8a8));
  background-image: linear-gradient(180deg, #787878 0%, #a8a8a8 100%);
}

.switcher__button {
  text-decoration: none;
  padding: .625rem 3.4375rem;
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 300;
  color: #fff;
  border: 0;
  border-radius: 1.875rem;
  cursor: pointer;
  outline: 0;
  background: 0 0;
}

.switcher__button:not(:last-of-type) {
  margin-right: .25rem;
}

.switcher__button:hover {
  background-color: #a7aaad;
  -webkit-box-shadow: inset 0 -0.0625rem 0 #50555a;
          box-shadow: inset 0 -0.0625rem 0 #50555a;
}

.switcher__button_active {
  color: #6b6b6b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  -webkit-box-shadow: inset 0 -0.0625rem 0 #50555a;
          box-shadow: inset 0 -0.0625rem 0 #50555a;
}

.main-offer {
  background: url(/img/main-offer-background.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 97px 0 80px 0;
}

.main-offer_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer__overtitle {
  text-align: left;
  color: #ffffff;
  font-family: "Futura PT - Medium";
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-offer__title {
  color: #ffffff;
  text-align: left;
  font-size: 58px;
  margin-bottom: 19px;
  max-width: 650px;
}

.main-offer__title_center {
  text-align: center;
  max-width: 780px;
}

.main-offer__title:after {
  content: none;
}

.main-offer__subtitle {
  margin-bottom: 40px;
  text-align: left;
  color: #ffffff;
}

.main-offer__button {
  margin-bottom: 1.25rem;
}

.main-offer__form {
  max-width: 380px;
}

.main-offer__input {
  margin-bottom: 20px;
}

.main-offer__girl {
  position: absolute;
  right: 195px;
  bottom: 73px;
}

.button {
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size: 20px;
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: .125rem solid #a7aaad;
  border-radius: .3125rem;
  outline: none;
  height: 46px;
  width: 17.5rem;
}

.button_red {
  background-color: #dc1414;
  color: #fff;
  -webkit-box-shadow: 0 0.0625rem 0 #a01414;
          box-shadow: 0 0.0625rem 0 #a01414;
  border: .125rem solid transparent;
}

.button_gray {
  background-color: #a7aaad;
  color: #fff;
}

.cities {
  width: 780px;
  padding: 78px 0 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .cities {
    width: 90%;
  }
}

@media screen and (max-width: 565px) {
  .cities {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cities__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 63px;
}

.cities__item {
  max-width: 236px;
  margin-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  text-decoration: none;
  will-change: transform;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 0 0 25px 0;
}

.card:hover {
  will-change: transform;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__title {
  text-transform: uppercase;
  font-family: 'Futura PT - Light';
  font-size: 26px;
  text-align: center;
  color: #50555a;
  margin: 28px 0 0 0;
}

.card__subtitle {
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  padding: 0 15px;
  margin: 0;
}

.card__line {
  width: 80px;
  border: 1px solid #d0d2d4;
  margin: 14px 0  0 0;
}

.card__price {
  color: #dc1414;
  line-height: 28px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  margin: 23px 0 0 0;
}

.card__img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin: 0;
}

.card__plate {
  font-family: "Futura PT - Light";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 16px 19px 15px 19px;
  font-size: 18px;
  color: #50555a;
}

@media screen and (max-width: 700px) {
  .card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.25rem 1.5625rem 1.25rem 1.25rem;
    position: relative;
  }

  .card:hover {
    -webkit-transform: none;
            transform: none;
  }

  .card__img {
    display: none;
  }

  .card__title {
    margin: 0;
  }

  .card__price {
    margin: 0;
  }

  .card__title:after {
    content: " ";
    position: absolute;
    right: 34px;
    top: 48px;
    background: url(/img/arrow.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .card__line {
    display: none;
  }
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 106px;
}

.directions__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 74px;
}

.directions__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media screen and (max-width: 700px) {
  .directions__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #50555a;
  font-family: "Helvetica Neue";
  font-size: 16px;
  cursor: pointer;
}

.menu__item {
  color: #50555a;
  text-decoration: none;
  position: relative;
}

.menu__item:hover {
  color: #dc1414;
}

.menu__item:hover:after {
  content: ' ';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dc1414;
  opacity: 0.5;
}

.menu__item_dropdown:before {
  content: url("/img/hamburger.svg");
  color: inherit;
  font-size: 13px;
  margin-right: 4px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__agreement {
  color: #e3e6e9;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 300;
}

.input {
  border-radius: 5px;
  border: 1px solid #d0d2d4;
  background-color: #ffffff;
  padding: 15px 30px 15px 20px;
}

.catalog-cards {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-cards__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__title {
  margin-bottom: 80px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__subtitle {
  margin-bottom: 60px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.catalog-cards__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
}

@media screen and (max-width: 700px) {
  .catalog-cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.portfolio {
  padding: 100px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.portfolio__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.portfolio__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.portfolio__switcher {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 60px 0;
}

.portfolio__item {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  margin-bottom: 30px;
}

.services {
  padding: 100px 0 0 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.services__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.services__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.services__card {
  margin: 0 .625rem 2rem .625rem;
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
}

.promos {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promos__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 80px;
}

.promos__overtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 60px 0;
}

.manufacturers__title {
  margin: 0 0 80px 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.manufacturers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 0 0 100px 0;
}

.calc-promo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 31.6875rem;
  height: 21.9375rem;
  background-image: url(/img/calculator.jpg);
  background-repeat: no-repeat;
  z-index: 0;
}

.calc-promo__title {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: start;
  margin-bottom: 50px;
  z-index: 1;
}

.calc-promo__title:after {
  right: initial;
}

.calc-promo__intro {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: start;
  z-index: 1;
}

.calc-promo__footer {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  z-index: 1;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.person__photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: .0625rem solid transparent;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.16), 0 0 0.5rem rgba(0, 0, 0, 0.08), 0.0625rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.16), 0 0 0.5rem rgba(0, 0, 0, 0.08), 0.0625rem 0 rgba(0, 0, 0, 0.1);
}

.person__name {
  color: #475059;
  font-family: "Helvetica Neue";
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 160px 0;
}

.reviews__item {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.review__body {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 40px 0;
}

.review__person {
  margin: -60px 0 0 0;
}

.review__line {
  width: 120px;
  border-bottom: 1px solid #b9bec3;
}

.review__date {
  text-align: center;
  color: #b9bec3;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
}

.review__text {
  color: #475059;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.review__counters {
  width: 85px;
  color: #80878e;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__media {
  height: 13.125rem;
  margin-top: -3px;
  z-index: -1;
}

.review__img {
  width: 100%;
  height: 100%;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__img {
  margin-right: 5px;
}

