@import 'mixins';
@import 'variables_front';
@import 'typography';
@import 'ui';
@import 'quest';
@import 'calc';
@import 'animated';

@include resset();



.header{
    font-family: $helvetica;
    font-size: rem(16);
    overflow: hidden;
    background-color: #fff;
    z-index: 500;

    &.mob{
        display: none;

        @include above($break_sm) {
            display: block;
        }
    }

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        position: relative;

        &_item{
            @include col();
            display: flex;
            align-items: center;
        }
    }
    .logo{
        @include size(24);
        @include size-md(12);
        padding-top: rem(16);
        padding-bottom: rem(16);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include above($break_sm) {
            flex-direction: row;
            align-items: flex-end;
        }

        img{
            height: rem(48);
            
        }

        &_name{
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 500;
            margin-top: rem(16);

            @include above($break_sm) {
                font-size: rem(14);
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: rem(0.9);
                margin-left: rem(32);
                margin-top: 0;
                margin-bottom: rem(10);
            }
            @include above($break_md) {
                margin-left: rem(48);
            }
        }
    }
    .contact{
        @include size(24);
        @include size-md(12);
        order: 2;
        justify-content: space-around;
        position: relative;
        padding-top: rem(14);
        padding-bottom: rem(14);
        z-index: 501;
        @include above($break_sm) {
            order: 0;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: calc(100% + #{rem(30)});
            height: rem(1);
            left: rem(-15);
            right: rem(-15);
            background:#e6e8ea;
            @include above($break_sm) {
                display: none;
            }
        }
    }
    .phone{
        display: flex;
        line-height: 1;
        align-items: center;
        @include above($break_sm) {
            margin-bottom: rem(10);
            font-size: rem(18);
        }
        svg{
            margin-right: rem(8);
        }
    }
    .callback{
        
        display: flex;
        letter-spacing: rem(-0.2);
        color: $red;
        position: relative;
        margin-left: rem(16);
        cursor: pointer;

        @include above($break_sm) {
            margin-bottom: rem(10);
        }

        &::before{
            content: '';
            position: absolute;
            height: rem(1);
            width: 100%;
            border-bottom: dashed rem(1) $red;
            bottom: rem(0);
            transition: all .2s;
        }
        &:hover::before{
            bottom: rem(-2);
        }
        
    }
}

.hero{
    text-align: center;

    &__wrapper{
        @include wrapper();
        min-height: calc(100vh - 162px);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: rem(20);
        padding-bottom: rem(20);
        background-image: url('img/quiz/sand.png');

        @include above($break_sm) {
            min-height: auto;
            padding-top: rem(96);
            padding-bottom: rem(96);
        }

        @include above($break_md) {
            border-radius: rem(16);
        }
       
    }
    &__items{
        @include row-flex();

        &_item{
            @include col(); 
            @include size(24);
            @include size-md(20);
            @include offset-md(2);
            @include size-lg(18);
            @include offset-lg(3);
        }
    }

    &_intro{
        font-size: rem(14);
        line-height: 1.5;
        letter-spacing: rem(4);
        text-transform: uppercase;
        margin-bottom: rem(8);
        color: #808890;
        font-family: $futura;

        @include above($break_sm) {
            font-size: rem(16);
            letter-spacing: rem(10);
            margin-bottom: rem(16);
        }
        @include above($break_md) {
            font-size: rem(22);
            letter-spacing: rem(12);
        }
    }
    &_title{
        font-size: rem(32);
        margin-bottom: rem(50);

        @include above($break_sm) {
            font-size: rem(48);
        }
        @include above($break_md) {
            font-size: rem(64);
        }
    }

    &_link{
        color: $red;
        font-family: $helvetica;
        font-size: rem(20);
        text-decoration: underline;
        margin-top: rem(24);
        display: inline-block;
        cursor: pointer;
        font-weight: 400;
    }

    .btn{
        margin-top: rem(16);
        max-width: rem(320);
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include above($break_sm) {
            max-width: rem(260);
        }
    }

}

.inf{
    display: none;

    @include above($break_sm) {
        display: block;
        padding-top: rem(80);
        padding-bottom: rem(80);
    }

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();

        &_item{
            @include col(); 
            @include size(12);
            @include size-lg(6);
            display: flex;
            align-items: center;
            flex-direction: column;

            &:nth-child(1),
            &:nth-child(2){
                margin-bottom: rem(48);

                @include above($break_md) {
                    margin-bottom: 0;
                }
            }

            
        }
    }

    &_text{
        font-size: rem(18);
        text-align: center;
        margin-top: rem(16);
        @include above($break_md) {
            font-size: rem(20);
        }
    }
}

.radio{
    position: relative;
    cursor: pointer;
    font-size: rem(18);
    display: flex;
    align-items: center;
}
  
.label{
    position: relative;
    margin-right: rem(10);
    width: rem(16);
    height: rem(16);
    border: rem(1) solid #babec2;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;

    &:after{
        content: '';
        position: absolute;
        top: rem(3);
        left: rem(3);
        width: rem(8);
        height: rem(8);
        background: $red;
        border-radius: 50%;
        transform: scale(0);
        transition: all .2s ease;
        pointer-events: none;
    }
      
    &:hover .label:after{
        transform: scale(3.6);
    }
      
}
    
input[type="radio"]:checked + .label {
    &:after{
        transform: scale(1);
        transition: all .2s cubic-bezier(.35,.9,.4,.9);
        opacity: 1;
    }
}

input[type="radio"]:checked + figure img{
    border: solid rem(2) $red;
}

.hidden{
    display: none;
}

.mark{
    color: $red;
}







svg#icon-swipe {
    position: absolute;
    border-radius: rem(9);
    // background: #ffffff91;
    // box-shadow: 1px 1px 5px $grey;
    top: rem(15);
    right: rem(15);

    @include above($break_sm) {
        display: none;
    }

    #hand {
      fill: #000;
      transform-origin: 50% 100%;
      animation: hand-swipe 3.5s infinite ease;
    }
    #left, #right {
      fill: #000;
      opacity: 0;
    }
    #right { animation: arrow-right 3.5s infinite ease; }
    #left { animation: arrow-left 3.5s infinite ease; }
}
  
  @keyframes hand-swipe {
    5% { transform: translateX(3px) rotate(6deg); }
    25% { transform: translateX(0px) rotate(0deg); }
    28% { transform: translateX(0px) rotate(0deg); }
    33% { transform: translateX(-3px) rotate(-6deg); }
    53% { transform: translateX(0px) rotate(0deg); }
    100% { transform: translateX(0px) rotate(0deg); }
  }
  
  @keyframes arrow-right {
    7% { transform: translateX(8px); opacity: 1; }
    17% { transform: translateX(10px); opacity: 0; }
    18%, 100% { transform: translateX(0); opacity: 0; }
  }
  
  @keyframes arrow-left {
    0%, 30% { transform: translateX(0); opacity: 0; }
    37% { transform: translateX(-8px); opacity: 1; }
    47% { transform: translateX(-10px); opacity: 0; }
    48%, 100% { transform: translateX(0); opacity: 0; }
  }
  
