.offer {
    
    position: relative;
    // padding-top: rem(32);
    // padding-bottom: rem(8);
    margin-top: rem(64);
    margin-bottom: rem(16);
    padding: 0;

    &::before{
        content: '';
        background: rgb(255,224,224);
        background: radial-gradient(circle, rgba(255,224,224,1) 35%, rgba(254,240,244,1) 100%);
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: rem(50);
        bottom: 0;
    }



    @include above($size_sm) {
        padding-top: rem(112);
        padding-bottom: rem(32);
        margin-top: rem(32);
        margin-bottom: rem(112);
    }

    // @include above($size_md) {
    //     padding-top: rem(80);
    //     padding-bottom: rem(56);
    // }

    &__img{
        height: rem(430);
        width: 100%;
        max-width: rem(506);
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top:0;
        margin: auto;
        object-fit: cover;
        object-position: center;

        @include above($size_sm) {
            height: rem(576);
            max-width: rem(704);
            right: 44%;
            left: auto;
        }

        @include above($size_md) {
            height: rem(608);
            max-width: rem(730);
            right: auto;
            left: rem(-170);
        }

        @include above($size_lg) {

            left: auto;
            right: 44%;
        }
        
    }

    &__wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 10;
        padding-top: rem(400);
        padding-bottom: rem(32);


        @include above($size_sm) {
            align-items: flex-start;
            position: relative;
            padding-left: 42%;
            padding-top: 0;

        }
        @include above($size_md) {
            padding-left: rem(380);
        }
        @include above($size_lg) {
            padding-left: rem(500);
        }
    }
    
	&__title {
        margin-bottom: rem(16);
        font-size: rem(32);
        font-family: $playfair;
        font-weight: 700;
        line-height: 1.3;
        color: #c04060;
        text-align: center;

        @include above($size_xss) {
            font-size: rem(40);
        }

        @include above($size_sm) {
            font-size: rem(48);
            margin-bottom: rem(15);
            text-align: left;
        }
        @include above($size_md) {
            font-size: rem(64);
        }

	}

	&__intro {
        font-size: rem(20);
        font-family: $helvetica;
        line-height: 1.5;
        letter-spacing: rem(-0.6);
        color: #c04060;
        text-align: center;

        @include above($size_sm) {
            font-size: rem(28);
            text-align: left;
            max-width: rem(390);
        }
        @include above($size_md) {
            font-size: rem(32);
            letter-spacing: rem(-0.6);
            max-width: rem(480);
        }
    }

    .formN{
        margin-top: rem(26);
        max-width: rem(304);
        @include above($size_sm) {
            width: rem(390);
            max-width: none;
            
        }

        .inputN{
            border: 1px solid #f0b2c0;
        }

        ::-webkit-input-placeholder { /* Chrome */
            color: #f0b2c0;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: #f0b2c0;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: #f0b2c0;
        }
        :-moz-placeholder { /* Firefox 4 - 18 */
            color: #f0b2c0;
        }

        .buttonN{
            max-width: none;
            background: #a0ca70;
            box-shadow: inset 0 -1px 0 #70a040;

            @include above($size_sm) {
                max-width: rem(304);
                justify-self: flex-start;
            }

        }

        &__agreement{
            color: #f0b2c0;

            @include above($size_sm) {
                text-align: left;
                max-width: rem(304);
            }
        }
    }
}