.button {
    font-family: $helvetica;
    font-weight: 300;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    width: 17.5rem;
    background-color: $red_crismon;
    box-shadow: inset 0 -1px 0 #a01414;
    color: $white;
    border: none;

    &:hover {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #a01414;
    }

	&_gray {
	    background-color: $grey_chateau;
        box-shadow: inset 0 -1px 0 #646973;
	    color: $white;

        &:hover {
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #646973;
        }
	}

    &_inline {
        border: 2px solid $grey_chateau;
        background-color: $white;
        color: $grey_stone;
        box-shadow: initial;

        &:hover {
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #646973;
            background-color: $grey_chateau;
            color: $white;
            border: none;
        }
    }
    
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid $grey_chateau;
    background-color: $white;
    color: #50555f;
    box-shadow: none;
    padding: 10px 30px;
    font-family: $helvetica;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    
    &_active {
        border: 1px solid $red_crismon;
        color: $red_crismon;
    }
}
