.button {
	width: 17.5rem;
	max-width: 100%;
	height: 50px;
	display: block;
	align-items: center;
	padding-top: 2px;
	justify-content: center;
    font-size: 20px;
    text-decoration: none;
	font-family: $helvetica;
	font-weight: 400;
    color: $white;
	outline: none;
	border-radius: rem(4);
	background-color: $red_crismon;
    border: none;
	cursor: pointer;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 -1px 0 #a01414;
	transition: all .33s ease-out;

	&:not(button) {
		display: flex;
	}

    &:hover {
        box-shadow: 0 8px 12px rgba(136, 0, 0, 0.20), 0 0 8px rgba(136, 0, 0, 0.12), inset 0 -1px 0 #a01414;
    }

	&:active {
		background-color: #a01414;
		box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 1px 0 #880000;
	}

	&_gray {
	    background-color: $grey_chateau;
		box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 -1px 0 #646973;
	    color: $white;

        &:hover {
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #646973;
        }

		&:active {
			background-color: #808890;
			box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 1px 0 #485058;
		}
	}

    &_inline {
        border: 2px solid $grey_chateau;
        background-color: $white;
        color: $grey_stone;
        box-shadow: initial;

        &:hover {
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #646973;
            background-color: $grey_chateau;
            color: $white;
            border: none;
        }
    }

    &_insta {
        width: 176px;
        height: 50px;
        box-shadow: 0 16px 16px rgba(0, 4, 8, 0.24);
        border-radius: 5px;
        background-image: url('/img/gui/button_insta.jpg');
        color: #ffffff;
        font-family: "Helvetica Neue";
        font-size: 20px;
        font-weight: 500;

        &:hover {
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #b9358b;
        }
    }
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid $grey_chateau;
    background-color: $white;
    color: #50555f;
    box-shadow: none;
    padding: 10px 30px;
	padding-top: 11px;
	padding-bottom: 9px;
    font-family: $helvetica;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
	transition: all .3s;

	@include below($mobile) {
		padding: 10px 20px;
		padding-top: 11px;
	}

	&:hover {
		border: 1px solid #dc1414;
		color: #be1414;
	}

    &_active {
        border: 1px solid $red_crismon;
        color: $red_crismon;
    }
}


.buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    &__item {
        margin-right: 16px;

        @media screen and (max-width: 650px) {
			margin-right: 0;
            margin-bottom: rem(16);
        }
    }

    @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }
}
