.calc-promo {
	width: rem(780);
    display: flex;
    justify-content: flex-end;
    padding-top: rem(36);
	margin-bottom: rem(90);

    @media screen and (max-width: 800px) {
        display: none;
    }

    &__titles {
        width: rem(780);
		padding: 0;
        align-items: flex-start;
        z-index: 1;

		.titles__second-title {
			text-align: left;

			&::after {
				left: 0;
				transform: none;
			}
		}
    }

    &__intro {
        margin-top: 30px;
		margin-bottom: rem(48);
		color: #808890;
		font-family: $helvetica;
		font-size: rem(16);
		font-weight: 300;
		line-height: 22px;
		text-align: left;
    }

    &__footer {
        flex-basis: 60%;
        z-index: 1;
    }

	img {
		width: rem(380);
		height: rem(360);
	}
}
