.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 0 0 25px 0;

    &__title {
        margin: 28px 0 15px 0;
        padding: 0 30px;
    }

    &__subtitle {
        color: $grey_abbey;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        text-align: center;
        padding: 0 15px;
        margin: 0;
    }

    &__price {
        color: $red_crismon;
        line-height: 28px;
        font-family: "Helvetica Neue";
        font-size: 24px;
        margin: 23px 0 0 0;
    }

    &__number {
        font-size: 32px;
    }

    &__img {
       
        width: 100%;
        height: 220px;
        border-radius: 5px;
        margin: 0;
    }

    @media screen and (max-width: 700px) {

        align-items: flex-start;
        padding: 1.25rem 1.5625rem 1.25rem 1.25rem;
        position: relative;

        &:hover {
            transform: none;
        }

        &__img {
            display: none;
        }

        &__title {
            margin: 0;
        }

        &__price {
            margin: 0;
        }

        &__title:after{
            content: " ";
            position: absolute;
            right: 34px;
            top: 48px;
            background: url(/img/arrow.svg) no-repeat;
            width: 20px;
            height: 20px;
            background-size: contain;
            transform: rotate(-90deg);
        }

        &__line {
            display: none;
        }
    }
}