.footer-offer {
    padding-top: rem(80);
    padding-bottom: rem(65);
    background-image: url('/img/footer-form.jpg');
    background-size: cover;
    box-shadow: 0 rem(8) rem(8) rgba($black, .24), 0 0 rem(8) rgba($black, .12), inset 0 rem(-1) rem(1) #d1dadf;

    @media screen and (max-width: 640px) {
        background-image: url('/img/gui/footer-offer_mobile.jpg');
        box-shadow: initial;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 32px;
        font-weight: 300;
        text-align: center;

        @media screen and (max-width: 650px){
            font-size: 26px;
        }
    }

    &__intro {
        @media screen and (max-width: 650px){
            display: none;
        }
    }

    &__form {
        margin-top: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        @media screen and (max-width: 1024px) {
            width: auto;
        }
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
}
