@import './gui/input';
@import 'mixins';
@import 'variables';

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__input {
        margin-bottom: 20px;

		@include below($mobile) {
			width: 100%;
		}

        &_horiz {
            width: 32.5%;
            @media screen and (max-width: 1024px) {
                width: auto;
                margin-right: 15px;
            }

            @include below($mobile) {
    			margin-right: 0;
    		}
        }
    }

    &__button {
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
            width: auto;
            margin-right: 15px;
        }

        @include below($mobile) {
            margin-right: 0;
        }
    }
    &__agreement {
        font-size: 12px;
        width: 100%;

        a {
            color: #50555a;
        }
    }
}
