.input {
    border-radius: 5px;
    border: 1px solid #d0d2d4;
    background-color: $white;
    padding: 15px 20px;
    outline: none;
    color: $grey_abbey;
    font-family: "Helvetica Neue";
    font-size: 18px;
}
.search {
    display: flex;
    position: relative;

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;    
    }

    &__icon {
        position: absolute;
        left: 24px;
        top: 15px;
    }

    &__input {
        width: 100%;
        padding-left: 60px;
        height: 50px;

    }

    &__result {
        margin-left: 30px;
        @media screen and (max-width: 1024px) {
            margin: 0 auto;
        }
    }

    &__button {
        margin-bottom: 30px;

        @media screen and (max-width: 1024px) {
            margin-top: 25px;
        }
    }
}

.text-input {
    position: relative;
    &__value {
        width: 100%;
        padding: 10px;
    }
    &__label {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}