.linkBlock {
	position: relative;
	display: flex;
	align-items: center;
	padding: rem(16);
	text-decoration: none;
	border-radius: rem(4);
	overflow: hidden;
	background-size: cover;

	p {
		position: relative;
		margin: 0;
		padding-bottom: rem(16);
		color: #f4f6f8;
		font-family: $futura;
		font-size: rem(20);
		font-weight: 400;
		letter-spacing: rem(1);
		line-height: rem(24);
		text-transform: uppercase;
		hyphens: none;

		z-index: 2;

		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: rem(80);
			height: rem(1);
			background-color: #f4f6f8;
		}
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
