@import 'mixins';
@import 'variables';

.main-offer {
    background: url(/img/windows/main-offer.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 87px 0 80px 0;

    @include below($tablet) {
        background-position: right;
    }

    &__inner {
        @include below($tablet) {
            height: auto;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 483px;
    }
    &__overtitle {
        color: $white;
        line-height: 32px;
        margin: 0 0 2px 0;
        text-transform: uppercase;
        letter-spacing: 4px;

        @media screen and (max-width: 650px){
            font-size: 10px;
            text-align: center;
        }
    }

    &__title {
        min-height: 106px;
        color: $white;
        text-align: left;
        font-size: 58px;
        margin-bottom: 19px;
        max-width: 560px;
        height: 134px;

        &_center {
            text-align: center;
            max-width: 780px;
        }

        &:after {
            content: none;
        }

        @media screen and (max-width: 650px){
            margin: 0 auto;
            text-align: center;
            line-height: 31px;
            font-size: 30px;
            max-width: 85%;
            min-height: 90px
        }
    }

    &__subtitle {
        font-family: $helvetica;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 40px;
        text-align: left;
        color: $white;

        @media screen and (max-width: 650px){
            font-size: 23px;
            text-align: center;
            margin-top: 0;
        }
    }

    &__form {
        max-width: 380px;
    }

    @media screen and (max-width: 650px){
        padding: 30px 0 80px 0;

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__social {
            min-height: initial;
            height: 255px;
        }
    }

}

.index-offer {
    background: url(/img/windows/index-offer.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 97px 0 80px 0;

    @media screen and (max-width: 650px){
        padding: 65px 0;
    }

    &__title {
        color: $white;
        font-size: 48px;
        margin-bottom: 15px;

        @media screen and (max-width: 650px){
            font-size: 30px;
        }
    }



    &__intro {
        color: $white;
        font-size: 26px;
        margin-bottom: 70px;

        @media screen and (max-width: 650px){
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__button {
        margin-right: 15px;
        margin-bottom: 15px;

        @media screen and (max-width: 650px){
            margin-right: 0;
        }
    }

}

.main-offers {
    position: relative;
    height: 650px;
    &__arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 22px 25px;
        border-top-left-radius: 33px;
        border-bottom-left-radius: 33px;
        transform: translateY(-50%);

        &_prev {
            left: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    @media screen and (max-width: 640px) {
        height: auto;
        &__arrow {
            padding: 15px 18px;
        }
    }
}
