.main-offer {
    background: url(/img/windows/main-offer.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 87px 0 80px 0;

    &__overtitle {
        color: $white;
        line-height: 32px;
        margin: 0 0 2px 0;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__title {
        min-height: 106px;
        color: $white;
        text-align: left;
        font-size: 58px;
        margin-bottom: 19px;
        max-width: 560px;

        &_center {
            text-align: center;
            max-width: 780px;
        }

        &:after {
            content: none;
        }

    }

    &__subtitle {
        font-family: $futura;
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 40px;
        text-align: left;
        color: $white;
    }
   
    &__form {
        max-width: 380px;
    }

}

.index-offer {
    background: url(/img/windows/index-offer.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 97px 0 80px 0;

    &__title {
        color: $white;
        font-size: 48px;
        margin-bottom: 15px;
    }

    &__intro {
        color: $white;
        font-size: 26px;
        margin-bottom: 70px;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        margin-right: 15px;
    }

}