.manufacturers {
    display: flex;
    flex-direction: column;
    padding: 0 0 60px 0;

    @media screen and (max-width: 640px){
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: 1024px){
            justify-content: space-evenly;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 1024px){
            width: 15%;
            object-fit: scale-down;
            height: max-content;
            margin-bottom: 25px;
        }
    }

    &__country {
        font-family: $helvetica;
        font-size: rem(16);
        line-height: rem(22);
        width: 120px;
        padding-top: 10px;
        margin: 0;
        margin-top: 1.25rem;
        color: #babec2;
        text-align: center;
        border-top: 1px solid #a7aaad;
    }

    &_main {
        
    }
}
