.menu {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-self: flex-end;

    @media screen and (max-width: 1024px) {
        display: none;

        &_active {
            position: absolute;
            display: flex;
            padding: rem(20);
            padding-top: rem(8);
            padding-bottom: rem(16);
            z-index: 99;
            width: rem(300);
            flex-direction: column;
            background-color: $white;
            top: rem(92);
            right: rem(10);
            flex-direction: column;
            justify-content: flex-start;
            border-radius: rem(5);
            box-shadow: 0 0 0.25rem rgba(0,0,0,.08), 0 0.25rem 0.25rem rgba(0,0,0,.12), inset 0 -0.0625rem 0 rgba(0,0,0,.12);
			overflow-y: scroll;
		    max-height: calc(100vh - 80px);
        }


    }

	@media screen and (max-width: 650px) {
		&_active {
            top: rem(70);
            width: calc(100% - 20px);
        }
	}

    &__dropdown {
        display: none;

        &_toggled {
            position: relative;
            z-index: 2;
            display: flex;
            width: calc(100% + 40px);
            margin-top: rem(-9);
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding-left: rem(20);
            padding-right: rem(20);
            flex-direction: column;
            background-color: #f3f5f7;;
            border-radius: rem(5);



            .menu__item {
                &:last-child {
                    margin-bottom: 0;
                    border: none;
                }
            }
        }
    }


    &__item {
        position: relative;
        padding-bottom: rem(35);
        text-decoration: none;

        &_bordered {
            padding: 0 15px 13px 23px;
            &:not(:last-of-type) {
                margin-bottom: 25px;
                border-bottom: 1px solid #d0d2d4;
            }
        }
        @media screen and (max-width: 1024px) {
            display: block;
            font-size: 20px;
            padding-bottom: rem(16);
            padding-top: rem(16);

            &:not(.menu__item_dropdown) {
                margin-bottom: rem(8);
                border-bottom: .0625rem solid #b9bec3;
                padding-left: rem(25);
            }

            &_dropdown {
                margin-bottom: 0;
                padding-bottom: 0;
                padding-top: 0;

				&:last-of-type {
					.menu__dropdown {
						margin-top: 0;
					}

					.js-toggle-submenu {
						padding-bottom: rem(20);

						&::before,
						&::after {
							top: calc(50% - 2px);
						}
					}

					.menu__item:last-of-type {
						padding-bottom: 20px;
					}
				}

                &:last-child {
                    .js-toggle-submenu {
                        margin: 0;
                        border: none;
						padding-bottom: 20px;
                    }
                }
            }

            &.js-toggle-submenu {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(18);
                    height: rem(9);

                    background-image: url('/img/gui/arrow_mobile.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(16);
                    height: rem(11);

                    background-image: url('/img/gui/hamburger-nav.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            &_opened.js-toggle-submenu  {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &:hover {
            color: $red_crismon;
        }

        &_dropdown {
            @media screen and (min-width: 1025px) {
                &:before {
                    content: url('/img/gui/hamburger.svg');
                    color: inherit;
                    font-size: 13px;
                    margin-right: 4px;
                }
                &:hover {
                    .menu__dropdown {
                        width: 100%;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
                        border-radius: 5px;
                        background-color: $white;
                        padding: 30px 20px 22px 23px;
                        z-index: 99;
                        left: -50%;
                        border-top: .0625rem solid #e4e6e8;
                        top: 57px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        min-width: 15rem;

                        &:before {
                            content: '';
                            position: absolute;
                            top: -3px;
                            left: 42%;
                            border-width: .625rem .625rem 0;
                            border-style: solid;
                            border-color: #e4e6e8 transparent transparent;
                            transform: translateY(2px) rotate(0);
                        }
                        &:after {
                            border-color: #fff transparent transparent;
                            content: '';
                            position: absolute;
                            top: -3px;
                            left: 42%;
                            border-width: .625rem .625rem 0;
                            border-style: solid;
                        }
                    }
                }
            }
        }

    }

}
