.menu {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &__item {
        position: relative;

        &:hover {
            color: $red_crismon;
            /*
            &:after {
                content: ' ';
                position: absolute;
                bottom: -40px;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid $red_crismon;
                opacity: 0.5;
            }*/
        }

        &_dropdown:before {
            content: url('/img/gui/hamburger.svg');
            color: inherit;
            font-size: 13px;
            margin-right: 4px;

        }

    }

}
