.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 74%;
    }

    &__photo {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: .0625rem solid transparent;
        box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.16), 0 0 0.5rem rgba(0,0,0,.08), 0.0625rem 0 rgba(0,0,0,.1);
    }

    &__name {
        color: #475059;
        font-family: "Helvetica Neue";
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
        margin: 0 0 0 0;
    }
}