.radio {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

	color: #485058;
    font-family: $helvetica;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 300;

	&__desc {
		margin: 0;
		margin-left: auto;
		color: #babec2;
		font-family: $helvetica;
		font-size: rem(14);
		font-weight: 300;
		line-height: rem(16);
	}

    &__mark {
        position: relative;
        width: rem(16);
        height: rem(16);
        border: 1px solid #d0d2d4;
        background-color: $white;
        border-radius: 50%;
        margin-right: 10px;

        &:before {
            content: "";
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            width: rem(8);
            height: rem(8);
            border-radius: 50%;
            background: #dc1414;
            transform: translate(-50%, -50%);
			box-shadow: inset 0 -1px 0 #a01414;
        }
    }

    &__input {
       display: none;

       &:checked ~ .radio__mark:before {
           display: flex;
       }
    }

}
