@import 'person';
@import 'counter';

.review {
    display: flex;
    flex-direction: column;
    cursor: pointer;    

    &__body {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 0 40px 0;
    }

    &__person {
        margin: -60px 0 0 0;
    }

    &__line {
        margin-bottom: 5px;
    }

    &__date {
        color: #b9bec3;
        margin-bottom: 15px;
    }

    &__text {
        color: #475059;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 30px;
        max-height: 60px;
        overflow: hidden;

        &_full {
            max-height: initial;
        }
    }

    &__counters {
        width: 85px;
        color: #80878e;
        display: flex;
        justify-content: space-between;
    }

    &__media {
        height: 13.125rem;
        margin-top: -6px;
        z-index: 1;
        width: 100%;
        overflow: hidden;

        &_popup {
            padding: 15px 50px 35px 50px;
            height: auto;
            display: flex;
            justify-content: space-between;
        }
    }

    &__preview {
        width: 100%;
        height: 100%;
    }

    &__img {
        height: 120px;
        width: 32%;
        object-fit: cover;
        border-radius: 5px;
    }

    &__video {
        padding: 0 50px 0 50px;
        width: 100%;
        border-radius: 5px;
    }

}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    padding: 40px 50px 35px 50px;
    background: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 0 16px rgba(0, 0, 0, 0.08), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_manager {
        background-color: #f3f5f7;
        align-items: flex-start;
    }
    &__title {
        font-size: 24px;
    }

    &__line {
        margin: 15px 0 10px 0;
    }

    &__user {

        &_manager {
            margin-left: auto;
        }
        &_client{
            margin-right: auto;
        }
    }

    &__textarea {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__auth {
        width: 100%;
        display: flex;
        margin: 30px auto 0 0;
        align-items: center;
    }

    &__socials {
        margin-left: 20px;
        width: 45%;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }
}

.user {
    display: flex;
    align-items: center;

    &__left {
        margin-right: 20px;
    }
    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        color: #50555f;
        margin: 0;
    }  

    &__position {
        font-size: 14px;
        color: #a5aaaf;
        font-weight: 300;
        margin: 0;
        text-align: end;
    }  
}