@import './gui/review';

.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0 32px 0;
	padding-top: 48px;

    &__buttons {
        margin-top: 32px;
        width: 100%;
    }
    &__add {
        margin: 20px auto 0 auto;
    }
    &__item {
        width: 32.5%;
        margin-top: 70px;
        margin-bottom: 24px;

        @media screen and (max-width: 1024px) {
            width: 42%;
        }
        @include below($mobile) {
            width: 97%;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin: 24px auto 32px auto;
        width: 100%;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;


        }

        .button {
            @media screen and (max-width: 800px) {
                margin: 0;

                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__button {
        margin-right: 15px;

    }
    &__paginator {
        flex-basis: 100%;
        margin-top: 50px;
    }

    @media screen and (max-width: 1024px) {
        justify-content: space-evenly;
    }

    &_main {
        .reviews__item {
            @include below($tablet) {
                &:nth-of-type(n + 4) {
                    display: none;

                }
            }

            @include below($mobile) {
                width: 97%;

                &:nth-of-type(n + 3) {
                    display: none;

                }
            }
        }
    }
}
