@import 'person';

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;    

    &__body {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        background-color: $white;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 0 40px 0;
    }

    &__person {
        margin: -60px 0 0 0;
    }

    &__line {
        width: 120px;
        height: 0;
        border: 0;
        margin: 0;
        border-bottom: 1px solid #b9bec3;
    }

    &__date {
        text-align: center;
        color: #b9bec3;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
    }

    &__text {
        color: #475059;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 30px;
    }

    &__counters {
        width: 85px;
        color: #80878e;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
    }

    &__media {
        height: 13.125rem;
        margin-top: -3px;
        z-index: -1;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

.review-popup {
    display: none;
    background: white;
    padding: 0 50px 0 50px;
    &_active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }

    &__person {
        flex-direction: row;
        margin-top: -30px;
        align-items: flex-end;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__date {
        margin: 0;
        color: #aaaaaa;
        font-family: "Helvetica Neue";
        font-size: 18px;
        font-weight: 300;
    }

    &__text {
        color: $grey_dove;
        font-family: "Helvetica Neue";
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
    }

    &__media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 30px 0;

    }

    &__line {
        width: 100%;
        margin: 0 0 0 auto;
    }
    &__img {
        flex-basis: 30%;
        height: 135px;
        border-radius: 5px;
    }
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    background: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 0 16px rgba(0, 0, 0, 0.08), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    &_manager {
        background-color: #f3f5f7;
    }
    &__title {
        font-size: 24px;
    }
}