@import './gui/review';

.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0 32px 0;

    &__buttons {
        margin-top: 32px;
    }
    &__add {
        margin: 20px auto 0 auto;
    }
    &__item {
        width: 32.5%;
        margin-top: 70px;
        margin-bottom: 24px;

        @media screen and (max-width: 1024px) {
            width: 42%;
        }
        @media screen and (max-width: 800px) {
            width: 97%;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 24px auto 32px auto;
        flex-basis: 50%;

        @media screen and (max-width: 800px) {
            display: block;
        }
    }

    &__button {
        margin-right: 15px;
        @media screen and (max-width: 800px) {
           margin-bottom: 20px;
        }
    }
    &__paginator {
        flex-basis: 100%;
        margin-top: 50px;
    }

    @media screen and (max-width: 1024px) {
        justify-content: space-evenly;
    }
}