@font-face {
    font-family: 'PTRoubleSans';
    src: url('../fonts/subset-PTRoubleSans.woff2') format('woff2'),
        url('../fonts/subset-PTRoubleSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura-PT-Light.woff2') format('woff2'),
		url('../fonts/Futura-PT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura-PT-Book.woff2') format('woff2'),
		url('../fonts/Futura-PT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/subset-PlayfairDisplay-Italic.woff2') format('woff2'),
		url('../fonts/subset-PlayfairDisplay-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
		url('../fonts/subset-PlayfairDisplay-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'rouble';
    src: url('/fonts/RUBSR.woff') format('woff');
	font-weight: 300;
	font-style: normal;
    font-display: swap;
}

@import 'mixins';
@import 'variables';

.overtitle {
    color: #babec2;
    font-family: $futura;
    font-size: rem(22);
    font-weight: 300;
    letter-spacing: rem(7);
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    @include below($tablet) {
        font-size: rem(18);
        letter-spacing: rem(5);
        text-transform: uppercase;
    }

    @include below($mobile) {
        font-size: rem(17);
        letter-spacing: rem(4.5);
        text-transform: uppercase;
    }
}

.title {
    position: relative;
    margin: 0;
    padding-bottom: rem(32);
    color: #485058;
    font-family: $playfair;
    font-size: rem(43);
    font-weight: 400;
    line-height: rem(51);
    text-align: center;

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: rem(160);
        height: rem(1);
        background-color: #babec2;
        transform: translateX(-50%);

        @include below($mobile) {
            width: rem(110);
        }
    }

    @include below($tablet) {
        font-size: rem(32);
        line-height: rem(38);
    }

    @include below($mobile) {
        padding-bottom: rem(24);
        font-size: rem(26);
        line-height: rem(34);
    }
}

.second-title {
    position: relative;
    margin: 0;
    padding-bottom: rem(24);
    color: #485058;
    font-family: $playfair;
    font-size: rem(32);
    font-weight: 400;
    line-height: rem(38);
    text-align: center;

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: rem(160);
        height: rem(1);
        background-color: #babec2;
        transform: translateX(-50%);

        @include below($mobile) {
            width: rem(110);
        }
    }

    @include below($tablet) {
        font-size: rem(32);
        line-height: rem(38);
    }

    @include below($mobile) {
        font-size: rem(22);
        line-height: rem(26);
    }
}

.third-title {
    margin: 0;
    font-family: $playfair;
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(24);
    color: $grey_abbey;

    @include below($mobile) {
        font-size: rem(18);
        line-height: rem(22);
    }
}

.card-title {
    color: #485058;
    font-family: $futura;
    font-size: rem(26);
    font-weight: 400;
    letter-spacing: rem(1.5);
    line-height: rem(32);
    text-transform: uppercase;
    text-decoration: none;

    &_red {
        color: $red_crismon;
    }
}

.intro {
    margin: 0;
    text-align: center;
    color: #485058;
    font-family: $helvetica;
    font-size: rem(22);
    font-weight: 300;
    line-height: rem(32);

    &_red {
        color: $red_crismon;
    }


    @include below($mobile) {
        font-size: rem(20);
        line-height: rem(30);
    }
}

.text {
    margin: 0;
    color: #485058;
    font-family: $helvetica;
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(24);
    text-decoration: none;

    &_white {
        color: #f8f8f8;
    }

    &_bold {
        font-weight: 500;
    }

    @include below($tablet) {
        font-size: rem(18);
        line-height: rem(26);
    }
}

.subtext {
    color: #485058;
    font-family: $helvetica;
    font-size: rem(12);
    font-weight: 300;
    line-height: rem(20);
    margin: 0;
    text-decoration: none;

    &_white {
        color: #f8f8f8;
    }

    &_center {
        text-align: center;
    }

    &_center {
        text-align: center;
    }

    @include below($tablet) {
        font-size: rem(14);
        line-height: rem(24);
    }
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(80);
    width: 100%;
    z-index: 1;

    &__overtitle {
        @extend .overtitle;

        margin-bottom: rem(1);

        @include below($tablet) {
            margin-bottom: rem(10);
        }

        @include below($mobile) {
            margin-bottom: rem(13);
        }
    }

    &__title {
        @extend .title;

        margin-bottom: rem(48);
    }

    &__second-title {
        @extend .second-title;

        margin-bottom: rem(48);
    }

    &__intro {
        @extend .intro;
        width: rem(980);

        margin-top: rem(-8);
        max-height: 125px;
        overflow: hidden;

        &.opened {
            max-height: none;

            & + .titles__arrow {
                transform: rotate(180deg);
            }
        }

        @include below($tablet) {
            width: 100%;
        }

    }

    &__socials {
        width: 56%;
        margin-top: 20px;

        @include below($tablet) {
            width: 90%;
        }
    }

    &__arrow {
        display: none;

        padding: rem(10);

        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;

        img {
            width: rem(18);
            height: rem(9);
        }

        &_longtext {
            display: block;

            @include below($mobile) {
                display: none;
            }
        }
    }

    @include below($mobile) {
        &.container {
            margin-bottom: rem(50);


        }

        & {
            .intro + .titles__arrow {
                display: block;
            }
        }
    }
}
