$white: #ffffff;
$red_berry: #880000;
$black_shark: #303336;
$black_mako: #414447;
$grey_dove: #6b6b6b;
$red_crismon: #dc1414;
$grey_abbey: #50555a;
$grey_stone: #787d82;
$red_thunderbird: #be1414;
$grey_iron: #e4e6e8;
$grey_chateau: #a7aaad;
$futura: "Futura PT";