//breakpoints
$desktop: rem(1280);
$tablet: rem(1279);
$tablet-small: rem(960);
$phablet: rem(720);
$mobile: rem(719);
$mobile-small: rem(322);

//new
$size_xs: rem(480);
$size_sm: rem(769);
$size_md: rem(992);
$size_lg: rem(1180);

//global colors
$white: #ffffff;
$black: #000000;

$red_crismon: #dc1414;
$red_guardsman: #d40000;
$red_thunderbird: #be1414;
$red_tamarillo: #a01414;
$red_berry: #880000;

$grey_abbey: #50555a;
$grey_dove: #6b6b6b;
$grey_shuttle: #646973;
$grey_stone: #787d82;
$grey_chateau: #a7aaad;
$grey_iron: #e4e6e8;
$grey_light: #f9fafb;
$grey_dust: #9a9a9a;
$grey_chalice: #aaaaaa;
$grey_silver: #c8c8c8;
$grey_mercury: #e5e5e5;
$grey_wildSand: #f5f5f5;
$grey_oslo: #80878e;
$grey_sand: #b9bec3;

$black_scorpion: #585858;
$black_mako: #414447;
$black_shark: #303336;

$futura: 'Futura PT', sans-serif;
$playfair: 'Playfair Display', serif;
$helvetica: 'Helvetica Neue', sans-serif;
$rouble: 'PTRoubleSans', sans-serif;
