.about {
	padding-top: rem(48);
	margin-bottom: rem(-80);
    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include below($mobile) {
            width: 100%;
            height: auto;
            max-height: rem(455);
            margin: 0;
            margin-right: auto;
            margin-bottom: rem(20);
            margin-left: auto;
            overflow: hidden;
        }
    }

    &__image {
        width: 30%;
        height: rem(255);
        margin: 0 rem(10);
        margin-bottom: rem(30);
		object-fit: cover;

        @include below($tablet) {
            width: rem(350);
            height: rem(235);
        }
        @include below($mobile) {
            width: 100%;
            height: rem(215);
            margin: 0;

            &:not(last-of-type) {
                margin-bottom: rem(25);
            }
        }
    }

    &__content {
        overflow: hidden;

        .about__desc {
            width: rem(980);
            margin: 0 auto;

            @include below($tablet) {
                width: rem(480);
            }
            @include below($mobile) {
                width: 100%;
            }

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }
        }
    }

    &__rewards {
        display: flex;
        justify-content: center;
        margin-bottom: rem(90);
    }

    &__reward {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33.3% - 20px);
        margin: 0 rem(10);

        @include below($mobile) {
            width: 100%;

            h3,
            p {
                font-size: rem(18);
            }

            &:nth-of-type(n+2) {
                display: none;
            }
        }

        img {

            margin-bottom: rem(10);
        }

        h3 {
            margin: 0;
            margin-bottom: rem(10);
            font-family: "Playfair Display";
            font-size: rem(20);
            text-align: center;
            color: #50555a;
            font-weight: 400;
        }

        p {
            margin: 0;
            margin-bottom: rem(10);

            text-align: center;
        }
    }

    &__staff {
        position: relative;

        display: block;
        margin: 0 auto;

        @include below($tablet) {
            width: 100%;
            height: auto;
        }
    }

}
