.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px;

    &__buttons {
        margin-top: 24px;
    }
    &__preview {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 660px;
        justify-content: space-between;
        align-content: space-between;
        margin-bottom: 32px;

        @media screen and (max-width: 768px) {
            flex-direction: row;
            height: auto;
        }

        @media screen and (min-width: 768px) {
            .article-card:nth-child(1) {
                padding-top: 265px;
                height: 100%;
                width: 49%;
                margin-bottom: 0;
            }
            .article-card:nth-child(2) {
                height: 48% !important;
                width: 49% !important;
                min-height: initial;
                margin-bottom: 0;
            }
            .article-card:nth-child(3) {
                height: 48% !important;
                width: 49% !important;
                min-height: initial;
                margin-bottom: 0;
            }
        }

    }

    &__item {
        width: 32%;
        margin-bottom: 30px;

        @media screen and (max-width: 768px) {
            width: 100% !important;
        }
    }

    &__paginator {
        width: 100%;
    }
}

.article-card {
    padding: 112px 40px 32px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 360px;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
    &__title {
        color: $white;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }

    &__intro {
        margin: 0;
        color: $white;
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
    }

    &__link {
        margin-top: auto;
        color: $white;
    }

    @media screen and (max-width: 640px) {
        padding: 112px 20px 26px 20px;

        &__title {
            font-size: 26px;
        }
        &__intro {
            font-size: 16px;
        }
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        padding: 160px 0 156px 0;
        width: 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: $white;
        font-size: 72px;
        font-weight: 400;
        line-height: 72px;
    }
    &__intro {
        width: 780px;
        margin-top: 20px;
        color: $white;
        font-size: 28px;
        font-weight: 300;
        line-height: 40px;
    }

    &__body {
        padding: 34px 100px 96px 200px;

        p {
            color: $grey_abbey;
            font-family: "Helvetica Neue";
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
        }
        ul {
            display: flex;
            flex-direction: column;
            color: $grey_abbey;
            font-family: "Helvetica Neue";
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            list-style-type: circle;
            padding-left: 20px;

            li {
                margin-bottom: 7px;
            }
        }
        img {
            border-radius: 5px;

            &:nth-of-type(2n + 1) {
                margin-left: -100px;
                margin-right: 20px;
            }
            &:nth-of-type(2n) {
                margin-right: -100px;
            }
        }
    }

    &__socials {
        width: 780px;
        margin: 0 auto 90px auto;
    }

    @media screen and (max-width: 1024px) {
        &__title {
            font-size: 48px;
            width: 70%;
        }
        &__intro {
            font-size: 20px;
            width: 80%;
        }
        &__body {
            padding: 34px 100px 96px 132px;
        }
        &__socials {
            width: 90%;
        }
    }

    @media screen and (max-width: 640px) {
        width: 100%;
        margin: 0;

        &__heading {
            border-radius: 0;
        }
        &__title {
            font-size: 30px;
            line-height: 30px
        }
        &__intro {
            font-size: 16px;
            line-height: 24px;
            width: 95%;
        }
        &__body {
            padding: 48px 0 96px 0;
            p {
                margin: 16px 10px;
            }
            img {
                float: initial !important;
                margin: 0 !important;
                width: 100%;
                border-radius: 0;
            }
            ul {
                padding-left: 35px;
            }
        }

    }
}
