.calc-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    padding: 40px 0 100px 0;

    &:before {
        content: '';
        position: absolute;
        top: 130px;
        left: 0;
        display: block;
        width: 31.6875rem;
        height: 21.9375rem;
        background-image: url(/img/calculator.jpg);
        background-repeat: no-repeat;
        z-index: 0;
    }
    &__titles {
        width: 60%;
        align-items: flex-start;
        z-index: 1;
    }
   
    &__intro {
        margin-top: 30px;
        text-align: start;
        z-index: 1;
    }

    &__footer {
        flex-basis: 60%;
        z-index: 1;
    }
}