.cities {
    width: 780px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and(max-width: 850px) {
        width: 90%;
    }

    @media screen and(max-width: 565px) {
        justify-content: center;
    }

    &__title {
        flex-basis: 100%;
    }

    &__item {
        max-width: 240px;
        margin-bottom: 30px;
    }
}