@import 'mixins';
@import 'variables';

.body {
    margin: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    &.no-scroll {
        position: fixed;

        height: 100vh;
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: rem(1180);
    margin: 0 auto;

    @include below($tablet) {
        width: 95%;
        margin: 0 rem(20);
    }

    @include below($mobile) {
        margin: 0 rem(10);
    }
}

.logo {
    display: flex;
    align-items: center;
    &_white {
        filter: brightness(0) invert(1);
    }
    &__icon {
        margin-right: .625rem;
    }

}

.link {
    color: #4c4747;
    text-decoration: underline;
    cursor: pointer;

    &__red {
        color: #dc1414;
    }
}

.line {
    margin: 0;
    border: 0;
    width: 160px;
    border-bottom: 1px solid $grey_chalice;

    &_bold {
        width: 80px;
        border-bottom: 2px solid #d0d2d4;        
    }
}

.dropdown {
    cursor: pointer;

    &:hover {
        position: relative;

        .dropdown__arrow {
            transform: rotate(180deg);
        }

        .dropdown__content {
            
            position: absolute;
            display: flex;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
            border-radius: 5px;
            background-color: $white;
            padding: 30px 20px 22px 23px;
            top: -30px;
            left: -25px;
            z-index: 1;

        }
    }
    &__content {
        display: none;
        flex-direction: column;
    }

    &__title {
        color: #a5aaaf;
        font-family: $futura;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 28px 0 15px 23px;
    }

    &__item {
        white-space: nowrap;
        padding-left: 2px;

        &_bordered {
            padding: 0 15px 13px 23px;
            &:not(:last-child) {
                margin-bottom: 25px;
                border-bottom: 1px solid #d0d2d4;
            }
            
        }
        
        &_active {
            display: flex;
            align-items: center
        }
    }


    &__arrow {
        margin-top: 2px;
        margin-right: 10px;
    }

}

.phone {
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    @media screen and (max-width: 650px){
        font-size: 16px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__time {
        text-align: center;
    }
}

.whatsapp {
    display: flex;
    align-items: center;
    color: $grey_dove;
    &__icon {
        margin-right: 10px;
    }
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    border-radius: 1.875rem;
    background-image: linear-gradient(180deg,#787878 0%,#a8a8a8 100%);

    &__button {
        text-decoration: none;
        padding: .625rem 3.4375rem;
        margin: 0;
        font-size: 20px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: 300;
        color: #fff;
        border: 0;
        border-radius: 1.875rem;
        cursor: pointer;
        outline: 0;
        background: 0 0;

        &:not(:last-of-type) {
            margin-right: .25rem;
        }

        &:hover {
            background-color: #a7aaad;
            box-shadow: inset 0 -0.0625rem 0 #50555a;
        }

        &_active {
            color: #6b6b6b;
            background-image: linear-gradient(180deg,#fff 0%,#f0f0f0 100%);
            box-shadow: inset 0 -0.0625rem 0 #50555a;
        }

    }

}



.arrow {
    position: relative;

    padding: 0;

    border: 0 none;
    outline: none;
    background: transparent;

    &_vertical {
        &::after,
        &::before {
            content: '';

            position: absolute;
            top: calc(50% - 7px);
            left: calc(50% - 15px);

            width: 0;
            height: 0;

            border-width: rem(9) rem(9) 0;
            border-style: solid;
        }

        &::before {
            border-color: $grey_chateau transparent transparent;
            transform: translateY(1px);
        }

        &::after {
            border-color: $white transparent transparent;
        }
    }

    &_vertical-big {
        &::after,
        &::before {
            content: '';

            position: absolute;
            top: calc(50% - 7px);
            left: calc(50% - 15px);

            width: 0;
            height: 0;

            border-width: rem(15) rem(15) 0;
            border-style: solid;
        }

        &::before {
            border-color: $grey_chateau transparent transparent;
            transform: translateY(1px);
        }

        &::after {
            border-color: $white transparent transparent;
        }
    }

    &_rotate-vertical {
        &::after {
            transform: rotate(180deg);
        }

        &::before {
            transform: translateY(-1px) rotate(180deg)!important;
        }
    }
}

.select {
    position: relative;

    appearance: none;

    select {
        width: 100%;
        height: rem(50);

        padding-right: rem(50);
        padding-left: rem(20);

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 300;
        color: #50555f;

        border-radius: rem(5);
        border: rem(1) solid #d0d2d4;
        background-color: $white;
        outline: none;

        appearance: none;

        &:focus {
            border: rem(1) solid $grey_chateau;
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        &::-ms-expand {
            display: none;
        }

        &.error {
            border: rem(1) solid $red_crismon;
        }

        @include below($tablet) {
            height: rem(60);
        }
    }

    &::after {
        content: '';

        position: absolute;
        top: 50%;
        right: rem(20);

        width: rem(12);
        height: rem(6);

        background-image: url('/img/arrow-select.png');
        background-repeat: no-repeat;

        transform: translateY(-50%);

        @include above($desktop) {
            will-change: transform;
        }
    }
}

.page {
    &__inner {
        position: relative;

        padding-top: rem(80);
        padding-bottom: rem(60);

        &::after {
            content: '';

            @include stretch;

            position: absolute;

            width: rem(780);
            height: 100%;
            margin-right: auto;
            margin-left: auto;

            border-radius: rem(5);
            background-image: url('/img/texture2.png');
        }

        @include below($tablet-small) {
            &::after {
                content: '';

                width: rem(480);
            }
        }

        @include below($mobile) {
            padding-top: rem(40);

            &::after {
                content: '';

                width: rem(240);
            }
        }

        &_alone {
            margin-top: rem(60);
            margin-bottom: rem(80);
        }

        &_sand {
            &::after {
                content: '';

                background-image: url('/img/sand.jpg');
            }
        }
    }
}

.about {
    &__message-dir-open {
        width: 48.75rem;
        margin-right: auto;
        margin-bottom: 6.25rem;
        margin-left: auto;
    }
}

.page__about {
    padding-top: rem(80);

    .title {
		margin-bottom: 40px;
	}
}

.page__employers {
    padding-top: rem(80);
	padding-bottom: rem(80);

    .title {
		margin-bottom: 50px;
	}

	.intro {
		margin-bottom: rem(60);
	}
}

.page__questions,
.page__jobs {
	padding-top: rem(80);

    .title {
		margin-bottom: 40px;
	}

	.intro {
		margin-bottom: rem(60);
	}
}

.page__review {
    margin-bottom: rem(50);
	padding-top: rem(80);

    .title {
		margin-bottom: 40px;
	}

	.intro {
		margin-bottom: rem(60);
	}
}


.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 120vh;

    &_active {
        z-index: 9;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

}

.popup {
    display: none;

    &_active {
        background: white;
        z-index: 10;
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: .3125rem;

        @media screen and (max-width: 650px) {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
        }
    }

    &__close {
        cursor: pointer;
        padding: 9px;
        box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.08);
        background-color: #e5e5e5;
        position: absolute;
        top: -20px;
        right: -20px;
        border-radius: 50%;

        @media screen and (max-width: 650px) {
            top: 15px;
            right: 15px;
        }
    }

    &__form {
        width: 90%;
        max-width: 360px;
        margin: 70px 60px 80px 60px;
        display: block;

        @media screen and (max-width: 650px) {
            margin: 65px 25px 80px 25px;
            overflow: auto;
            max-width: initial;
        }
    }

    &__title {
        color: #50555f;
        font-size: 30px;
        letter-spacing: 3px;
    }

    &__line {
        margin: 18px auto 30px auto;
    }

    &__intro {
        color: $grey_dove;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;

    }

    &__input {
        margin-bottom: 20px;
        width: 100%;
    }

    &__button {
        margin: 20px auto 0 auto;
        width: 100%;
    }

    &__agreement {
        color: #787d82;
        font-size: 12px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
        max-width: 280px;
        margin: 20px auto 0 auto;
    }
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: .0625rem solid transparent;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.16), 0 0 0.5rem rgba(0,0,0,.08), 0.0625rem 0 rgba(0,0,0,.1);
}

.b-texture {
    position: relative;
    
    &:before {
        z-index: -1;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 48.75rem;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        border-radius: .3125rem;
        background-image: url(/img/gui/texture2.png);

        @media screen and (max-width: 1024px) {
            width: 90%;
        }
    }
}

.b-card {
    background: $white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-decoration: none;
}

.is-hoverable {
    will-change: transform;
    transform: scale(1);
    transition: transform 100ms linear;
    
    &:hover {
        transition: transform 100ms linear;
        transform: scale(1.05);
        z-index: 9;
        box-shadow: 0 0.75rem 0.75rem rgba(0,0,0,.16), 0 0 0.75rem rgba(0,0,0,.08), inset 0 -0.0625rem 0 rgba(0,0,0,.16);

        @media screen and (max-width: 768px) {
            transform: none;
        }
    }
}

.price {
    color: #dc1414;
    line-height: 28px;
    font-family: "Helvetica Neue";
    font-size: 24px;
}

.mobile-only {
    display: none;
}

.overflowed {
    overflow: hidden;
}
@media screen and (max-width: 650px){
    .mobile-hide {
        display: none;
    }
    .mobile-only {
        display: initial;
    }
}