@import 'mixins';
@import 'variables';

.contacts {
    position: relative;

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
    }

    &__map {
        width: 100%;
        height: 70vh;

        @media screen and (max-width: 1024px) {
            order: 2;
            z-index: 1;
        }

        @include below($tablet-small) {
            width: 100%;
            height: rem(990);
        }
        @include below($mobile) {
            height: rem(950);
        }
    }
    &__offices {
        position: absolute;
        top: 120px;
        left: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;

        @include below($tablet) {
            height: calc(100% - 265px);
            bottom: auto;
            top: 0;
            left: 20px;
        }

        @include below($mobile) {
            height: calc(100% - 500px);
            left: 0;
            justify-content: center;
        }
    }
    &__office {
        margin-bottom: 10px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        @include below($tablet) {
            position: absolute;
            margin: 0;
            height: 100%;
            left: calc(50% - 20px);
            transform: translateX(-50%);
        }

        @include below($mobile) {
            left: calc(50% - 30px);
        }
    }
    &__arrow {
        cursor: pointer;
        padding: 30px 22px 25px 22px;
        border-radius: 40px 40px 1px 1px;
        margin: 0;
        border: 0;
        background: rgba(255,255,255,.4);
        background-color: rgba(0,0,0,.5);

        @include below($tablet) {
            position: absolute;
            top: 0;
            border-radius: 1px 1px 40px 40px;
        }

        &_down {
            margin-top: 1px;
            transform: rotate(180deg);

            @include below($tablet) {
                top: auto;
                bottom: 0;
                border-radius: 1px 1px 40px 40px;
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 0;
        padding-bottom: 0;

        @include below($tablet) {
            order: 2;
            padding-left: 65px;
            padding-right: 65px;

            .contacts__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 215px;

                &:last-of-type {
                    max-width: none;
                    width: 100%;
                }
            }

            .socials__icon {
                width: 50px;
                height: 50px;
            }

            .socials__item {
                margin: 0;
                width: auto;

                &:not(:last-of-type) {
                    margin-right: 25px;
                }
            }
        }

        @include below($mobile) {
            padding: 0;
            padding-top: 90px;

            .contacts__item {
                width: 100%;
                max-width: none;
                margin: 0;

                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__phone {
        flex-direction: column;
        font-size: 24px;
        align-items: flex-end;

        .phone__time {
            margin: 0;
            margin-right: 9px;
        }
    }

    &__socials {
        margin-top: 15px;

        @include below($tablet) {
            justify-content: center;
        }
    }

    .second-title {
        @include below($tablet) {
            font-size: 24px;
        }
    }
}

.office {
    overflow: hidden;
    width: 380px;
    padding-bottom: 20px;
    display: none;
    min-height: 440px;

    @include below($mobile) {
        width: calc(100% - 20px);
    }

    &_active {
        display: block;
    }

    &__img {
        height: 220px;
        width: 100%;
        object-fit: cover;
        margin-bottom: rem(26);
    }
    &__title {
        padding-left: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    &__desc {
        padding-left: 68px;
        padding-right: 40px;
        margin-top: 0;
    }
    &__time {
        display: flex;
        align-items: center;
        padding-left: 40px;
        margin-bottom: 0;
    }

    &__weekend {
        padding-left: 68px;
        margin-top: 0;
    }
    &__icon {
        margin-right: 10px;
    }
}
