.employees {
    margin-bottom: rem(90);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    &__switcher {
        flex-basis: 77%;
        margin-bottom: rem(40);
    }

   
    &__card,
    &__additionally {
        width: calc(25% - 20px);
        height: rem(627);
        margin: 0 rem(10);
        margin-bottom: rem(40);

        @include below($tablet) {
            width: calc(33.3% - 20px);
        }
        @include below($tablet-small) {
            width: calc(50% - 20px);
        }
        @include below($mobile) {
            width: 100%;
            height: rem(515);
            margin: 0;
            margin-bottom: rem(40);
        }
    }

    &__additionally {
        position: relative;

        padding: 0 rem(15);
        overflow: hidden;

        text-decoration: none;

        border-radius: rem(5);
        cursor: pointer;
        background-image: url('/img/additionally.jpg');
        background-size: cover;
        box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, 0),
        0 0 rem(2) rgba(0, 0, 0, .08),
        inset 0 rem(-1) 0 rgba(0, 0, 0, .12);

        @include above($tablet-small) {
            transition: box-shadow .3s;

            &:hover {
                box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, .12),
                0 0 rem(8) rgba(0, 0, 0, .08),
                inset 0 rem(-1) 0 rgba(0, 0, 0, .12);

                &::after {
                    background-color: rgba($black, .6);
                }
            }
        }

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: rgba($black, .5);

            @include above($tablet-small) {
                transition: background-color .3s;
            }
        }
    }

    &__additionally-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h2 {
            position: relative;
            z-index: 2;

            margin: 0;
            margin-bottom: rem(30);

            font-size: rem(20);
            line-height: 1.2;
            color: $white;
            text-align: center;

            &::after {
                background-color: $white;
            }
        }

        p {
            position: relative;
            z-index: 2;

            margin: 0;

            color: $white;

        }
    }

    &__link {
        position: relative;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(220);
        height: rem(50);
        padding: rem(10) rem(15);
        margin: 0 auto;

        font-family: $helvetica;
        font-size: rem(20);
        font-weight: 300;
        color: $white;
        text-decoration: none;

        border-radius: rem(5);

        @include below($tablet-small) {
            width: rem(240);
            height: rem(60);
        }
        @include below($mobile) {
            width: 100%;
        }
    }
}
