.footer {
    background-color: $black_mako;

    &__offices {
        display: flex;
        align-items: center;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 20px 0;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__row_dark {
        background-color: #303336;
        padding: 21px 0;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 75%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-top: 40px;
            width: 100%;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            align-items: center;
        }
    }

    &__logo {
        margin: 0 0 23px -13px;
    }

    &__phone {
        color: #e5e5e5;
        width: 200px;
        justify-content: flex-start;
        margin-bottom: 23px;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    &__time {
        color: #e5e5e5;
        font-size: 11px;
        margin-left: 26px;
    }

    &__icon {
        width: 16px;
        margin-right: 10px;
    }
    &__mail {
        margin-bottom: 23px;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        @media screen and (max-width: 1024px) {
           justify-content: space-evenly;
        }
    }
    &__title {
        position: relative;
        color: white;
        font-size: 18px;
        font-weight: 400;
        border-bottom: .125rem solid #aaa;
        padding-bottom: 4px;
        margin-bottom: 12px;

        @media screen and (max-width: 768px) {
            width: 100%;
            border-bottom-width: 1px;
            text-align: left;
			margin-bottom: 0;

            &.js-open::after {
                position: absolute;
                content: '';
                right: 12px;
                top: calc(50% - 4px);
                width: 12px;
                height: 6px;
                background-image: url('');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%);
                background-image: url('/img/arrow_footer.png');
            }
        }
    }

    &__item {
        width: 25%;
        margin-bottom: 25px;

        @media screen and (max-width: 1024px) {
        }

        @media screen and (max-width: 768px) {
            width: auto;
            display: flex;
            align-items: center;
        }
    }

    &__text {
        text-align: center;
        color: #a7aaad;

        @media screen and (max-width: 768px) {
            margin-top: 16px;
        }
    }
}


.nav-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        align-items: center;
    }

    &__item {

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
        @media screen and (max-width: 768px) {
			display: none;
            width: 100%;
		}
    }

    &_opened {
        .footer__title {
            margin-bottom: 12px;

            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .nav-group__item {
            display: block;
        }
    }
}
