.footer {
    background-color: $black_mako;

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 20px 0;
    }
    &__row_dark {
        background-color: #303336;
        padding: 21px 0;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 75%;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        margin: 0 0 23px -13px;
    }

    &__phone {
        color: #e5e5e5;
        width: 200px;
        justify-content: flex-start;
        margin-bottom: 23px;
    }

    &__time {
        color: #e5e5e5;
        font-size: 10px;
        margin-left: 20px;
    }

    &__icon {
        margin-right: 4px;
    }
    &__mail {
        margin-bottom: 23px;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__title {
        color: #e5e5e5;
        font-size: 18px;
        font-weight: 300;
        border-bottom: .125rem solid #aaa;
        margin-bottom: 10px;
    }

    &__item {
        width: 25%;
        margin-bottom: 25px;
    }
}


.nav-group {
    display: flex;
    flex-direction: column;   
    align-items: flex-start; 

    &__item {
        margin-bottom: 10px;
    }
}