.form {
    display: flex;
    flex-direction: column;

    &__agreement {
        color: #e3e6e9;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-weight: 300;
    }
}

.input {
    border-radius: 5px;
    border: 1px solid #d0d2d4;
    background-color: $white;
    padding: 15px 30px 15px 20px;
}