@import 'mixins';
@import 'variables';
.form {
    display: flex;
    flex-direction: column;

    &__agreement {
        color: #e3e6e9;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-weight: 300;
    }
}

.input,
.textarea {
    padding: rem(14) rem(20);

    @include input-typography;

    border-radius: rem(5);
    border: rem(1) solid #D0D2D4;
    background-color: $white;
    outline: none;
    -webkit-appearance: none;

    @include above ($desktop) {
        transition: border .3s, background-color .3s, color .3s;
    }

    &:focus {
        border: rem(1) solid $grey_chateau;
    }

    &::-webkit-input-placeholder {
        @include input-typography;
    }

    &::-moz-placeholder {
        @include input-typography;
    }

    &:-ms-input-placeholder {
        @include input-typography;
    }

    &::placeholder {
        @include input-typography;
    }

    &:disabled {
        border: 1px solid #d0d2d4;
        background-color: #f9fafb;

        &::placeholder {
            color: #d0d2d4;
        }
    }

    &.error {
        border: rem(1) solid $red_crismon;
    }

    &_big {
        height: rem(50);
        padding-top: 0;
        padding-bottom: 0;

        @include below($tablet) {
            height: rem(60);
        }
    }
}

.textarea {
    padding: rem(15);

    resize: none;
}
