.header {
    display: flex;
    flex-direction: column;

    .phone {
        flex-wrap: nowrap;
    }



    &_hidden {
        display: none;
    }

    &_light {
        align-items: center;
        padding: 2.5rem 0;

        @media screen and (max-width: 650px){
            padding: 1rem 0;
        }
    }

    &__top {
        border-bottom: rem(1) solid #e4e6e8;
    }

    &__top-content {
        padding: 65px 0 0 0;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1024px){
            padding-top: 35px;
        }
        @media screen and (max-width: 650px){
            padding: rem(18) 0;
            align-items: center;
        }
    }

    &__close {
        position: relative;
        display: none;
        width: rem(24);
        height: rem(49);
        margin-left: auto;
        padding-bottom: rem(25);
        z-index: 3;

        @media screen and (max-width: 1024px) {
            &.active {
                display: block;
            }
        }

        @media screen and (max-width: 650px){
            margin-left: auto;
            height: rem(24);
            padding: 0;
        }
    }

    &__line {
        margin: 0;
        border-color: #e4e6e8;
        border-width: .5px;
    }

    &__bottom {
        padding: 22px 0 22px 2px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 650px){
            padding: 15px 0;
        }

        .dropdown:hover .dropdown__content {
            left: -23px;
        }
    }

    &__logo {
        padding-bottom: rem(25);
        @media screen and (max-width: 650px){
            padding: 0;
        }
    }
    &__directions {
        margin: -2px 0 0 44px;
        position: relative;
        width: 30%;
        padding-bottom: rem(25);

        @media screen and (max-width: 650px){
            margin-left: 0;
            padding: 0;
            margin-top: 2px;
        }

        &:before {
            content: '';
            position: absolute;
            top: -11px;
            left: -24px;
            width: .0625rem;
            height: 2.8125rem;
            background-color: #a7aaad;

            @media screen and (max-width: 650px){
                content: none;
            }
        }

        @media screen and (max-width: 1024px){
            width: initial;
        }
    }

    &__menu {
        flex-basis: 52.7%;
        margin-left: auto;

    }

    &__offices {
        min-width: 350px;
        @media screen and (max-width: 1024px){
            display: none;
        }
    }

    &__phone {
        margin-right: rem(32);

        @include below($tablet) {
            margin-right: 0;
        }

        &.phone {
            @media screen and (max-width: 650px){
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 15px;
            }

            .phone__icon {
                @media screen and (max-width: 650px){
                    position: absolute;
                    left: 0;
                    top: 2px;
                    margin: 0;
                }
            }
        }
        span {
            display: none;
            color: #dc1414;
            font-family: $helvetica;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;
            text-decoration: underline;

            @media screen and (max-width: 650px){
                display: inline;
            }
        }
    }

    &__feedbacks {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include below($tablet) {
            width: 100%;
            margin: 0;
            justify-content: space-between;
        }

		@media screen and (max-width: 650px){
            flex-direction: row-reverse;
            justify-content: space-evenly;
        }

        @media screen and (max-width: 359px){
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__whatsapp {
        margin-right: rem(64);

        @include below($tablet) {
            margin: 0;
        }
    }

    &__callback {
        position: relative;
        cursor: pointer;
        color: $red_crismon;
        line-height: 16px;

        &::after {
            position: absolute;
            width: 100%;
            bottom: rem(-1);
            display:block;
            content: '';
            border-bottom: rem(1) dashed $red_crismon;
        }

        &:hover {
            &::after {
                animation: dush .3s ease;
            }
        }

        @include below($tablet) {
            line-height: 20px;
        }
        @media screen and (max-width: 650px){
            display: none;
        }
    }

    &__hamburger {
        position: relative;
        display: none;
        cursor: pointer;
        margin-left: auto;
        padding-bottom: rem(25);
        z-index: 3;

        @media screen and (max-width: 1024px){
            &.active {
                display: flex;

            }
        }
        @media screen and (max-width: 650px){

            padding: 0;
        }
    }

    &_sticky {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        z-index: 99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        left: 0;
        box-sizing: border-box;
        padding: 20px 0;
        flex-direction: row;
        align-items: center;

        .header__content {
            @extend .container;
            display: flex;
        }

        .menu,
        .header__hamburger {
            display: none;

        }
        .header__hamburger {
            &.active {
                margin-left: 0;
                padding: 0;
            }

        }

        .menu_active {
            display: flex;
			overflow-y: scroll;
		    max-height: calc(100vh - 220px);
        }

        .logo {
            margin-right: rem(15);
        }


        @include below($tablet-small) {
            .logo__text {
                display: none;
            }
        }

        @include below($tablet) {
            padding: rem(20) rem(10);

            .header__hamburger {
                &.active {
                    display: block;
                }
            }

            .logo {
                display: none;
            }

            .header__phone {
                order: -1;
            }

            .header__hamburger {
                width: rem(23);
                height: rem(20);
                margin: 0;
                padding: 0;
                align-self: center;
            }

            .header__feedbacks {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .menu_active {
                top: rem(65);
                box-shadow: 0 0 rem(4) rgba(0, 0, 0, 0.24), 0 rem(4) rem(4) rgba(0, 0, 0, 0.12), inset 0 -0.0625rem 0 rgba(0, 0, 0, 0);
            }

            .header__close {
                &.active {
                    width: rem(23);
                    height: rem(23);
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

}

@keyframes dush {
 from {
     bottom: rem(-1);
 }

 50% {
     bottom: rem(-4);
 }

 to {
    bottom: rem(-1);
 }
}
