.headerClimat {

    &__shipping {
        margin-right: rem(32);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 300;
        line-height: rem(12);
        text-decoration: none;
        padding-bottom: rem(8);

		@include below($tablet) {
			display: none;
		}
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: rem(8) 0;
        padding-bottom: 0;
        background-color: #f4f6f8;

		@include below($tablet) {
			padding: rem(16) 0;
		}

		.header__callback {
			@include below($tablet) {
				display: flex;
			}
		}

		.header__hamburger.active {
			@include below($tablet) {
				margin: 0;
				padding: 0;
				width: rem(24);
				height: rem(16);
			}

            @include below($mobile) {
                width: rem(20);
				height: rem(15);
			}
		}

		.header__feedbacks {

            padding-bottom: rem(8);

			@include below($tablet) {
				flex-direction: row;
                padding-bottom: 0;
			}

            @include below($mobile) {
				justify-content: flex-start;

                .header__phone.text {
                    font-size: rem(16);
                }
			}
		}

		.whatsapp.header__whatsapp {
			margin-right: rem(48);

			@include below($tablet) {
				flex-direction: row;
				align-items: center;
				padding-left: 0;
				margin-right: rem(32);

				.whatsapp__write-text {
					display: flex;
				}

				.whatsapp__mobile-text {
					display: none;
				}

				.whatsapp__icon {
					position: static;
				    margin-right: 7px;
				}
			}

            @include below($mobile) {
				display: none;
			}
		}


		.header__phone {
			margin-right: rem(16);

			@include below($tablet) {
				flex-direction: row;
				align-items: center;
				padding-left: 0;
				margin-right: rem(16);
			}

            @include below($mobile) {
                font-size: rem(16)
			}

			span {
				@include below($tablet) {
					display: none;
				}
			}

			.phone__icon {
				@include below($tablet) {
					position: static;
					margin-right: 10px;
				}
			}
		}

        .container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .dropdown {
            &:hover {
                .dropdown__content {
                    width: calc(100% + 43px);
                    left: rem(-23);
                }
            }

            &.opened {
                .dropdown__content {
                    width: calc(100% + 43px);
                    left: rem(-23);
                }
            }
        }

        .menu {
            align-self: center;
        }

        .menu__item.js-toggle-submenu {
            font-size: rem(12);
            line-height: 1;
            padding-bottom: 0;
        }

        .menu__item.menu__item_dropdown {
            padding-bottom: rem(8);

            @include below($tablet) {
    			padding-bottom: 0;
    		}
        }

		.menu__item_dropdown:hover .menu__dropdown {
			top: rem(26);
		}

		.menu__item_dropdown:hover .menu__dropdown:after {
			border-color: #f4f6f8 transparent transparent;
		}

        .dropdown__item.dropdown__item_active {
            font-size: rem(12);
            line-height: 1;
        }

        .header__offices {
            min-width: rem(256);
            padding-bottom: rem(8);

            @include below($tablet) {
    			padding-bottom: 0;
    		}
        }

        .header__menu {
            flex-basis: unset;
            margin-left: 0;
        }

        .header__feedbacks {
            margin-left: 0;
            margin-right: auto;

            .text {
                font-size: rem(12);
                line-height: 1;
            }
        }
    }

    &__main {
        position: relative;
        @extend .container;
        display: flex;
        align-items: center;
        padding: rem(32) 0;
        border-bottom: rem(1) solid #e6e8ea;

        @include below($mobile) {
            padding: rem(24) 0;
        }

		.dropdown__item_active {
			@include below($tablet) {
				font-size: rem(16);
				line-height: 1;
			}
		}

        .header__logo,
        .header__directions {
            padding-bottom: 0;
        }

        .header__directions {
            margin-right: auto;

			@include below($tablet) {
				margin-left: rem(30);

				&::before {
					left: rem(-14);
					height: rem(40);
				}
			}

            @include below($mobile) {
				margin-left: rem(16);

				&::before {
					left: rem(-8);
					top: rem(-9);
				}
			}
        }

		.logo__icon {
			@include below($tablet) {
				width: rem(34);
				height: rem(40);
			}

            @include below($mobile) {
				width: rem(28);
				height: rem(32);
			}
		}

		.logo__text  {
			@include below($tablet) {
				width: rem(107);
				height: rem(18);
			}
		}
    }

    &__search {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(307);
        margin-right: rem(83);
		flex-shrink: 0;


		@include below($tablet) {
			width: rem(180);
			margin-right: rem(20);
			font-size: rem(14);
			line-height: rem(14);
			font-weight: 300;

		}

        @include below($mobile) {
            width: auto;
            margin-right: rem(24);
        }

        .search__input {
            width: 100%;
            @extend .input;
			border-radius: 0;
			border: rem(1) solid #e6e8ea;
			padding-left: rem(12);
			padding-top: rem(12);
			padding-bottom: rem(14);




            @include below($tablet) {
				padding-right: rem(41);
				height: rem(40);

				&::placeholder {
					font-size: rem(14);
		  	  		line-height: rem(14);
		  	  		font-weight: 300;
			    }

			    &:-ms-input-placeholder {
					font-size: rem(14);
					line-height: rem(14);
					font-weight: 300;
			    }

			    &::-ms-input-placeholder {
					font-size: rem(14);
					line-height: rem(14);
					font-weight: 300;
			    }
			}

            @include below($mobile) {
				display: none;
                margin: 0;
                padding-right: rem(36);
			}
        }

        .search__submit {
            position: absolute;
            right: rem(7);
            top: 50%;
            width: rem(34);
            height: rem(34);
            padding: rem(10);

            border: none;
            background-color: transparent;
            transform: translateY(-50%);
            cursor: pointer;
            outline: none;

            @include below($mobile) {
                width: rem(20);
                height: rem(20);
                padding: 0;
                display: none;
                right: rem(16);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &.active {
            position: absolute;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: rem(24) 0;
            margin: 0;
            background-color: #ffffff;
            z-index: 1;

            .headerClimat__search-button {
                display: none;
            }

            .search__submit,
            .search__input {
                display: block;
            }

            .search__input {
                width: auto;
                margin-left: rem(8);
            }

            .headerClimat__back-button {
                display: flex;
            }
        }
    }

    &__back-button {
        width: rem(36);
        height: rem(36);
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        display: none;
        transform: rotate(90deg);
    }

    &__search-button {
        width: rem(20);
        height: rem(20);
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        @include above($mobile) {
            display: none;
        }
    }

    &__login {
        display: flex;
        justify-content: flex-start;
        margin-right: rem(33);

		@include below($tablet) {
			margin-right: rem(18);
		}

        @include below($mobile) {
            display: none;
        }

        a {
            position: relative;
            color: #485058;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(16);
            text-decoration: none;

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: rem(1);
                background-color: #babec2;
                bottom: rem(-2);
                transition: width .3s;
            }

            @include above($tablet) {
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }



            &:not(:last-of-type) {
                position: relative;
                margin-right: rem(24);

				@include below($tablet) {
					margin-right: rem(16);
				}

                &::after {
                    position: absolute;
                    content: '|';
                    right: rem(-14);

					@include below($tablet) {
						right: rem(-10);
					}
                }
            }
        }
    }

    &__basket {
        position: relative;
        padding-left: rem(26);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(16);
        text-decoration: none;

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: rem(1);
            background-color: #babec2;
            bottom: rem(-2);
            left: rem(28);
            transition: width .3s;
        }

        @include above($tablet) {
            &:hover {
                &::before {
                    width: calc(100% - 27px);
                }
            }
        }

		@include below($tablet) {
			text-indent: -99999px;
            font-size: 0;
		}

		@include below($mobile) {
			padding-left: rem(28);
		}

        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: calc(50% - 2px);
            width: rem(18);
            height: rem(16);
            background-image: url('/img/gui/basket.svg');
            background-size: contain;
            transform: translateY(-50%);
			background-repeat: no-repeat;

			@include below($tablet) {
				width: rem(28);
	            height: rem(24);
			}
        }
    }

    &__footer {
        position: relative;
        @extend .container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(12);
        padding-bottom: rem(12);
    }

    &__more {
        position: relative;
        display: none;
        padding-right: rem(22);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
        line-height: 1;
        text-decoration: none;

        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            width: rem(12);
            height: rem(6);
            transform: translateY(-50%);
            background-image: url('/img/gui/arrow.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include below($mobile) {
            display: flex;
        }

        &.active {
            & + .headerClimat__dropdown {
                display: flex;
            }
        }
    }

    &__dropdown {
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 9999999;
        top: calc(100% - 3px);
        right: rem(-16);
        background-color: #ffffff;
        padding: rem(24) rem(16);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
        border-radius: rem(4);

        @include below($mobile-small) {
            right: rem(-8);
        }

        .headerClimat__link {
            &:nth-of-type(n + 3) {
                display: flex;
            }

            &:not(:last-of-type) {
                margin-bottom: rem(16);
            }
        }
    }

    &__link {
        color: #485058;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
		transition: color .3s;

		&:hover {
			color: #dc1414;
		}

        @include below($mobile) {
            &:nth-of-type(n + 3) {
                display: none;
            }

            span {
                display: none;
            }
        }
    }

    .goTop {
        position: fixed;
        right: 0;
        bottom: rem(56);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(56);
        height: rem(56);
        box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, 0.12), 0 0 rem(8) rgba(0, 0, 0, 0.08), inset 0 rem(-1) 0 rgba(0, 0, 0, 0.12);
        border-radius: rem(5) 0 0 rem(5);
        background-color: #f4f6f8;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 4;

        img {
            width: 24px;
            height: 12px;
            transform: rotate(180deg);
        }

        &.visible {
			@include above($mobile) {
	            display: flex;
	        }
        }
    }
}

.stickyLinks {
    display: flex;
    position: fixed;
    bottom: 43%;
    z-index: 4;
    transform: translateX(-50%) rotate(-90deg) translateY(50%);

    &__item {
        &:not(:last-of-type) {
            margin-right: rem(16);
        }
    }

	@include below($tablet-small) {
		display: none;
	}
}

.basket,
.comparison,
.favourites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: rem(8) rem(16);
    padding-bottom: rem(8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0 0 5px 5px;
    background-color: #f4f6f8;
    text-decoration: none;

    p {
        display: inline;
        margin: 0;

        &:not(:last-of-type) {
            margin-right: rem(16);
        }
    }

    &__name {
        color: #485058;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;

        img {
            margin-right: rem(4);
        }
    }

    &__val {
        padding: rem(8);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
        border-radius: rem(5);
        background-color: #ffffff;

        @include below($tablet) {
            span {
                display: none;
            }
        }
    }

    &__price {
        color: #dc1414;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
    }
}
