.header {
    display: flex;
    flex-direction: column;

    .phone {
        flex-wrap: nowrap;
    }



    &_hidden {
        display: none;
		animation: headerHidden .3s;
    }

    &_light {
        align-items: center;
        padding: 2.5rem 0;

        @media screen and (max-width: 650px){
            padding: 1rem 0;
        }
    }

    &__top {
        border-bottom: rem(1) solid #e4e6e8;
    }

    &__top-content {
        padding: 65px 0 0 0;
        display: flex;
        align-items: center;

        @include below($tablet){
            padding-top: 35px;
        }
        @media screen and (max-width: 650px){
            padding: rem(18) 0;
            align-items: center;
        }
    }

    &__close {
        position: relative;
        display: none;
        width: rem(24);
        height: rem(49);
        margin-left: auto;
        padding-bottom: rem(25);
        z-index: 3;
        height: rem(30);
        width: rem(22);
        padding: rem(8);
        padding-right: 0;

        @include below($tablet) {
            &.active {
                display: block;
            }
        }
    }

    &__line {
        margin: 0;
        border-color: #e4e6e8;
        border-width: .5px;
    }

    &__bottom {
        padding: 22px 0 22px 2px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 650px){
            padding: 15px 0;
        }

        .dropdown:hover .dropdown__content {
            left: -23px;
        }
    }

    &__logo {
        padding-bottom: rem(25);
        @media screen and (max-width: 650px){
            padding: 0;
        }
    }
    &__directions {
        margin: -2px 0 0 44px;
        position: relative;
        width: 30%;
        padding-bottom: rem(25);

        @media screen and (max-width: 650px){
            margin-left: 0;
            padding: 0;
            margin-top: 2px;
        }

        &:before {
            content: '';
            position: absolute;
			top: 50%;
            left: -24px;
            width: .0625rem;
            height: 2.8125rem;
            background-color: #babec2;
			transform: translateY(-50%);

            @media screen and (max-width: 650px){
                content: none;
            }
        }

        @include below($tablet){
            width: initial;
        }
    }

    &__menu {
        flex-basis: 65%;
        margin-left: auto;

    }

    &__offices {
        min-width: 350px;

        @include below($mobile) {
            display: none;
        }

        .dropdown__title {
            margin-top: rem(7);

            &:first-of-type {
                margin-top: rem(28)
            }
        }


    }

    &__phone {
        margin-right: rem(32);

        @include below($tablet) {
            margin-right: 0;
        }

        &.phone {
            @include below($tablet) {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 15px;
                margin-right: rem(32);
            }

            @include below($mobile) {
                margin-right: 0;
            }


            .phone__icon {
                @include below($tablet) {
                    position: absolute;
                    left: 0;
                    top: 3px;
                    margin: 0;
                }
            }
        }
        span {
            position: relative;
            display: none;
            color: #dc1414;
            font-family: $helvetica;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;

            &::after {
                position: absolute;
                width: 100%;
                bottom: rem(-1);
                display:block;
                content: '';
                border-bottom: rem(1) dashed $red_crismon;
            }

            @include below($tablet) {
                display: inline;
            }
        }
    }

    &__feedbacks {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include below($tablet) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        @include below($mobile) {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    &__whatsapp {
        margin-right: rem(64);

        @include below($tablet) {
            margin: 0;
        }
    }

    &__callback {
        position: relative;
        cursor: pointer;
        color: $red_crismon;
        line-height: 16px;

        &::after {
            position: absolute;
            width: 100%;
            bottom: rem(-1);
            display:block;
            content: '';
            border-bottom: rem(1) dashed $red_crismon;
            transition: bottom .3s;
        }

        &:hover {
            &::after {
                bottom: rem(-4);
            }
        }

        @include below($tablet) {
            display: none;
        }
    }

    &__hamburger {
        position: relative;
        display: none;
        cursor: pointer;
        margin-left: auto;
        padding-bottom: rem(25);
        z-index: 3;

        @include below($tablet) {
            &.active {
                display: flex;
                padding: rem(8);
                padding-right: 0;
                width: rem(28);
                height: rem(31);
				margin-bottom: rem(30);
            }
        }
		@include below($mobile) {
            &.active {
				margin-bottom: 0;
            }
        }
        @media screen and (max-width: 650px){

            padding: 0;
        }
    }

    &_sticky {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        z-index: 99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        left: 0;
        box-sizing: border-box;
        padding: rem(8) 0;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
		animation: headerSticky .3s;
        transition: left .3s ease-in-out;
		z-index: 999;

        @include below($tablet) {
            padding-top: rem(14);
            padding-bottom: rem(14);
        }

        @include below($mobile) {
            padding-top: rem(16);
            padding-bottom: rem(16);
        }

        &.hidden {
            display: none;
        }

        .header__content {
            @extend .container;
            display: flex;
            align-items: flex-start;

            @include below($tablet) {
                align-items: center;
            }

            @include below($mobile) {
                align-items: flex-start;
            }
        }

		.logo {
			margin-right: auto;

			.logo__icon {
				width: rem(27);
                height: rem(32);
                margin-right: rem(6);

                @include below($tablet) {
                    width: rem(31);
                    height: rem(36);
                }
			}

			.logo__text {
				height: rem(16);
				width: auto;

                @include below($tablet) {
                    height: rem(17);
                }
			}

            @include below($mobile) {
                display: none;
            }
		}

        .menu  {
            margin-left: 0;
            flex-basis: unset;
            padding-top: rem(7);

            .menu__item {
                padding-bottom: rem(31);
            }

            .menu__item_bordered {
                padding: 0 rem(15) rem(13) 0;
            }

            .menu__item_bordered:not(:last-of-type) {
                margin-bottom: 25px;
            }

            .menu__item_dropdown:hover .menu__dropdown {
                top: rem(55);
            }
        }

        .header__hamburger {
            display: none;

            @include below($tablet) {
                display: flex;
                margin-bottom: 0;
                width: rem(40);
                height: rem(22);
            }

            @include below($mobile) {
                width: rem(35);
                height: rem(30);
            }

        }
        .header__hamburger {
            &.active {
                margin-left: 0;
                padding: 0;

                @include below($mobile) {
                    padding-left: rem(15);
                    padding-bottom: rem(15);
                }

            }

        }

        .menu_active {
            display: flex;
			overflow-y: scroll;
		    height: calc(100vh - 134px);
        }

        .header__feedbacks {
            padding-top: rem(10);

            @include below($tablet) {
                padding-top: 0;
                margin: 0;
                flex-direction: row;
            }

            @include below($mobile) {
                align-items: flex-start;
                justify-content: space-between;
            }
        }

        .header__whatsapp {
            position: relative;
            display: inline-flex;
            align-items: flex-start;
            flex-direction: column;
            padding-left: rem(24);
            margin-right: rem(32);
            color: #485058;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(18);
            text-decoration: none;

            &:hover {
                span {
                    &::after {
                        bottom: rem(-4);
                    }
                }
            }

            @include below($mobile) {
                margin-right: rem(0);
                line-height: rem(16);
            }

            span {
                position: relative;
                color: #808890;
                font-family: $helvetica;
                font-size: rem(12);
                font-weight: 300;
                line-height: rem(12);

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: rem(-2);
                    width: 100%;
                    height: rem(1);
                    border-bottom: rem(1) dashed #babec2;
                    transition: bottom .3s;
                }
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: rem(16);
                height: rem(16);
                background-image: url('/img/gui/whatsapp.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .header__phone {
            position: relative;
            display: inline-flex;
            align-items: flex-start;
            flex-direction: column;
            padding-left: rem(18);
            margin-right: 0;
            color: #485058;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 300;
            line-height: rem(18);
            text-decoration: none;

            &:hover {
                span {
                    &::after {
                        bottom: rem(-4);
                    }
                }
            }

            @include below($tablet) {
                margin-right: rem(48);
                order: -1;
            }

            @include below($mobile) {
                margin-right: rem(0);
                font-size: rem(16);
                line-height: rem(16);
            }

            span {
                display: inline;
                position: relative;
                color: #dc1414;
                font-family: $helvetica;
                font-size: rem(12);
                font-weight: 300;
                line-height: rem(12);


                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: rem(-2);
                    width: 100%;
                    height: rem(1);
                    border-bottom: rem(1) dashed #dc1414;
                    transition: bottom .3s;
                }
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: rem(10);
                height: rem(16);
                background-image: url('/img/gui/phone.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

}

@keyframes headerSticky {
 from { top: -200px; }
 to { top: 0; }
}

@keyframes headerHidden {
 from { top: 0; }
 to { top: -200px; }
}
