.serviceDetail {

	@extend .container;
	@extend .container_thin;

    .reason {
        margin-bottom: rem(80);

        @include below($tablet) {
            margin-bottom: rem(160);
        }

        &:last-of-type {
            margin-bottom: rem(130);

            @include below($tablet) {
                margin-bottom: rem(85);
            }
        }
    }
}
