.main-offer {
    background: url(/img/main-offer-background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    padding-top: 97px;
    padding-bottom: 80px;

    &_center {
        align-items: center;
    }

    &__title {
        color: $white;
        margin-bottom: 19px;
    }

    &__subtitle {
        margin-bottom: 40px;
    }
    &__button {
        margin-bottom: 1.25rem;
    }
}
