.main-offer {
    background: url(/img/main-offer-background.jpg) center no-repeat / cover;
    display: flex;
    flex-direction: column;

    padding-top: 100px;
    padding-bottom: 80px;

    &_center {
        align-items: center;
    }

    &__title {
        color: #fff;
    }

    &__button {
        margin-bottom: 1.25rem;
    }
}
