@import 'mixins';
@import 'variables';
.ourArticles {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(80);
    padding-bottom: rem(64);

    background-color: #f4f6f8;

    .titles {
        padding: 0;
        margin: 0;
        margin-bottom: rem(40);
    }

    .intro {
        margin: 0;
        margin-bottom: rem(32);

        @include below($mobile) {
            width: calc(100% - 16px);
            margin: 0 auto;
            margin-bottom: rem(16);
        }
    }

    .socials {
        justify-content: center;
        margin-bottom: rem(32);

        .socials__item {
            &:not(:last-of-type) {
                margin-right: rem(16);
            }

            @include below($mobile) {
                width: auto;
                margin-bottom: 0;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        overflow: hidden;

        @extend .container;


    }

    &__list {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: rem(48);

        .ourArticle {
            &:not(:last-of-type) {
                margin-right: rem(20);
            }
        }
    }

    &__button {
        width: rem(320);

        @extend .button;

        @include below($mobile) {
            width: calc(100% - 16px);
            margin: 0 auto;
        }
    }

    .slick-slide {
        margin-right: rem(20);
    }

    &__slide {
        position: absolute;
        top: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: rem(48);
        height: rem(48);


        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, .4);
        transform: translateY(-50%);
        cursor: pointer;

        @include below($tablet) {
            top: auto;
            bottom: 50%;
            transform: translateY(0);
        }
    }

    &__prev {
        left: 0;

        border-radius: 0 50% 50% 0;

        img {
            transform: rotate(180deg);
        }
    }

    &__next {
        right: 0;

        border-radius: 50% 0 0 50%;
    }
}


.ourArticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: rem(380);
    flex-shrink: 0;

    @include below($tablet) {
        width: rem(336);
    }
    @include below($mobile) {
        width: rem(304);
    }

    &__gallery {
        position: relative;

        width: 100%;
        height: rem(380);
        margin-bottom: rem(16);

        @include below($tablet) {
            height: rem(336);
        }

        @include below($mobile) {
            height: rem(304);
        }

        &-prev {
            position: absolute;
            top: 50%;
            left: rem(8);

            width: rem(24);
            height: rem(24);
            padding: 0;

            border: none;
            opacity: .8;
            outline: none;
            background-color: transparent;
            background-image: url('/img/arrow_circle.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(180deg) translateY(50%);
            cursor: pointer;
            text-indent: -9999px;

            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            @include below($tablet) {
                display: none;
            }
        }

        &-next {
            position: absolute;
            top: 50%;
            right: rem(8);

            width: rem(24);
            height: rem(24);
            padding: 0;

            border: none;
            opacity: .8;
            outline: none;
            background-color: transparent;
            background-image: url('/img/arrow_circle.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-50%);
            cursor: pointer;
            text-indent: -9999px;

            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            @include below($tablet) {
                display: none;
            }
        }
    }

    &__img {
        display: none;
        overflow: hidden;
        width: 100%;
        height: 100%;

        border-radius: rem(20);

        object-fit: cover;

        &.active {
            display: block;
        }
    }

    &__desc {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        p {
            margin: 0;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: 24px;
            color: #485058;

            &:not(:last-of-type) {
                margin-bottom: rem(16);
            }
        }

        h4,
        h3,
        h2,
        h1 {
            margin: 0;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: 24px;
            color: #485058;
            max-height: rem(72);
        }
    }

    &__more {
        font-family: $helvetica;
        font-size: rem(16);
        color: #babec2;
        text-decoration: none;
        font-weight: 500;
        border-bottom: rem(1) dashed #babec2;

        outline: none;
    }

    &__dots {
        position: absolute;
        bottom: rem(30);
        left: 50%;

        display: flex;

        transform: translateX(-50%);
    }

    &__textimg {
        width: rem(380);
        flex-shrink: 0;
        height: auto;
        margin-bottom: rem(90);

        @include below($tablet) {
            width: rem(336);
        }
        @include below($mobile) {
            width: rem(304);
        }
    }

    &__dot {
        width: rem(4);
        height: rem(4);
        padding: 0;

        border: none;
        border-radius: 50%;
        outline: none;
        background-color: $white;
        text-indent: -9999px;

        &:not(:last-of-type) {
            margin-right: rem(2);

            @include below($tablet) {
                margin-right: rem(4);
            }
        }

        &.active {
            background-color: $red_crismon;
        }

        @include below($tablet) {
            width: rem(6);
            height: rem(6);
        }
    }

    &_popup {
        width: auto;
        flex-direction: row;


        @include below($tablet) {
            flex-direction: column;
        }

        .ourArticle__gallery {
            width: rem(580);
            height: rem(580);
            margin: 0;

            @include below($tablet) {
                width: rem(542);
                height: rem(542);
            }
        }

        .ourArticle__desc  {
            width: rem(400);
            padding: rem(48) rem(20);

            @include below($tablet) {
                width: rem(542);
                padding: rem(48) rem(32);
                padding-bottom: rem(41);
            }

            h4,
            h3,
            h2,
            h1 {
                position: relative;
                padding-bottom: rem(14);
                margin: 0;
                margin-bottom: rem(24);
                font-family: $playfair;
                font-size: rem(20);
                font-weight: 400;
                line-height: rem(24);
                color: #485058;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: rem(80);
                    height: rem(1);
                    background-color: #babec2;
                }
            }

            p {
                display: block;
            }
        }
    }

    &.opened {
        @include below($mobile) {
            .ourArticle__desc {
                p {
                    display: inline;
                }

                h4,
                h3,
                h2,
                h1 {
                    margin-bottom: rem(16);
                }
            }
        }
    }
}
