.portfolio {
    overflow: hidden;
    padding-bottom: rem(64);

    .titles {
        margin-bottom: rem(48);
    }

    &__content {
        position: relative;
    	padding-bottom: rem(64);
        padding-top: rem(40);
    }

    @media screen and (max-width: 650px){
        padding: 0;
    }

    &__next,
    &__prev {
        position: absolute;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: rem(60);
        height: rem(60);
        padding: 0;
        border: none;
        background-color: #B7B8B9;
        transform: translateY(-50%);
        outline: none;
        cursor: pointer;
        z-index: 9;
    }

    &__next {
        right: 0;
        border-radius: rem(30) 0 0 rem(30);
    }

    &__prev {
        left: 0;
        border-radius: 0 rem(30) rem(30) 0;

        img {
            transform: rotate(180deg);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% + 20px);
        margin-left: rem(-10);
        margin-right: rem(-10);

        .portfolio__item {
            width: calc(25% - 20px);
            margin: 0 rem(10);
            margin-bottom: rem(20);

            @include below($tablet) {
                width: calc(33.3% - 20px);
            }

            @include below($tablet-small) {
                width: calc(50% - 20px);
            }

            @include below($mobile) {
                width: calc(100% - 20px);
            }
        }

        @media screen and (max-width: 1024px) {
            justify-content: space-evenly
        }

    }
    &__carousel {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-left: rem(-140);
        margin-right: rem(-140);

        @include below($tablet) {
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__switcher {
        width: 100%;
        margin: 0 0 60px 0;
    }

    &__item {
        width: rem(280);
        margin: 0 rem(10);
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-decoration: none;
        padding: 0 0 32px 0;
        flex-shrink: 0;
    }

    &__buttons {
        margin-top: 24px;
    }

    &_main {
        .titles {
            padding-top: rem(48);
            margin-bottom: 0;
        }
    }

}

.case {
    width: rem(280);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-bottom: rem(40);
    flex-shrink: 0;


    &__img {
        width: 100%;
        height: 228px;
        margin-bottom: rem(32);
        object-fit: cover;
    }

    &__line {
        margin: 8px 0 16px 0;
    }

    &__info {
        margin: 0;
        text-align: center;
    }

    &__totals {
        background-color: rgba(255, 255, 255, 0.65);
        margin: 0;

        sup {
            font-size: 12px;
            font-weight: 400;
            margin-left: 2px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.gallery {
    z-index: 13;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__totals {
        font-family: $helvetica;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 0 0 4px 4px;
        margin: 0;
        padding: 10px 19px 15px 19px;
        font-size: 18px;
        color: #50555a;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
    }

    &__close {
        cursor: pointer;
        padding: 9px;
        -webkit-box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.08);
        box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: -14px;
        right: -16px;
        border-radius: 50%;
        z-index: 9;
    }

    &__img {
        height: 80vh;
        width: 80vw;
        object-fit: cover;

        @media screen and (max-width: 600px) {
            height: 50vh;
        }
    }

    &__next {
        position: absolute;
        right: -63px;
        top: 50%;
        transform: rotate(90deg) translate(-50%);
        cursor: pointer;
        padding: 30px 22px 25px 22px;
        border-radius: 40px 40px 1px 1px;
        margin: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.4);
        background-color: rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 600px) {
            right: -23px;
        }
    }
    &__prev {
        position: absolute;
        left: -62px;
        top: 50%;
        transform: rotate(-90deg) translate(50%);
        cursor: pointer;
        padding: 30px 22px 25px 22px;
        border-radius: 40px 40px 1px 1px;
        margin: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.4);
        background-color: rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 600px) {
            left: -24px;
        }
    }




}
