.portfolio {
    padding: 100px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__list {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }

    &__overtitle {
        flex-basis: 100%;
    }

    &__title {
        flex-basis: 100%;
        margin-bottom: 80px;
    }

    &__switcher {
        flex-basis: 100%;
        margin: 0 0 60px 0;
    }

    &__item {
        flex-basis: 19%;
        margin-bottom: 30px;
    }

}