.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__switcher {
        flex-basis: 100%;
        margin: 0 0 60px 0;
    }

    &__item {
        flex-basis: 32.5%;
        margin-bottom: 30px;
    }

}

.portfolio-list {
    &__list {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }

    &__item {
        flex-basis: 19%;
    }
}