@import 'mixins';
@import 'variables';

.questions {
    position: relative;

    padding-bottom: rem(80);

    &::before {
        content: '';

        position: absolute;
        top: 25%;
        left: 0;

        width: rem(350);
        height: rem(500);

        background-image: url('/img/tech-1.png ');
        background-repeat: no-repeat;
        background-size: contain;

        @include below($mobile) {
            display: none;
        }
    }

    &::after {
        content: '';

        position: absolute;
        top: 56%;
        right: 0;

        width: rem(310);
        height: rem(725);

        background-image: url('/img/tech-2.png ');
        background-repeat: no-repeat;
        background-size: contain;

        @include below($mobile) {
            display: none;
        }
    }

    &__filter {
        position: relative;
        z-index: 2;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15%;
        margin: 0 auto;
        margin-right: rem(-10);
        margin-bottom: rem(20);
        margin-left: rem(-10);

        @include below($tablet) {
            padding: 0 10%;
        }
        @include below($tablet-small) {
            padding: 0;
        }
        @include below($mobile) {
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(25);
        }
    }

    &__infocard {
        margin-bottom: rem(35);

        @include below($mobile) {
            margin-bottom: rem(40);
        }
    }

    &__filter-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: rem(40);
        padding: rem(10) rem(32);
        margin: 0 rem(8);
        margin-bottom: rem(20);

        line-height: 1;
        white-space: nowrap;

        background-color: $white;

        @extend .button_tag;
        @include below($tablet-small) {
            height: rem(50);
            padding: rem(15) rem(20);
        }
        @include below($mobile) {
            padding: rem(10) rem(10);
            margin: 0;
            margin-bottom: rem(25);

            font-size: rem(18);
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        display: flex;
        flex-wrap: wrap;

        @include below($mobile) {
            align-items: flex-start;
            align-content: flex-start;
        }

        &.show {
            animation: fadeIn 1.2s;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33.3% - 16px);
        padding-top: rem(45);
        padding-right: rem(20);
        padding-bottom: rem(50);
        padding-left: rem(20);
        margin: 0 rem(8);
        margin-bottom: rem(25);
        overflow: hidden;

        text-decoration: none;

        border-radius: rem(5);
        outline: none;
        background-color: $white;
        box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, 0),
        0 0 rem(2) rgba(0, 0, 0, .08),
        inset 0 rem(-1) 0 rgba(0, 0, 0, .12);

        @include above($tablet) {
            transition: box-shadow .3s;
        }
        @include below($tablet-small) {
            width: calc(50% - 20px);
            margin: 0 rem(10);
            margin-bottom: rem(25);
        }
        @include below($mobile) {
            width: 100%;
            margin: 0;
            margin-bottom: rem(35);
        }

        &:hover {
            box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, .12),
            0 0 rem(8) rgba(0, 0, 0, .08),
            inset 0 rem(-1) 0 rgba(0, 0, 0, .12);
        }

        h2,
        h3 {
            position: relative;

            width: 100%;
            padding-bottom: rem(25);
            margin: 0;
            margin-bottom: rem(35);

            font-weight: 400;

            @extend .title;
            @extend .title_small;

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;

                width: rem(180);
                height: rem(1);

                background-color: $grey_chateau;
            }
        }

        p {
            width: 100%;
            margin: 0;

            @extend .text;
            @extend .text_size_medium;
            @include below($tablet-small) {
                max-height: rem(87);
            }
        }
    }
}
