$red: #dc1414;
$gray: #babec2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    overflow-x: hidden;
}
.wrapper{
	max-width: $size_lg;
	width: 100%;
    padding-left: rem(15);
    padding-right: rem(15);
	margin: 0 auto;
	
	// @include above($size_sm) {
	// 	padding-left: rem(15);
	// 	padding-right: rem(15);
		
	// }

	@include above($size_md) {
		padding-left: rem(20);
		padding-right: rem(20);
	}
}

.hidden-sm{
    @include above($size_sm) {
		display: none;
	}
}
.hidden-xs{
    @include between(0, $size_md) {
        display: none;
    }
}

.section {
    padding-top: rem(64);
    padding-bottom: rem(32);

    @include above($size_sm) {
        padding-top: rem(80);
        padding-bottom: rem(48);
    }
    @include above($size_md) {
        padding-bottom: rem(64);
    }
}

.title-dec{
    color: #485058;
    font-size: rem(22);
    font-weight: 400;
    margin-bottom: rem(52);
    position: relative;
    line-height: 1.2;

    @include above($size_sm) {
        font-size: rem(26);
    }

    @include above($size_md) {
        font-size: rem(32);
    }

    &::before{
        content: '';
        position: absolute;
        bottom: rem(-20);
        left: 0;
        right: 0;
        margin: auto;
        height: rem(1);
        width: rem(80);
        background-color: #babec2;

        @include above($size_sm) {
            width: rem(140);
        }
    }
}

.subtitleN{
    font-family: $helvetica;
    font-size: rem(16);
    line-height: 1.5;
    color: #485058;
    text-align: center;
}

.formN {
	display: grid;
	grid-gap: rem(16);

	&__agreement {
		font-family: $helvetica;
		text-align: center;
		color: #f4f6f8;
		font-size: rem(12);
		font-weight: 300;
		line-height: 1.4;
	}
}
.inputN {
	border-radius: rem(5);
	border: 1px solid $gray;
	background-color: #ffffff;
	font-size: rem(18);
	font-weight: 300;
	line-height: 1.2;
	color: #808890;
	outline: none;
	padding: rem(14) rem(25) rem(13) rem(20);
    height: rem(56);
    justify-self: center;
    width: 100%;
    
    @include above($size_sm) {
        height: rem(48);
    }
}
.buttonN {
	border: none;
	color: #fff;
    font-size: rem(20);
    font-family: $helvetica;
	border-radius: rem(5);
	height: rem(56);
	display: flex;
    text-decoration: none;
    align-items: center;
	justify-content: center;
	outline: none;
	cursor: pointer;
    transition: all .33s ease-in;
    max-width: rem(280);
	width: 100%;
    justify-self: center;

    @include above($size_sm) {
        height: rem(48);
    }
    
    &-red{
        background-color: $red;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 -1px 0 $red_tamarillo;
    }

	&-light{
		background-color: #babec2;
		box-shadow: 0 8px 8px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0), inset 0 -1px 0 #808890;
	}

	&:hover{
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.08), inset 0 -1px 0 #646973;
	}
}

.texture {
	position: relative;

	&:before {
		background-image: url('/img/templates/gui/texture/square.png');
		content: ' ';
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: 0 auto;
		z-index: -1
	} 

	&_sand {
		&:before {
			background-image: url('/img/templates/gui/texture/sand.png');
			content: ' ';
			position: absolute;
			width: 100%;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: 0 auto;
            z-index: -1;
            opacity: 0.5;
		}
	}
}
.b-color {
	&_red {
		color: $red;
		font-size: inherit;
	}
}

//////////////

.hero {
	background-image: url('/img/templates/ceilings/hero/background-sm.jpg');
    background-size: cover;
    background-position: center;
	color: #fff;
    text-align: center;
    position: relative;

    &:before{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        z-index: -1;
    }


    @include above($size_sm) {
        background-image: url('/img/templates/ceilings/hero/background-lg.jpg');
        text-align: left;
    }
    
    &__overtitle{
		font-family: $futura;
		font-size: rem(12);
		letter-spacing: rem(2.8);
		line-height: 2;
        text-transform: uppercase;
        
        @include above($size_sm) {
            font-size: rem(16);
            letter-spacing: rem(4);
        }
	}

	&__title {
		font-family: $playfair;
		font-weight: 400;
		line-height: rem(36);
		font-size: rem(26);
		b{
			font-weight: 700;
            font-size: rem(30);
            
            @include above($size_sm) {
                font-weight: inherit;
                font-size: rem(64);
            }
        }
        
        @include above($size_sm) {
            font-size: rem(48);
            line-height: rem(64);
        }
	}
	&__intro {
        font-size: rem(18);
        line-height: 1.5;
        font-family: $helvetica;
        font-weight: 300;
        
        @include above($size_sm) {
            font-size: rem(26);
        }
	}

	&__content {
		padding-top: rem(56);
	    padding-bottom: rem(32);
		display: grid;
        grid-template-rows: rem(24) rem(150) rem(88);
        
        @include above($size_sm) {
            padding-top: rem(96);
            padding-bottom: rem(130);
            position: relative;
        }

        @include above($size_lg) {
            grid-template-rows: rem(36) rem(150) rem(80);
        }

        &::before{
            @include above($size_sm) {
                content: url('/img/templates/ceilings/hero/banner-girl.png');
                position: absolute;
                right: rem(-100);
                bottom: rem(-23);
            }
            @include above($size_lg) {
                right: rem(0);
            }
        }
    }
    
    &__form{
        .inputN{
            max-width: rem(280);
            text-align: center;
            @include above($size_sm) {
                max-width: rem(380);
                justify-self: flex-start;
                text-align: left;
            }
        }

        .buttonN{
            @include above($size_sm) {
                justify-self: flex-start;
            }
        }

        .form__agreement{
            @include above($size_sm) {
                width: rem(280);
                text-align: left;
                font-family: $helvetica;
                font-weight: 300;
            }
        }
    }
	
}

.offer {
    justify-items: center;
	color: #485058;
    display: grid;
    
    @include above($size_sm) {
        justify-items: left;
        max-width: rem(900);
        position: relative;
    }

    &::before{
        @include above($size_sm) {
            content: url('/img/templates/ceilings/offer/new_year/banner_top.png');
            position: absolute;
            left: rem(100);
            top: rem(-150);
            // filter: blur(2px);
        }
    }

    &::after{
        @include above($size_md) {
            content: url('/img/templates/ceilings/offer/new_year/banner_bottom.png');
            position: absolute;
            left: rem(-200);
            bottom: rem(-120);
            // filter: blur(3px);
        }
    }

	&__title {
        margin-bottom: rem(16);
        font-size: rem(30);
        font-family: $playfair;
        line-height: 1.1;

        @include above($size_sm) {
            font-size: rem(56);
            margin-bottom: rem(30);
        }
        @include above($size_md) {
            font-size: rem(64);
        }

        b{
            font-weight: 600;
        }
	}
	&__img {
		justify-self: center;
        margin-bottom: rem(16);
        width: rem(210);

        @include above($size_sm) {
            position: absolute;
            width: rem(320);
            right: rem(0);
            top: rem(-30);
        }

	}
	&__intro {
        font-size: rem(20);
        font-family: $helvetica;
        line-height: 1.5;
        margin-bottom: rem(32);
        
        @include above($size_sm) {
            font-size: rem(32);
        }
    }

    .formN{
        width: rem(302);

        .inputN{
            @include above($size_sm) {
                text-align: left;
            }
        }

        .buttonN{
            max-width: none;
        }

        &__agreement{
            color: #babec2;

            @include above($size_sm) {
                text-align: left;
            }
        }
    }
}

.calc{
    text-align: center;
    display: grid;

    @include between(0, $size_md) {
        max-width: rem(480);
    }
    @include above($size_md) {
        grid-column-gap: rem(48);
        grid-template-columns: repeat(2, minmax(min-content, 1fr)) auto 1fr;
        max-width: $size-lg;
    }

    &>*:nth-child(1){
        @include between($size_sm, $size_md) {
            grid-column: 1/3;
            grid-row: 1;
        }
        @include above($size_md) {
            grid-column: 1/5;
            grid-row: 1;
        }
    }
    &>*:nth-child(2){
        @include between($size_sm, $size_md) {
            grid-column: 1/3;
            grid-row: 2;
        }
        @include above($size_md) {
            grid-column: 1/5;
            grid-row: 2;
        }
    }
    &>*:nth-child(3){
        @include between($size_sm, $size_md) {
            grid-column: 1/3;
            grid-row: 3;
        }
        @include above($size_md) {
            grid-column: 1/2;
            grid-row: 3;
            white-space: nowrap;
        }
    }
    &>*:nth-child(4){
        @include between($size_sm, $size_md) {
            grid-column: 1/3;
            grid-row: 4;
        }
        @include above($size_md) {
            grid-column: 2/3;
            grid-row: 3;
            white-space: nowrap;
        }
    }
    &>*:nth-child(5){
        @include between($size_sm, $size_md) {
            grid-column: 1;
            grid-row: 5;
            margin-bottom: 0;
            justify-self: self-start;
            text-align: left;
        }
        @include above($size_md) {
            grid-column: 3/4;
            grid-row: 3;
        }
    }
    &>*:nth-child(6){
        @include between($size_sm, $size_md) {
            grid-column: 2;
            grid-row: 5;
            align-self: self-end;
        }
        @include above($size_md) {
            grid-column: 4/5;
            grid-row: 3;
            align-self: flex-end;
        }
    }

    &__item{
        margin-bottom: rem(48);

        @include above($size_md) {
            margin-bottom: 0;
        }
    }

    &__item-intro{
        color: #485058;
        font-size: rem(16);
        max-width: rem(580);
        line-height: 1.5;
        justify-self: center;
        font-family: $helvetica;

        @include above($size_md) {
            margin-bottom: rem(48);
        }
    }

    &__item-name{
        color: #50555a;
        margin-bottom: rem(9);
        font-size: 20px;
        line-height: 1.2;
        font-family: $playfair;

        @include above($size_md) {
            text-align: left;
            margin-bottom: rem(24);
        }
    }
    &__callback{
        justify-self: center;
    }

    &__total {
		text-shadow: 0 1px 1px #ffffff;
		color: $red;
		font-size: rem(40);
		font-weight: 500;
		line-height: 1.2;
        text-align: center;
        font-family: $helvetica;

        @include above($size_md) {
            text-align: left;
        }

	}
}

.sale{
    display: grid;
    justify-items: center;
    text-align: center;
    position: relative;
    border-radius: rem(8);
    overflow: hidden;

    @include between(0, $size_sm) {
        max-width: rem(480);
        padding: rem(64) rem(16);
        
    }
    @include above($size_sm) {
        max-width: $size-sm;
        padding: rem(64) rem(32);
        margin-top: rem(32);
        grid-gap: rem(24);
        grid-template-columns: auto;
        
    }
    
    &:before {
        
        @include above($size_sm) {
            background-image: url(/img/templates/gui/texture/square.png);
            content: ' ';
            position: absolute;
            top: 0;
            left: rem(16);
            right: rem(16);
            bottom: 0;
            margin: 0 auto;
            z-index: -1;
        }
        @include above($size_md) {
            left: 0;
            right: 0;
        }
    }

    &__title{
        font-family: $helvetica;
        font-size: rem(32);
        font-weight: 300;
        line-height: 1.2;
        color: #485058;
        margin-bottom: rem(24);
        font-weight: 400;

        @include above($size_sm) {
            grid-column: 1/2;
            grid-row: 1;
            margin: 0;
            font-size: rem(48);
            letter-spacing: rem(-0.3);
            justify-self: flex-start;
            text-align: left;
            
        }

        b{
            font-weight: 600;
        }
    }

    &__img{
        @include above($size_sm) {
            grid-column: 2/3;
            grid-row: 1/3;
            width: rem(280);
        }
    }

    &__button{
        margin-top: rem(40);
        
        @include above($size_sm) {
            grid-column: 1/2;
            grid-row: 2;
            margin: 0;
            justify-self: flex-start;
        }
    }
}

.catalog{
    text-align: center;
    position: relative;
    display: grid;

    &__title{
        font-family: $playfair;
    }

    &:before {
        @include between(0, $size_sm) {
            background-image: url(/img/templates/gui/texture/square.png);
            content: ' ';
            position: absolute;
            width: 60%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }

    &__button{
        padding-left: rem(40);
        padding-right: rem(40);
        justify-self: center;
        margin-top: rem(16);
    }
}

.carousel {
    margin: auto;
    display: flex;
    max-width: 100%;
    justify-content: center;
    overflow-x: hidden;
    margin-top: rem(16);

    @include above($size_sm) {
        flex-wrap: wrap;
        max-width: $size_lg;
    }

	&__item {
        margin: 0 rem(8);
        display: grid;
        justify-items: center;
        grid-template-rows: rem(180);
        background-color: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
        border-radius: rem(8);
        overflow: hidden;
        padding-bottom: rem(30);
        cursor: pointer;
        position: relative;
        // transition: all 1s;
        text-decoration: none;

        @include between(0, $size_sm) {
            min-width: rem(260);
        }
        @include above($size_sm) {
            min-width: rem(234);
            padding-bottom: rem(16);
            grid-template-rows: rem(180) rem(112);
            margin-bottom: rem(32);
            flex-basis: calc(33.33% - 16px);
        }
        @include above($size_md) {
            flex-basis: calc(25% - 16px);
        }

        &:hover .carousel__item_text{
            @include above($size_md) {
                color: #808890;
                max-height: 300px;
                opacity: 1;
            }
        }

        &:hover .carousel__item_title{
            @include above($size_md) {
                font-size: rem(20);
                color: #808890;
            }
        }
    
        &:hover{
            box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.16), 0 0 0.75rem rgba(0, 0, 0, 0.08), inset 0 -0.0625rem 0 rgba(0, 0, 0, 0.16)
        }

        &_img {
            object-fit: cover;
            justify-self: stretch;
            border-radius: rem(5);
            max-width: 100%;
        }
    
        &_wrap{
            background-color: #fff;
            padding-top: rem(16);
            display: grid;
            grid-gap: rem(16);
            width: 100%;
    
            @include above($size_md) {
                position: absolute;
                bottom: rem(16);
            }
        }
    
        &_title{
            color: #485058;
            font-size: rem(22);
            line-height: 1.1;
            margin-bottom: rem(16);
            position: relative;
            font-family: $futura;
            font-weight: 400;
            letter-spacing: rem(1.5);
            text-transform: uppercase;
            transition: all .6s;

            @include above($size_sm) {
                font-size: rem(24);
            }
            @include above($size_md) {
                font-size: rem(26);
            }
            
            &::before{
                content: '';
                position: absolute;
                bottom: rem(-16);
                left: 0;
                right: 0;
                margin: auto;
                height: rem(1);
                width: rem(76);
                background-color: #babec2;
            }
        }
    
        &_text{
            padding: 0 rem(15);
            font-size: rem(12);
            font-weight: 300;
            line-height: 1.5;
            text-align: center;
            
            @include above($size_sm) {
                opacity: 0;
                max-height: 0;
                transition: max-height .6s;
            }
        }
    
        &_price {
            color: $red;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 500;
            line-height: 1.2;
        }
	}
}


.skills{
    position: relative;
    max-width: $size_md;

    &:before {
        @include above($size_sm) {
            background-image: url(/img/templates/gui/texture/square.png);
            content: ' ';
            position: absolute;
            width: 70%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }

    &__overtitle{
        font-family: $futura;
        font-weight: 400;
        letter-spacing: rem(1.5);
        text-transform: uppercase;
        color: #a7aaad;
        font-size: rem(18);
        text-align: center;
        margin-bottom: rem(8);

        @include above($size_md) {
            font-size: rem(22);
            letter-spacing: rem(7);
        }
    }
    &__title{
        text-align: center;
        font-size: rem(26);
        font-family: $playfair;
        line-height: 1.2;
        font-weight: 400;

        @include above($size_sm) {
            font-size: rem(32);
        }
        @include above($size_md) {
            font-size: rem(42);
        }
    }
    &__intro{
        font-family: $helvetica;
        color: #485058;
        font-size: rem(20);
        line-height: 1.5;
        text-align: center;
        margin-bottom: rem(70);

        @include above($size_sm) {
            font-size: rem(22);
        }
    }
}

.advantages {
	display: grid;
	grid-gap: rem(66);
}
.advantage {
    display: grid;
    
    @include above($size_sm) {
        grid-template-columns: 1fr 1fr;
        grid-gap: rem(16);

    }

	&__img {
		margin-bottom: rem(24);
		object-fit: cover;
        border-radius: rem(5);
        width: 100%;

        @include above($size_sm) {
            min-height: rem(312);
        }
    }
    &__wrap{

    }
	&__title {
		text-align: left;
		font-size: rem(22);
        margin-bottom: rem(8);
        color: #50555a;

        @include above($size_md) {
            font-size: rem(32);
        }
	}
	&__intro {
		color: #485058;
        text-align: left;
        font-family: $helvetica;
        font-weight: 300;
        margin-bottom: rem(8);
        font-size: rem(18);
	}
	&__signature {
        margin-bottom: rem(16);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &_name {
            margin-right: rem(8);
            font-family: $helvetica;
        }
    }

    .buttonN{

        &:first-of-type{
            @include above($size_sm) {
                justify-self: self-end;
            }
        }
        &:last-of-type{
            @include above($size_sm) {
                justify-self: self-start;
            }
        }

    }

    .order{
        @include above($size_sm) {
            order: 1;
        }
    }
    
}

.buttonN-inst{
    background: linear-gradient(to left, #6567af, #c9357f,  #ed5842, #fbc96c, #f2934e, #e34f53);
}

.manufactur{
    background-color: #f4f6f8;
    border-radius: rem(8);
    padding-top: rem(48);
    padding-bottom: rem(64);

    @include between(0, $size_sm) {
        display: none;
    }

    &__title{
        text-align: center;
        font-family: $playfair;
    }
    &__subtitle{
        max-width: $size_md;
        margin: auto;
        padding-top: rem(12);
    }
    &__items{
        display: grid;
        margin-top: rem(50);
        
        @include above($size_sm) {
            grid-template-columns: repeat(3, auto);
        }

        @include above($size_lg) {
            grid-template-columns: repeat(4, minmax(min-content, 1fr));
            grid-gap: rem(20);
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:last-child{
            @include between(0, $size_lg) {
                display: none;
            }
        }

        &-image{
            max-height: rem(60);

            @include above($size_md) {
                max-height: rem(80);
            }
        }

        &-name{
            font-family: $helvetica;
            font-size: rem(16);
            color: #babec2;
            padding-top: rem(10);
            margin-top: rem(48);
            position: relative;
            display: block;
            text-align: center;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: rem(1);
                width: rem(120);
                background-color: #babec2;
                margin: auto;
            }

        }
    }
}

.other{
    @include between(0, $size_sm) {
        display: none;
    }
    @include above($size_sm) {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-gap: rem(20);
        margin-top: rem(64);
    }
    @include above($size_lg) {
        grid-template-columns: repeat(3, 1fr);
       
    }

    &__item{
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
        border-radius: rem(8);
        padding: 0 rem(20) rem(44) rem(20);
        position: relative;
        text-decoration: none;
        text-align: center;

        @include above($size_lg) {
            max-width: 280px;
            width: 100%;
            justify-self: center;
        }

        &:nth-child(2){
            @include between(0, $size_lg) {
                display: none;
            }
        }
    }
    &__img{
        height: rem(168);
        margin-bottom: rem(32);
        margin-top: rem(-60);

        @include above($size_lg) {
            margin-bottom: rem(16); 
        }
    }
    &__title{
        font-size: rem(20);
        line-height: 1.2;
        font-weight: 400;
        color: #485058;
        font-family: $playfair;
        margin-bottom: rem(12);
    }
    &__text{
        color: #485058;
        font-size: rem(14);
        line-height: 1.5;
        font-family: $helvetica;

    }
}