@import 'gui/review';

.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;

    &__overtitle {
        flex-basis: 100%;
    }

    &__intro {
        flex-basis: 80%;
        margin: 0 auto;
    }

    &__title {
        flex-basis: 100%;
        margin: 0 0 50px 0;
    }

    &__item {
        flex-basis: 32.5%;
        margin-top: 150px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 50px auto 0 auto;
        flex-basis: 50%;
    }

    &__paginator {
        flex-basis: 100%;
        margin-top: 50px;
    }
}