@import './gui/person';

.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;

    &__overtitle {
        flex-basis: 100%;
    }

    &__intro {
        flex-basis: 80%;
        margin: 0 auto 100px auto;
    }

    &__title {
        flex-basis: 100%;
        margin: 0 0 50px 0;
    }

    &__item {
        flex-basis: 32.5%;
        margin-bottom: 100px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-basis: 50%;
    }
}



.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;    

    &__body {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        background-color: $white;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 0 40px 0;
    }

    &__person {
        margin: -60px 0 0 0;
    }

    &__line {
        width: 120px;
        border-bottom: 1px solid #b9bec3;
    }

    &__date {
        text-align: center;
        color: #b9bec3;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
    }

    &__text {
        color: #475059;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
    }

    &__counters {
        width: 85px;
        color: #80878e;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
    }

    &__media {
        height: 13.125rem;
        margin-top: -3px;
        z-index: -1;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}


.counter {
    display: flex;
    align-items: center;

    &__img {
        margin-right: 5px;
    }
}