.services {
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__card {
        margin: 0 .625rem 2rem .625rem;
        flex-basis: calc(25% - 20px);
    }
}