.services {
    padding: 90px 0 0 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__card {
        margin: 0 .625rem 2rem .625rem;
        flex-basis: 31%;
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__img {
        height: 270px;
        width: 100%;
    }
}