.serverError {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/gui/error_505.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        background-size: cover;
        background-image: url('/img/gui/error_505@2x.jpg');
    }

    @include below($tablet) {
        background-size: cover;
        background-image: url('/img/gui/error_505-768@1x.jpg');

        @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
            background-size: cover;
            background-image: url('/img/gui/error_505-768@2x.jpg');
        }
    }

    @include below($mobile) {
        background-size: cover;
        height: auto;
        width: 100%;
        background-image: url('/img/gui/error_505-360@1x.jpg');

        @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
            background-size: cover;
            background-image: url('/img/gui/error_505-360@2x.jpg');
        }
    }

    &__content {
        height: 100%;
        @extend .container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: rem(64) 0;

        @include below($tablet) {
            padding-top: rem(48);
            padding-bottom: rem(32);
        }

        @include below($mobile) {
            padding-top: rem(32);
            padding-bottom: rem(32);
        }

        .logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-bottom: rem(128);

            @include below($tablet) {
                margin-bottom: rem(74);
            }

            @include below($mobile) {
                margin-bottom: rem(42);
            }

            &__icon {
                width: rem(39);
                height: rem(46);
                margin-right: rem(10);
            }

            &__text {
                width: rem(122);
                height: auto;
            }
        }
    }

    &__name {
        margin: 0;
        margin-bottom: rem(6);
        color: $white;
        font-family: $futura;
        font-size: rem(16);
        font-weight: 400;
        letter-spacing: rem(4);
        text-transform: uppercase;

        @include below($tablet) {
            font-size: rem(14);
        }
    }

    &__title {
        margin: 0;
        margin-bottom: rem(18);
        color: $white;
        font-family: $playfair;
        font-size: rem(58);
        font-weight: 400;
        line-height: rem(53);

        @include below($tablet) {
            font-size: rem(42);
            line-height: rem(38);
            margin-bottom: rem(22);
        }

        @include below($mobile) {
            font-size: rem(40);
            margin-bottom: rem(24);
        }
    }

    &__desc {
        margin: 0;
        margin-bottom: rem(108);
        color: $white;
        font-family: $helvetica;
        font-size: rem(22);
        font-weight: 300;
        line-height: rem(32);

        @include below($tablet) {
            line-height: rem(24);
            margin-bottom: rem(57);
        }

        @include below($mobile) {
            margin-bottom: rem(47);
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;

        @include below($mobile) {
            margin-bottom: rem(40);
        }

        &-title {
            margin: 0;
            margin-bottom: rem(18);
            color: $white;
            font-family: $playfair;
            font-size: rem(20);
            font-weight: 400;
            line-height: rem(24);

            @include below($tablet) {
                font-size: rem(26);
                line-height: rem(31);
                margin-bottom: rem(6);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }

        &-item {
            position: relative;
            color: $white;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(22);
            padding-left: rem(26);

            &:not(:last-of-type) {
                margin-bottom: rem(8);
            }

            a {
                color: $white;
            }

            &::before {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                background-size: contain;
                background-repeat: no-repeat;
            }


        }
    }

    &__refresh {
        &::before {
            width: rem(16);
            height: rem(16);
            left: 0;
            background-image: url('/img/gui/505_refresh.svg');
        }
    }

    &__wait {

        &::before {
            width: rem(16);
            height: rem(16);
            left: 0;
            background-image: url('/img/gui/505_wait.svg');
        }
    }

    &__report {

        &::before {
            width: rem(16);
            height: rem(15);
            left: 0;
            background-image: url('/img/gui/505_report.svg');
        }
    }

    &__call {

        &::before {
            width: rem(10);
            height: rem(16);
            left: rem(2);
            background-image: url('/img/gui/505_call.svg');
        }
    }

    &__mail {

        &::before {
            width: rem(15);
            height: rem(10);
            left: 0;
            background-image: url('/img/gui/505_mail.svg');
        }
    }

    &__socials {
        .socials__item  {
            width: auto;

            &:not(:last-of-type) {
                margin-right: rem(12);

                @include below($tablet) {
                    margin-right: rem(24);
                }
            }
        }

        .socials__icon  {
            @include below($tablet) {
                width: rem(48);
                height: rem(48);
            }
        }
    }
}
