@import 'mixins';
@import 'variables';

.videogallery {
    position: relative;
    padding-top: rem(80);
    padding-bottom: rem(112);
    overflow: hidden;

    @include below($mobile) {
        width: 100%;
    }

    &__slider {
        @extend .container;
        display: flex;
        align-items: center;

        @include below($tablet) {
            justify-content: center;
        }
    }

    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;



        h2 {
            position: relative;
            padding: 0;
            margin: 0;
            padding-bottom: rem(18);
            margin: 0;
            margin-bottom: rem(40);
            color: $grey_abbey;
            font-family: $playfair;
            font-size: rem(32);
            font-weight: 400;
            line-height: rem(38);
            text-align: center;
            z-index: 3;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 50%;
                width: rem(160);
                height: rem(1);
                background-color: #808890;
                transform: translateX(-50%);
            }

            @include below($mobile) {
                margin-bottom: rem(20);
            }
        }

        iframe {
            width: 560px;
            height: 315px;
            margin-bottom: rem(40);
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.24), 0 0 16px rgba(0, 0, 0, 0.16);

            @include below($mobile) {
                width: 100%;
                height: rem(315);
                margin: 0;
            }
        }

        p {
            margin: 0;
            color: #485058;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            text-align: center;

            @include below($mobile) {
                display: none;
            }
        }

        &:not(.active) {

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }

            h2 {
                position: absolute;
                top: 50%;
                color: $white;
                font-size: rem(22);
                font-weight: 300;

                &::after {
                    display: none;
                }
            }

            iframe {
                margin: 0;
                width: rem(360);
                height: rem(210);
            }
            p {
                display: none;
            }

            @include below($tablet) {
	            display: none;
	        }
        }

        &.active {
            margin-left: rem(-63);
            margin-right: rem(-63);
            z-index: 5;

            @include below($tablet) {
                width: rem(580);
	            margin: 0;
	        }

            @include below($mobile) {
                width: calc(100% + 16px);
                margin-left: rem(-8);
                margin-right: rem(-8);
            }
        }
    }

    &__prev,
    &__next {
        position: absolute;
        top: rem(315);
        left: 0;
        padding: 0;
        border: none;
        outline: none;
        width: rem(60);
        height: rem(60);
        border-radius: 0 50% 50% 0;
        background-color: rgba(0, 9, 18, 0.4);
        cursor: pointer;


        &::after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: rem(10);
            height: rem(16);
            background-image: url('/img/arrow-left-white.png');
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }

        @include below($mobile) {
            z-index: 99;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    &__next  {
        right: 0;
        left: auto;
        transform: rotate(180deg);
    }
}
