
.catalogueDetail {

    .titles {
        margin-bottom: rem(64);
    }

    &__main {
        @extend .b-texture;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: rem(64) 0;
        margin-bottom: rem(80);
        overflow: hidden;

    }

    &__title {
        @extend .second-title;
        margin-bottom: rem(45);
        @extend .container;
    }

    &__price {
        @extend .text;
        @extend .container;
        margin: 0;
        margin-bottom: rem(20);

        font-size: rem(36);
        color: $red_crismon;
        text-align: center;

        @include below($tablet-small) {
            font-size: rem(32);
        }
        @include below($mobile) {
            margin-bottom: rem(15);

            font-size: rem(24);
        }
    }

    &__install {
        @extend .text;
        @extend .container;
        margin: 0;
        margin-bottom: rem(40);
        font-size: rem(22);

        text-align: center;

        @include below($tablet-small) {
            font-size: rem(22);
        }
        @include below($mobile) {
            font-size: rem(20);
        }
    }

    &__buttons {
        display: flex;

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        @extend .container;
        margin-bottom: rem(64);

        @include below($mobile) {
            align-items: flex-start;
        }

        &-content {
            width: rem(780);
            margin: 0 auto;


            @include below($tablet) {
                width: rem(480);
                margin: 0 auto;
            }

            @include below($mobile) {
                width: 100%;
                max-height: rem(234);
                overflow: hidden;

                &.opened {
                    max-height: none;
                }
            }

            a {
        color: #485058;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
        text-decoration: none;
        }
        }

        p {
            @extend .text;

            &:not(:last-of-type) {
                margin-bottom: rem(16);
            }
        }

        &-more {
            position: relative;
            margin-top: rem(8);
            font-family: $helvetica;
            color: #babec2;
            font-size: rem(18);
            font-weight: 300;
            line-height: rem(26);
            text-decoration: none;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: rem(1);
                border-bottom: rem(1) dashed #babec2;
            }

            @include above($mobile) {
                display: none;
            }
        }
    }

    &__filter {
        width: rem(800);
        margin: 0 auto;
        margin-bottom: rem(64);
        display: flex;
        flex-direction: column;

        @include below($tablet) {
            width: calc(100% - 40px);
            margin: 0 rem(20);
            margin-bottom: rem(64);
        }

        @include below($mobile) {
            width: calc(100% - 32px);
            margin: 0 rem(16);
            margin-bottom: rem(64);
        }

        @include below($mobile-small) {
            width: calc(100% - 16px);
            margin: 0 rem(8);
            margin-bottom: rem(64);
        }

        h2 {
            @extend .second-title;
            width: 100%;
            margin-bottom: rem(38);
            text-align: center;
        }
    }

    &__types {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: rem(-20);
    }

    &__tag {
        margin: 0 rem(10);
        margin-bottom: rem(20);
    }

	&_surfaces {
		.catalogueDetail__filter {
			margin-bottom: rem(32);
		}

		.catalogueDetail__price {
			font-size: rem(32);
			line-height: rem(32);
			font-weight: 300;
			margin: 0;
		}

		.catalogueDetail__main {
			padding: rem(48) 0;
			padding-bottom: rem(58);

		}
	}
}
