.catalogueCeilings {
    &__titles {
        margin-bottom: rem(112);
    }

    &__rooms {
        border-bottom: rem(1) solid #babec2;
        margin-bottom: rem(80);

        .categoryLink  {
            width: calc(25% - 70px);
            margin: 0 rem(35);
            margin-bottom: rem(75);

            @include below($tablet) {
                width: calc(33.3% - 70px);
            }

            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(40);
            }
        }
    }

    .titles {
        margin-bottom: rem(64);
        .second-title {
            padding-top: 0;
            margin-bottom: rem(40);
        }
    }
}
