.ceilingCalculator {
    width: rem(780);
    margin: 0 auto;
    margin-bottom: rem(80);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: rem(56) rem(100);
    padding-bottom: rem(64);
    border: rem(1) solid #babec2;
    border-radius: rem(5);
	background-color: $white;

    @include below($tablet-small) {
        width: 100%;
        padding: rem(44) rem(48);
        padding-bottom: rem(64);
        align-items: flex-end;
    }

    @include below($mobile) {
        padding: rem(42) rem(24);
        padding-bottom: rem(64);
    }

    &__title {
        margin: 0;
        margin-top: rem(-80);
        margin-bottom: rem(36);
        padding: 0 rem(55);
        color: $grey_abbey;
        font-family: $playfair;
        font-size: rem(32);
        font-weight: 400;
        line-height: rem(38);
        background-color: #ffffff;

        @include below($tablet-small) {
            font-size: rem(26);
            line-height: rem(31);
            margin-bottom: rem(28);
            margin-top: rem(-62);
        }

        @include below($mobile) {
            font-size: rem(22);
            line-height: rem(26);
            margin-bottom: 1.995rem;
            margin-top: rem(-58);
        }
    }

    &__desc {
        margin: 0;
        margin-bottom: rem(48);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(24);
        text-align: center;

        @include below($tablet-small) {
            margin-bottom: rem(64);
            font-size: rem(18);
            line-height: rem(24);
            color: #808890;
        }

        @include below($mobile) {
            font-size: rem(14);
            line-height: rem(24);
            margin-bottom: rem(48);
            color: #485058;
        }
    }

    &__subtitle {
        width: 100%;
        margin: 0;
        margin-bottom: rem(35);
        color: #485058;
        font-family: $helvetica;
        font-size: rem(22);
        font-weight: 300;
        line-height: rem(32);
        text-align: center;

        @include below($mobile) {
            font-size: rem(20);
            line-height: rem(30);
            margin-bottom: rem(48);
        }
    }

    &__total {
        width: 100%;
        margin: 0;
        text-shadow: 0 1px 1px $white;
        color: $red_crismon;
        font-family: $helvetica;
        font-size: rem(48);
        font-weight: 500;
        line-height: rem(48);
        text-align: center;
    }

    &__measure {
        width: 100%;
        margin: 0;
        margin-bottom: rem(48);
        color: #808890;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 700;
        text-align: center;
    }

    &__item {
        width: calc(50% - 10px);
        margin-bottom: rem(48);

        @include below($tablet-small) {
            margin-bottom: rem(64);
        }

        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(48);
        }

        &:nth-of-type(odd) {
            margin-right: auto;

            @include below($mobile) {
                margin-right: 0;
            }
        }

        &-name {
            margin: 0;
            margin-bottom: rem(2);
            color: #485058;
            font-family: $playfair;
            font-size: rem(20);
            font-weight: 400;
            line-height: rem(24);

            @include below($tablet-small) {
                margin-bottom: rem(16);
            }

            @include below($mobile) {
                font-size: rem(18);
                line-height: rem(21);
            }
        }
    }

    &__callback {
        @extend .button;
    }
}

.ceilingsCalc {
	@extend .container;
	@extend .b-texture;
    padding-bottom: rem(64);
    margin-bottom: rem(96);

	.titles {
		.titles__title {
			padding-bottom: 0;
			&::after {
				display: none;
			}
		}
	}

    .ceilingCalculator__title {
        display: none;
    }

    .ceilingCalculator__desc {
        width: rem(780);
        @extend .intro;
        margin-bottom: rem(48);

        @include below($tablet) {
            width: 100%;
        }

        @include below($mobile) {
            text-align: left;
        }
    }

    .ceilingCalculator {
        width: 100%;
        margin-bottom: 0;
    }
}
