.dillers {
    &__heading {
        width: 100%;
        height: rem(490);
        padding-top: rem(100);
        padding-bottom: rem(105);
        margin-bottom: rem(80);

        background-image: url('/img/ceilings/dillers-heading.jpg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;

        @include below($mobile) {
            height: auto;
            padding-top: rem(65);
            padding-bottom: rem(60);
        }

        h1 {
            padding-bottom: rem(35);
            margin: 0;
            margin-bottom: rem(50);

            color: $white;

            @extend .title;
            @include below($mobile) {
                margin-bottom: rem(35);
            }
        }

        p {
            margin: 0;

            @extend .intro;
            color: $white;
            text-align: center;

            @include below($mobile) {
                max-height: rem(90);
                margin-bottom: rem(30);
                overflow: hidden;

                font-size: rem(20);
                line-height: rem(30);
            }

            &.opened {
                max-height: 100%;
            }
        }
    }

    &__heading-button {
        display: none;
        width: rem(20);
        height: rem(10);
        margin: 0 auto;
        overflow: hidden;

        white-space: nowrap;
        white-space: nowrap;
        text-indent: 100%;

        border: none;
        outline: none;
        background-color: transparent;
        background-image: url('/img/ceilings/heading-arrow.png');
        background-repeat: no-repeat;
        background-size: contain;

        @include below($mobile) {
            display: block;
        }

        &.rotate-vertical {
            transform: rotate(180deg);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding-bottom: rem(180);

        @include below($mobile) {
            padding-bottom: rem(24);
        }
    }

    &__item-heading {
        position: relative;

        width: rem(780);
        min-height: rem(96);
        padding-top: rem(32);
        padding-bottom: rem(32);
        padding-left: rem(80);

        border-top: rem(2) solid #d0d2d4;
        cursor: pointer;

        @include above($tablet) {
            transition: background-color .3s;
        }
        @include below($tablet) {
            width: 100%;
        }
        @include below($mobile) {
            padding-left: rem(60);
        }

        &:hover {


            & p,
            & h2 {
                color: #dc1414;
            }
        }

        p,
        h2 {
            margin: 0;
            padding: 0;

            @extend .second-title;
            transition: color .3s;

            &::after {
                display: none;
            }

            @include below($mobile) {
                font-size: rem(22);
                text-align: left;
            }
        }

        &::after,
        &::before {
            content: '';

            position: absolute;
            top: calc(50% - 12px);
            left: rem(30);

            width: 0;
            height: 0;

            border-width: rem(12) rem(10) 0;
            border-style: solid;

            @include above($tablet) {
                transition: border-color .3s;
            }
            @include below($tablet) {
                top: calc(50% - 8px);
                left: rem(12);
            }
        }

        &::before {
            border-color: #babec2 transparent transparent;
            transform: translateY(3px);
        }

        &::after {
            border-color: $white transparent transparent;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &:first-of-type,
        &:first-of-type:hover {
            .dillers__item-heading {
                border-top: none;
                cursor: auto;
                padding: rem(35) 0;

                &::before,
                &::after {
                    display: none;
                }

                h2 {
                    @extend .second-title;
                    padding-bottom: 0;
                    text-transform: initial;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        &_offer {
            @extend .dillers__item_opened;
            border-bottom: none;

            .dillers__item-heading {
                padding: 0!important;
                width: 100%;
                min-height: auto;


                h2 {
                    @extend .second-title;

                }
            }


        }

        &_opened {
            .dillers__item-content {
                display: flex;
            }

            .dillers__item-heading {
                &::after,
                &::before {
                    content: '';

                    top: calc(50% - 4px);
                }

                &::after {
                    transform: rotate(180deg);
                }
                &::before {
                    transform: translateY(-3px) rotate(180deg)!important;
                }

                p {
                    &::after {
                        display: block;
                        bottom: rem(-32);

                        @include below($mobile) {
                            display: none;
                        }
                    }
                }
            }
            .dillers__item-heading:hover {
                border-top: rem(2) solid #d0d2d4;
                border-radius: 0;
                background-color: $white;

                & p,
                & h2 {
                    color: $grey_abbey;
                }

                &::before {
                    border-color: $red_thunderbird transparent transparent;
                }

                &::after {
                    border-color: $white transparent transparent;
                }
            }
        }
    }

    &__item-content {
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: rem(40);
        padding-bottom: rem(100);

        @include below($tablet) {
            padding-bottom: rem(100);
        }
    }

    &__price-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include below($tablet) {
            flex-direction: column;
            width: auto;
            margin-right: rem(20);
        }
        @include below($mobile) {
            width: 100%;
            margin: 0;
        }

        button {
            width: rem(342);
            height: rem(50);
            margin-bottom: rem(30);

            @extend .button;
            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(25);
            }
        }
    }

    &__price-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include below($tablet) {
            align-items: flex-start;
        }
        @include below($mobile) {
            flex-direction: column;
        }

        p {
            width: 100%;
            margin: 0;

            @extend .text;
            @include below($tablet) {
                width: calc(100% - 362px);
            }
            @include below($mobile) {
                width: 100%;
            }
        }
    }

    &__steps-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(50);

        @include below($tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__steps-content {
        h3 {
            margin: 0;
            margin-bottom: rem(20);

            @extend .third-title;
            @include below($mobile) {
                width: 80%;
                margin: 0 auto;
                margin-bottom: rem(25);
            }
        }

        ul {
            padding: 0;
            margin: 0;

            list-style-type: none;

            &:not(:last-of-type) {
                margin-bottom: rem(30);
            }

            li {
                position: relative;

                padding-left: rem(30);

                @extend .text;

                &:not(:last-of-type) {
                    margin-bottom: rem(15);
                }

                &::after,
                &::before {
                    background-color: $grey_abbey;
                }

                &::before {
                    content: '';

                    position: absolute;
                    top: rem(10);
                    left: 5px;

                    width: 20px;
                    height: 2px;

                    transform: rotate(-45deg);
                }

                &::after {
                    content: '';

                    position: absolute;
                    top: 13px;
                    left: 0;

                    width: 10px;
                    height: 2px;

                    transform: rotate(45deg);
                }
            }
        }
    }

    &__steps-video {
        width: rem(660);
        height: rem(350);

        @include below($mobile) {
            width: calc(100% + 20px);
            height: auto;
            margin-right: rem(-10);
            margin-left: rem(-10);
        }
    }

    &__steps-left {
        width: 35%;

        @include below($tablet) {
            width: 100%;
        }

        p {
            margin: 0;

            @extend .text;

            &:not(:last-of-type) {
                margin-bottom: rem(30);
            }

            &:last-of-type {
                @include below($tablet) {
                    margin-bottom: rem(30);
                }
            }
        }
    }

    &__programm {
        @include below($tablet) {
            margin-bottom: 0;
        }
    }

    &__shipping,
    &__programm {
        margin: 0;
        width: rem(780);
        margin: 0 auto;

        @extend .text;

        p {
            margin: 0;
            margin-bottom: rem(16);
        }

        &:nth-of-type(1) {
            margin-bottom: rem(30);


        }

        &:nth-of-type(2) {
            margin-bottom: rem(15);
        }

        @include below($tablet) {
            width: rem(480);
        }

        @include below($mobile) {
            width: 100%;
        }
    }

    &__shipping-type {
        display: flex;

        @include below($tablet) {
            flex-direction: column;
        }

        &:not(:last-of-type) {
            margin-bottom: rem(20);
        }

        img {
            width: rem(210);
            height: rem(117);
            margin-right: rem(25);

            @include below($tablet) {
                margin-right: 0;
                margin-bottom: rem(8);
            }

            @include below($mobile) {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin-bottom: rem(25);
            }
        }

        p {
            width: 100%;
            margin: 0;

            @extend .text;
        }
    }

    &__yandex {
        width: 100%;
        height: auto;
        margin-bottom: rem(30);

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;

        p {
            width: 100%;
            margin: 0;
            margin-bottom: rem(30);

            @extend .text;

            a {
                color: $red_crismon;
                text-transform: uppercase;
            }
        }

        button {
            width: rem(228);
            height: rem(50);
            margin-right: rem(20);

            @extend .button;
            @include below($tablet) {
                margin: 0;
            }
            @include below($mobile) {
                width: 100%;
                margin: 0;
                margin-bottom: rem(45);
            }
        }

        .dillers__info-wrap {
            p {
                @include below($tablet) {
                    width: 100%;
                    padding: 0 rem(10);
                }
                @include below($mobile) {
                    padding: 0;
                }
            }
        }
    }

    &__info-wrap {
        display: flex;
        margin-bottom: rem(45);

        @include below($tablet) {
            flex-wrap: wrap;
            width: calc(100% + 20px);
            margin-right: rem(-10);
            margin-bottom: rem(25);
            margin-left: rem(-10);
        }
        @include below($mobile) {
            flex-direction: column;
            width: 100%;
            margin: 0;
            margin-bottom: rem(25);
        }

        img {
            width: rem(228);
            height: rem(192);
            margin-right: rem(20);

            @include below($tablet) {
                width: calc(33.3% - 20px);
                margin: 0 rem(10);
                margin-bottom: rem(20);
            }
            @include below($mobile) {
                width: 100%;
                height: auto;
                margin: 0;
                margin-bottom: rem(20);
            }
        }
    }

    &__info-adress {
        width: rem(470);
        margin-right: rem(30);

        @include below($tablet) {
            width: calc(100% - 258px);
        }
        @include below($mobile) {
            order: 2;
            width: 100%;
            margin: 0;
        }

        dl {
            display: flex;
            justify-content: space-between;
            margin: 0;

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }
        }

        dt,
        dd {
            margin: 0;

            font-weight: 500;

            @extend .text;
        }
        dd {
            @include below($mobile) {
                display: none;
            }
        }
    }

    &__materials {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @include below($tablet) {
            position: relative;
        }

        p {
            margin: 0;
            margin-bottom: rem(30);

            @extend .text;
        }

        button {
            position: relative;

            margin: 0 auto;

            color: $red_crismon;

            border: none;
            outline: none;
            background-color: transparent;

            @extend .third-title;

            &:active {
                top: rem(1);
            }

            &::after,
            &::before {
                content: '';

                position: absolute;
                bottom: rem(-15);
                left: calc(50% - 15px);

                width: 0;
                height: 0;

                border-width: rem(9) rem(9) 0;
                border-style: solid;
            }

            &::before {
                border-color: $red_crismon transparent transparent;
                transform: translateY(1px);
            }

            &::after {
                border-color: $white transparent transparent;
            }
        }

        table {
            tr {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(17);

                @include below($mobile) {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: rem(30);
                    margin-bottom: rem(20);

                    border-bottom: rem(2) solid #d0d2d4;
                }

                &:first-of-type {
                    @include below($mobile) {
                        display: none;
                    }
                }

                td:not(:last-of-type) {
                    @include below($mobile) {
                        margin-bottom: rem(20);
                    }
                }

                &:last-of-type {
                    @include below($mobile) {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }

            th {
                padding-bottom: rem(20);

                color: $grey_abbey;
                text-align: left;

                border-bottom: rem(1) solid #d0d2d4;

                @extend .third-title;
                @include below($tablet) {
                    font-size: rem(18);
                }
            }

            th,
            td {
                &:nth-of-type(1) {
                    width: 28%;

                    @include below($tablet) {
                        width: 35%;
                    }
                    @include below($mobile) {
                        width: 100%;
                    }
                }

                &:nth-of-type(2) {
                    width: 45%;

                    @include below($tablet) {
                        width: 29%;
                    }
                    @include below($mobile) {
                        width: 100%;
                    }
                }

                &:nth-of-type(3) {
                    width: 18%;

                    @include below($tablet) {
                        width: 28%;
                    }
                    @include below($mobile) {
                        width: 100%;
                    }
                }
            }
            td {
                @extend .text;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__materials-wrap {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-right: calc(100% - 680px);
        margin-bottom: rem(80);

        @include below($tablet) {
            justify-content: flex-start;
            width: 100%;
            padding-right: 0;
            margin-right: 0;
            margin-bottom: rem(55);
        }

        img {
            width: rem(150);
            height: auto;

            @include below($tablet) {
                width: calc(50% - 30px);
                margin-right: rem(30);
                margin-bottom: rem(30);
            }
            @include below($mobile) {
                width: calc(50% - 20px);
                margin: 0 rem(10);
                margin-bottom: rem(40);
            }
        }
    }

    &__materials-visual {
        width: 100%;

        @include below($tablet) {
            position: relative;
        }
        @include below($mobile) {
            display: flex;
            flex-direction: column;
        }
    }

    &__materials-images {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        @include below($tablet) {
            width: 50%;
            margin-bottom: rem(-30);
        }
        @include below($mobile) {
            width: calc(100% + 20px);
            margin-right: rem(-10);
            margin-bottom: rem(5);
            margin-left: rem(-10);
        }
    }

    &__materials-image {
        position: absolute;
        top: 0;
        right: 0;

        width: calc(100% - 705px)!important;
        height: auto;

        @include below($tablet) {
            width: 50%!important;
            margin: 0!important;
        }
        @include below($mobile) {
            position: static;

            width: 100%!important;
        }
    }

    &__materials-table {

        h3 {
            display: none;
            padding-bottom: rem(20);
            margin-bottom: rem(20);

            text-align: left;

            border-bottom: rem(2) solid #d0d2d4;

            @extend .third-title;
            @include below($mobile) {
                display: block;
            }
        }
    }

    &__designers {
        display: flex;
        flex-wrap: wrap;
        width: rem(780);
        margin: 0 auto;

        p {
            width: 100%;
            margin: 0;
            margin-bottom: rem(35);

            @extend .text;
        }

        @include below($tablet) {
            width: rem(480);
        }

        @include below($mobile) {
            width: 100%;
        }
    }

    &__designers-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: rem(35);

        @include below($tablet) {
            flex-direction: column;
        }

        @include below($mobile) {
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(40);
        }

        img {
            width: calc(33,3% - 10px);
            height: auto;

            @include below($tablet) {
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: rem(16);
                }
            }
        }


    }

    &__designers-right {
        width: 100%;

        @include below($mobile) {
            width: 100%;
        }

        a {

            @extend .button;
            @extend .button_gray;
            margin: 0 auto;
        }

        h3 {
            width: 100%;
            margin-bottom: rem(20);

            @extend .third-title;
        }

        ul {
            list-style-type: none;
            margin: 0;

            @include below($mobile) {
                padding-left: rem(20);
            }

            &:not(:last-of-type) {
                margin-bottom: rem(30);
            }

            &:last-of-type {
                margin-bottom: rem(64);
            }

            li {
                position: relative;
                margin: 0;

                &:not(:last-of-type) {
                    margin-bottom: rem(4);
                }

                @extend .text;

                &::before {
                    position: absolute;
                    content: '\2014';
                    left: rem(-24);
                }
            }
        }
    }

    &__learning {
        display: flex;
        flex-wrap: wrap;
        width: rem(780);
        margin: 0 auto;

        @include below($tablet) {
            width: rem(480);
        }

        @include below($mobile) {
            width: 100%;
        }

        p {
            margin: 0;
            margin-bottom: rem(40);

            @extend .text;
        }

        h3 {
            width: 100%;
            margin: 0;
            margin-bottom: rem(15);

            font-weight: 700;
            text-transform: uppercase;

            @extend .text;
        }

        ul {
            margin: 0;
            margin-bottom: rem(45);

            list-style-type: none;

            @include below($tablet) {
                padding: 0;
            }

            li {
                position: relative;
                margin: 0;

                &:not(:last-of-type) {
                    margin-bottom: rem(4);
                }

                @extend .text;

                &::before {
                    position: absolute;
                    content: '\2014';
                    left: rem(-24);
                }
            }
        }
    }

    &__learning-wrap {
        display: flex;
        margin-bottom: rem(45);

        @include below($tablet) {
            flex-direction: column;
        }

        img {
            width: rem(244);
            height: rem(175);
            margin-right: rem(25);

            @include below($tablet) {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin-bottom: rem(55);
            }
        }

        ul {
            width: calc(100% - 270px);
            padding: 0;
            margin: 0;

            list-style-type: none;

            @include below($mobile) {
                width: 100%;
            }

            li {
                padding: 0;
                margin: 0;

                font-weight: 500;

                @extend .text;

                &::before,
                &::after {
                    display: none;
                }

                &:not(:last-of-type) {
                    margin-bottom: rem(15);
                }
            }
        }
    }

    &__documentation {
        width: rem(780);
        margin: 0 auto;

        @include below($tablet) {
            width: rem(480);
        }

        @include below($mobile) {
            width: 100%;
        }

        h3 {
            @extend .third-title;
            margin-bottom: rem(16);
        }

        p {
            margin: 0;
            margin-bottom: rem(30);

            @extend .text;

            &:nth-of-type(2) {
                margin-bottom: rem(15);
            }
        }

        a {
            width: rem(310);
            height: rem(50);
            margin-bottom: rem(64);

            @extend .button;

            @include below($tablet) {
                margin: 0 auto;
                margin-bottom: rem(64);
            }
            @include below($mobile) {
                width: 100%;
            }
        }

        ul {
            margin: 0;
            margin-bottom: rem(40);
            list-style-type: none;
            padding-left: 0;

            @include below($mobile) {
                width: 100%;
            }

            li {
                &:not(:last-of-type) {
                    margin-bottom: rem(5);

                    @include below($mobile) {
                        margin-bottom: rem(15);
                    }
                }

                dl {
                    display: inline-flex;
                    width: 100%;
                    margin: 0;

                    @include below($mobile) {
                        flex-direction: column;
                    }
                }

                dt,
                dd {
                    @extend .text;
                }

                dt {
                    width: 30%;

                    @include below($mobile) {
                        width: 100%;
                    }
                }

                dd {
                    width: 70%;
                    margin: 0;

                    @include below($mobile) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__documentation-wrap {
        display: flex;

        @include below($tablet) {
            flex-direction: column;
        }

        img {
            width: rem(310);
            height: rem(231);
            margin-right: rem(40);

            border-radius: rem(5);

            @include below($tablet) {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin-bottom: rem(32);
            }
        }
    }

    &__documentation-info {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: rem(16);

            @include below($mobile) {
                margin-bottom: rem(48);
            }
        }

        p {
            margin: 0;
            margin-bottom: rem(20);

            font-size: rem(20);
            font-weight: 500;

            @extend .text;
            @include below($tablet) {
                margin-bottom: rem(15);
            }
            @include below($mobile) {
                width: 100%;
            }
        }

        dl {
            display: flex;
            justify-content: space-between;
            width: rem(470);
            margin: 0;

            @include below($tablet) {
                width: auto;
            }
            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(32);
            }

            &:not(:last-of-type) {
                margin-bottom: rem(3);
            }
        }

        dt,
        dd {
            margin: 0;

            @extend .text;
        }
        dd {
            @include below($tablet) {
                display: none;
            }
        }
    }

    &__offer-header {
        padding: 0 rem(32);
        padding-top: rem(48);
        padding-bottom: rem(64);
        margin-bottom: rem(45);

        border-radius: rem(5);
        background-color: #f1f1f1;

        @include below($tablet) {
            padding: 0 rem(56);
            padding-top: rem(48);
            padding-bottom: rem(64);
        }

        @include below($mobile) {
            padding: 0 rem(16);
            padding-top: rem(45);
            padding-bottom: rem(45);
        }

        h3 {
            margin: 0;
            margin-bottom: rem(45);

            font-family: $futura;
            font-size: rem(55);
            font-weight: 300;
            color: #27292c;
            text-align: center;
            letter-spacing: rem(3.17);

            @include below($tablet) {
                margin-bottom: rem(50);

                font-size: rem(48);
            }
            @include below($mobile) {
                margin-bottom: rem(30);

                font-size: rem(40);
            }
        }

        p {
            margin: 0;

            font-size: rem(24);
            text-align: center;

            @extend .text;

            @include below($tablet) {
                font-size: rem(22);
                line-height: rem(32);
            }

            &:not(:last-of-type) {
                margin-bottom: rem(25);
            }

            &:last-of-type {
                margin-bottom: rem(48);
            }

            span {
                font-weight: 400;
                color: $red_crismon;
            }
        }
    }

    &__offer-contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(80);
        padding: 0 rem(88);

        @include below($tablet) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }

        @include below($mobile) {
            padding: 0 rem(16);
            align-items: flex-start;
        }

        p {
            display: inline-flex;
            align-items: center;
            margin: 0;

            color: $grey_chateau;

            @extend .text;

            @include below($tablet) {
                &:not(:last-of-type) {
                    margin-bottom: rem(32);
                }
            }

            @include below($mobile) {
                align-items: flex-start;
            }

            &:nth-of-type(1) {
                .dillers__offer-icon {
                    @include below($mobile) {
                        margin-top: rem(3);
                    }
                }
            }
            &:nth-of-type(2) {
                .dillers__offer-icon {
                    @include below($mobile) {
                        margin-top: rem(3);
                    }
                }
            }
            &:nth-of-type(3) {
                .dillers__offer-icon {
                    @include below($mobile) {
                        margin-top: rem(3);
                    }
                }
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            margin: 0;

            color: $grey_chateau;
            text-decoration: none;

            @extend .text;

            &:not(:last-of-type) {
                margin-right: rem(8);
            }
        }

        .diller__whatsapp {
            position: relative;

            &:hover {
                &::after {
                    bottom: rem(-2);
                }
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: rem(1);
                border-bottom: rem(1) dashed $grey_chateau;
                bottom: 0;
                left: 0;
                transition: bottom .3s;
            }
        }

        span,
        a {
            color: $grey_abbey;
        }
    }

    &__offer-icon {
        margin-right: rem(15);
        flex-shrink: 0;

        fill: #a7aaad;

        @include below($mobile) {
            margin-right: rem(8);
        }
    }

    &__offer-links {
        display: flex;
        justify-content: center;

        @include below($tablet) {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0;
            margin-bottom: rem(-25);
        }
        a {
            height: rem(48);
            padding: 0 rem(24);

            @extend .button;
            width: auto;

            &:not(:first-of-type) {
                @extend .button_gray;
            }

            &:not(:last-of-type) {
                margin-right: rem(16);

                @include below($tablet) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            @include below($tablet) {
                width: rem(290);
                margin-bottom: rem(25);
                margin-right: 0;
                margin-left: 0;
            }
            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(20);
                padding: 0 rem(16);
            }
        }
    }

    &__offer-why {
        display: flex;
        margin-bottom: rem(80);
        background-color: #f1f1f1;

        @include below($tablet) {
            flex-direction: column;
            align-items: center;
            padding-bottom: rem(64);
        }

        @include below($mobile) {
            width: calc(100% + 32px);
            margin-right: rem(-16);
            margin-left: rem(-16);
        }

        @include below($mobile-small) {
            width: calc(100% + 16px);
            margin-right: rem(-8);
            margin-left: rem(-8);
        }
    }

    &__offer-video {
        width: rem(690);
        height: rem(410);
        margin-right: rem(50);

        @include below($tablet) {
            width: 100%;
            height: rem(430);
            margin-right: 0;
            margin-bottom: rem(64);
        }
        @include below($mobile) {
            width: 100%;
            height: rem(190);
        }
    }

    &__offer-advantages {
        padding-top: rem(48);

        @include below($tablet) {
            padding: 0 rem(48);
            width: 100%;
        }

        @include below($mobile) {
            padding: 0 rem(16);
        }

        p {
            margin: 0;
            margin-bottom: rem(16);

            @extend .third-title;

            @include below($tablet) {
                position: relative;

                padding-bottom: 0;
                margin-bottom: rem(16);

                &::after {
                    display: none;
                }
            }
            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(25);

                font-size: rem(30);
                line-height: normal;
            }
        }

        ol {
            padding: 0;
            margin: 0;

            list-style-type: none;

            counter-reset: item;

            li {
                position: relative;

                padding-left: rem(24);
                margin-bottom: rem(8);

                @extend .text;
                @include below($mobile) {
                    height: auto;
                    min-height: rem(27);
                    margin-bottom: rem(15);

                    font-size: rem(18);
                }

                &:before {
                    position: absolute;
                    content: '—';
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    &__offer-wrap {
        width: rem(945);
        margin: 0 auto;

        @include below($tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
    }

    &__offer-staff {
        display: flex;
        justify-content: space-between;

        @include below($tablet) {
            display: inline-flex;
            width: 100%;
        }

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__offer-heading {
        width: 100%;

        h4 {
            @extend .second-title;
            margin-bottom: rem(40);
        }

        p {
            @extend .text;
            margin: 0 auto;
            margin-bottom: rem(48);
            text-align: center;
            width: rem(760);

            @include below($tablet) {
                width: 100%;
            }
        }
    }

    &__offer-footer {
        padding: 0 rem(35);
        padding-top: rem(35);
        padding-bottom: rem(30);

        border-radius: rem(5);
        background-color: #f1f1f1;

        @include below($tablet) {
            width: 100%;
        }
        @include below($mobile) {
            padding: 0 rem(15);
            padding-top: rem(30);
            padding-bottom: rem(40);
        }

        h4 {
            margin: 0;
            margin-bottom: rem(15);

            font-size: rem(24);
            color: $red_crismon;
            text-align: center;
            letter-spacing: rem(1.3);

            @extend .text;
        }

        p {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;

            font-size: rem(18);
            color: $grey_abbey;
            text-align: center;

            @extend .text;
            @include below($tablet) {
                flex-wrap: wrap;

                line-height: 1.4;
            }

            span {
                padding: 0 rem(15);

                color: $grey_chateau;
            }
        }

        .dillers__offer-icon {
            margin-right: rem(10);
            margin-left: rem(35);
        }
    }

    &__offer-what {
        margin: 0 auto;
        margin-bottom: rem(80);
        width: rem(780);

        @include below($tablet) {
            width: rem(480);
        }

        @include below($mobile) {
            width: 100%;
        }


        h3 {
            margin: 0;
            margin-bottom: rem(24);
            padding-left: rem(34);
            @extend .third-title;
        }

        ul {

            @include below($mobile) {
                padding-left: rem(26);
            }

            li {
                position: relative;
                color: #50555a;
                @extend .text;
                list-style: none;

                &:not(:last-of-type) {
                    margin-bottom: rem(24);
                }

                &::before {
                    content: '—';
                    position: absolute;
                    top: 0;
                    left: rem(-25);
                }
            }
        }
    }

    .easy-text {
        display: flex;
        flex-direction: column;

        h4 {
            color: #50555a;
            font-family: $playfair;
            font-size: rem(24);
            font-weight: 400;
            line-height: rem(22);
            margin: 0;
            margin-bottom: rem(16);
        }

        p {
            margin: 0;
            color: #50555a;
            font-family: $helvetica;
            font-size: rem(16);
            font-weight: 300;
            line-height: rem(22);

            &:not(:last-of-type) {
                margin-bottom: rem(30);
            }
        }
        &:first-of-type {
            margin-bottom: rem(48);
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .easy-info {
        display: flex;
		flex-direction: column;
		align-items: center;



        iframe {
            flex-shrink: 0;
			margin-bottom: rem(48);

            @include below($mobile) {
                width: 100%;
                height: rem(160);
            }
        }


    }
}
