.lamps-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: rem(128);

	.titles {
		padding-top: 0;
	}

	&__button {
		@extend .button;
		@extend .button_gray;
	}
}
