.lamps-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: rem(64);

	.titles {
		padding-top: 0;
		margin-bottom: rem(48);

		.second-title {
			margin-bottom: 0;
		}
	}

	&__button {
		@extend .button;
		@extend .button_gray;
	}
}
