.lamps {
	@extend .container;
    padding-bottom: rem(120);

	.titles {
		margin-bottom: rem(130);
	}

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: auto;
        margin-bottom: rem(-120);
        margin-left: auto;
        width: 880px;
        
        @include below($mobile) {
            margin-right: 0;
            margin-left: 0;
        }
    }

	.lamp {
        margin: 0 rem(10);
        margin-bottom: rem(120);
        width: calc(33% - 20px);
        @include below($tablet-small) {
            width: calc(50% - 20px);

            &:nth-of-type(n+7) {
                display: none;
            }
        }
        @include below($mobile) {
            width: 100%;
            margin: 0;
            margin-bottom: rem(120);
        }
    }
}
