.lamp {
    position: relative;

    padding: 0 rem(15);
    padding-bottom: rem(45);

    border-radius: rem(5);
    box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, 0),
    0 0 rem(2) rgba(0, 0, 0, .08),
    inset 0 rem(-1) 0 rgba(0, 0, 0, .12);

    @include above($tablet-small) {
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0 rem(8) rem(8) rgba(0, 0, 0, .12),
            0 0 rem(8) rgba(0, 0, 0, .08),
            inset 0 rem(-1) 0 rgba(0, 0, 0, .12);
        }
    }

    &__gallery {
        width: rem(211);
        margin: 0 auto;
        overflow: visible;
        height: 190px;
        background: white;
        margin-bottom: 32px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &.hidden {
            display: none;
        }
        &.visible {
            display: block;
            margin-top: -64px;
            margin-bottom: 32px;
        }
    }

    &__tab-name {
        width: 100%;
        height: rem(17);
        margin-top: rem(118);
        margin-bottom: rem(15);

        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 100;
        color: #888;
        text-align: center;
    }

    &__tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: rem(20);

        @include below($tablet-small) {
            margin-bottom: 0;
        }
    }

    &__title {
        margin: 0 auto;
        margin-bottom: rem(5);

        font-family: $futura;
        font-size: rem(26);
        font-weight: 400;
        color: #6b6b6b;
        text-align: center;
        letter-spacing: rem(1);
        text-transform: uppercase;
        position: relative;
        margin-bottom: 42px;

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            width: 5rem;
            height: 2px;
            background-color: #babec2;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 48px;
        }
        @include below($tablet-small) {
            font-size: rem(24);
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(25);
    }

    &__tab-text {
        &.hidden {
            display: none;
        }
        &.visible {
            display: block;
        }
    }

    &__text {
        height: rem(17);
        margin: 0;
        margin-left: rem(12);

        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
        color: #6b6b6b;
        text-align: left;
    }

    &__model,
    &__power,
    &__temperature {
        display: flex;
        align-items: center;
        margin: auto;
    }

    &__price {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    &__price-icon {
        fill: $red_crismon;

        @include below($tablet-small) {
            width: rem(20);
            height: rem(26);
        }
    }

    &__summ {
        font-family: $helvetica;
        font-size: rem(32);
        font-weight: 500;
        color: rgba(229, 44, 24, 1);
        text-align: center;
        text-shadow: 0 rem(-1) #800;

        @include below($tablet-small) {
            font-size: rem(36);
        }
    }

    &__zoom {
        position: absolute;
        bottom: rem(12);
        left: rem(12);

        cursor: pointer;
    }

    &__link {
        outline: none;
    }
}
