// colors
$black: #485058;
$gray: #babec2;
$white: #ffffff;
// end colors

// fonts

$futura: 'futura-pt';
$playfair: 'playfair-display';
$helvetica: 'helvetica-neue';
// end fonts


// breakpoints

$screen_mobile: 360px;
$screen_tablet: 768px;
$screen_desktop: 1024px;

// end breakpoints

// spacings

$s1: 96px;
$s2: 80px;
$s3: 64px;
$s4: 48px;
$s5: 40px;
$s6: 32px;
$s7: 24px;
$s8: 16px;
$s9: 8px;

//
