// colors
$black: #485058;
$gray: #babec2;
// end colors

// fonts

$futura: 'futura-pt';
$playfair: 'playfair-display';
$helvetica: 'helvetica-neue';
// end fonts


// breakpoints

$screen_mobile: 360px;
$screen_tablet: 768px;
$screen_desktop: 1024px;

// end breakpoints
